[2021-03-03 10:57] #17177 closed, assigned to nobody

[2021-03-03 10:58] #16384 closed, assigned to nobody

[2021-03-03 10:58] #17144 closed, assigned to nobody

[2021-03-04 02:53] timotheecour opened #17249 "regression (1.4 => devel): rst: paragraph incorrectly created on line break, in 1st line of a list"
### Example
[code]

### Current Output
the bug is that there is a new paragraph after `The rationale is to require` and after `possible, e.g.:`
![image](https://user-images.githubusercontent.com/2194784/109904033-7ad66c00-7c51-11eb-9e08-0a1070f2009b.png)

### Expected Output
![image](https://user-images.githubusercontent.com/2194784/109904072-86299780-7c51-11eb-89a4-2cfb77a790e8.png)

### Addition

[2021-03-04 08:31] tersec opened #17253 "Generic template parameter order determines whether compilation succeeds"
A template can't bind to generic types in a specific combination involving `array` and `int64` when parameter are orders in one way, but not when they're reversed.

### Example
[code]

### Current Output
[code]

### Expected Output
A successful compilation, or at least some error message explaining why the apparently inconsistent situation makes sense.

### Additional Information
I've checked that

[2021-03-04 09:14] timotheecour opened #17254 "`=>` doesn't work with {.async.} (neither js nor c)"
### Example 1
[code]

Current Output:
Error: implementation of ':anonymous' expected

### Example 2
[code]
Current Output:
Error: Expected return type of 'Future' got 'auto'

### Proposed Solution
see https://github.com/nim-lang/Nim/issues/17254#issuecomment-865274977 which is a working POC

### Additional Information
* 1.5.1 507873be25baa06d7da3c44b0c36d253c850625d
* this follows https://github.c

[2021-03-04 09:26] timotheecour commented on #16834
related: [`=>` doesn't work with {.async.} (neither js nor c) · Issue #17254 · nim-lang/Nim](https://github.com/nim-lang/Nim/issues/17254)

[2021-03-04 15:24] ringabout commented on #17197
It works with `--gc:arc`

[code]

[2021-03-04 15:32] ringabout commented on #11630
`newruntime` is taken over by `arc/orc` and the snippet works with `--gc:orc`.

[code]

[2021-03-04 15:32] #11630 closed

[2021-03-04 15:35] ringabout commented on #12434
`newruntime` is taken over by `arc/orc` and codes above work with `--gc:arc`.

[2021-03-04 15:35] #12434 closed

[2021-03-04 15:37] ringabout commented on #11267
`newruntime` is taken over by `arc/orc`.

It works with refc, but fails with `--gc:arc`.

[code]

[2021-03-04 19:38] Unaimend commented on #17197
Thats interesting, I am pretty sure there are still a few errors in the code, but still I think the error message should not come from the c compiler but from nim instead.

[2021-03-04 21:31] a-mr commented on #17249
@timotheecour Thanks, well spotted. Also this problem is present in 2 other places in the nim repo.

However you are not quite right: RST requires to have indentation on the second and subsequent lines of enum.item, otherwise the entire thing should be parsed as a single paragraph.

[2021-03-04 22:26] timotheecour commented on #17247
@h4cnull PR welcome

[2021-03-05 00:28] timotheecour opened #17260 "nim doc/rst2html renders `\v`, `\\`, etc incorrectly"
### Example 1
[code]

### Current Output
1st line incorectly rendered:
![image](https://user-images.githubusercontent.com/2194784/110049139-19bca000-7d06-11eb-889c-1bbf94b8d2c1.png)

### Expected Output
![image](https://user-images.githubusercontent.com/2194784/110049183-3658d800-7d06-11eb-982a-ea960e2c12d2.png)

### Example 2
ditto with rst2html:
[code]
also renders incorrectly 1st line

### Exam

[2021-03-05 01:51] ringabout commented on #12443
`newruntime` is taken over by `arc/orc` and is deprecated.
The program works with `--gc:arc`.

[2021-03-05 01:51] #12443 closed

[2021-03-05 01:54] ringabout commented on #12261
The tested program works with `--newruntime` and `arc`.

[2021-03-05 01:57] #15720 closed, assigned to nobody

[2021-03-05 02:05] ringabout commented on #12004
It works with `newruntime` and `arc`.

[2021-03-05 02:05] #12004 closed

[2021-03-05 08:40] ringabout opened #17264 "isolate doesn't work"
[code]

C error because `mIsolated` doesn't work.

[2021-03-05 10:31] #12261 closed

[2021-03-05 11:08] #16834 closed, assigned to nobody

[2021-03-05 11:24] ringabout opened #17267 "js should ignore threads:on"
[code]

nim js -r --threads:on app.nim

[code]

Nim v1.4.2
Nim devel

[2021-03-05 12:21] h4cnull commented on #17247
I back up lib/nimbash.h  and add comment these lines，error fixed。
274 //#else
275 //#define NIM_STATIC_ASSERT(x, msg) typedef int NIM_STATIC_ASSERT_AUX[(x) ? 1         : -1];

323 //NIM_STATIC_ASSERT(sizeof(NIM_BOOL) == 1, ""); // check whether really needed
542 //NIM_STATIC_ASSERT(sizeof(NI) == sizeof(void*) && NIM_INTBITS == sizeof(NI)*8        , "");

[2021-03-05 13:39] #17264 closed, assigned to ringabout

[2021-03-05 13:41] #7589 closed

[2021-03-05 15:04] quantimnot commented on #17260
I'm not really familiar with RST and MD, but it seems to me that there are spec conflicts between RST inline interpreted text and MD inline code.

https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#inline-markup-recognition-rules
vs
https://github.github.com/gfm/#code-span

RST:

GitHub MD:

Fixing this issue means not supporting RST inline interpreted text. Which also means the `.

[2021-03-05 15:30] ringabout commented on #3128
please explain if someone knows, feel free to reopen the issue.

[2021-03-05 15:30] #3128 closed

[2021-03-05 15:34] FedericoCeratto commented on #782
For example the [debian ca-certificates changelog](https://metadata.ftp-master.debian.org/changelogs//main/c/ca-certificates/ca-certificates_20210119_changelog) shows removals of obsoleted CAs but also blocking of untrusted ones.

The refreshing of CRLs is a decades-old caching problem. Perhaps doing an automated refresh every N days could be acceptable for Nim on Windows, if N is user-configurabl

[2021-03-05 15:37] #4682 closed

[2021-03-05 15:45] ringabout commented on #4617
update original example making it compile, but I haven't updated proxy
[code]

[2021-03-05 17:05] timotheecour commented on #5342
eg use case: destructor calling another destructor, eg: https://github.com/nim-lang/RFCs/issues/244
[code]

[2021-03-05 18:47] timotheecour commented on #5685
D20210305T104932

works for me as of nim 1.5.1 f28dc2c61ed2ee4452441c1a5508cb1e46a8f288
nim --cc:clang cpp main
nim c main
nim cpp main

these also work, after `brew install gtk+`
nim r -b:cpp main
nim r main

## TODO before closing this:
- [x] add gtk2 to important_packages and make sure that a sufficient test is run
  => https://github.com/nim-lang/Nim/pull/17300
- [x] add gtk+ `foreignDep` to g

[2021-03-05 18:53] #5685 closed

[2021-03-05 19:12] Araq commented on #5342
I wrote this 4 years ago when destructors worked very differently...

[2021-03-05 20:40] samdmarshall commented on #4347
I'm having this same problem, where i need to output an RFC822 valid date and the timezone formatting is not correct. the [specification](https://www.w3.org/Protocols/rfc822/#z28) outlines:

[code]

that the formatting needs to be without the colon that gets added as a separator for the hours and minutes units of the digits. after looking over the source code for the `times` module, it looks like

[2021-03-06 01:16] ghost commented on #16462
https://github.com/nim-lang/Nim/pull/15935 also breaks https://github.com/ftsf/nico - https://github.com/ftsf/nico/issues/49 (not sure if this is the same bug):
[code]

[code]

[code]

 The error is:
[code]

[2021-03-06 02:06] timotheecour commented on #17267
ok.
* in future we can introduce `--webworkers` for js threads (https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers) instead of reusing --threads
* see also https://github.com/nim-lang/RFCs/issues/349 which would prevent running redundant compilations/runs when using js and c backends with options.

[2021-03-06 11:00] ringabout opened #17275 "parseJson big number more than safe number in JS backend"
[code]

[code]

[2021-03-06 13:03] #6025 closed

[2021-03-06 13:05] #15015 closed, assigned to nobody

[2021-03-06 13:06] ringabout commented on #16449
If someone can reproduce this issue, feel free to reopen.

[2021-03-06 13:06] #16449 closed, assigned to nobody

[2021-03-06 13:49] xflywind commented on #12005
`--newruntime` is taken over by `arc/orc`, so I add a testcase with `arc`.

[2021-03-06 14:03] ringabout commented on #12849
Please provide a reproducible example

[2021-03-06 14:15] Clyybber commented on #6786
Compiler doesn't crash anymore. Infinitely recurses at runtime (for both refc and arc), but that's a seperate issue.

[2021-03-06 14:18] #6786 closed

[2021-03-06 15:51] zqqw commented on #12849
This was so long ago I can't really remember what the problem was, it was some build error after a Nim version update, it was fixed in Pakku ages ago.

[2021-03-06 16:03] ringabout commented on #12849
thanks, feel free to reopen if someone can find more concrete examples.

[2021-03-06 16:03] #12849 closed

[2021-03-06 21:35] #16437 closed, assigned to Clyybber

[2021-03-06 22:24] timotheecour opened #17279 "runnableExamples gives wrong values for number literals"
### Example
[code]

### Current Output
nim doc main
ok0
-1
ok1
4294967295

### Expected Output
ok0
-1
ok1
-1

### Additional Information
* 1.5.1 f28dc2c61ed2ee4452441c1a5508cb1e46a8f288
* originally reported to me by @xflywind
* the problem stems from fact that the generated file contains:
/Users/timothee/git_clone/nim/timn/build/nimcache/runnableExamples/t11969_examples1.nim
[code]

* related but

[2021-03-07 02:41] ringabout commented on #3203
The issues seem to be fixed by https://github.com/nim-lang/Nim/pull/14013

[2021-03-07 02:41] #3203 closed

[2021-03-07 02:47] timotheecour opened #17280 "`rst.whichMsgClass` is buggy: relies on $enum instead of $ast(enum)"
/cc @a-mr
root cause for https://github.com/nim-lang/Nim/pull/17257#discussion_r588589346

the problem is this code:
[code]
relies on `$k` which doesn't reflect the ast symbol of the enum

### Additional Information
1.5.1 07df4fe560850b036e84750aced746daa58e2427

### proposed solution
I'd like all 3 things below:

## fix 1
use range:
[code]
then:
[code]

## fix 2
replace
[code]
(eg from https://gi

[2021-03-07 02:50] ringabout commented on #5431
Nim devel on windows
`nim r --eval:"import kissfft/kissfft"` this compiles

cmdfile.nim(1, 15) Warning: imported and not used: 'kissfft' [UnusedImport]

[2021-03-07 02:50] #5431 closed

[2021-03-07 02:54] ringabout commented on #5075
If this still is a issue, or someone can provide a reproducible example, feel free to reopen.

[2021-03-07 02:54] #5075 closed

[2021-03-07 04:45] ringabout commented on #12005
`newruntime` is taken over by `arc/orc`.

It works with `--gc:arc`.

It doesn't work with `--gc:orc`.

[code]

It failed for all platforms on CI

![image](https://user-images.githubusercontent.com/43030857/110229855-64792a80-7f47-11eb-8d26-5f4d65f4f61f.png)

[2021-03-07 05:12] timotheecour commented on #12005
works for me on osx as of 1.5.1 b8c04bdb929f72ed8214122b255e88db9e713774

[2021-03-07 07:51] beef331 opened #17285 "Macro generating an internal error"
I'm uncertain about how to minify this issue so will mention everything I can.

I have this [macro](https://play.nim-lang.org/#ix=2RZv) which generates [identical AST](https://www.diffchecker.com/LPTy2r7X) to what `dumptree` responds with. Which is where this weirdness starts, if I take the `astGenRepr` and put it in a macro it compiles and runs with no [problem](https://play.nim-lang.org/#ix=2RZy

[2021-03-07 08:22] metagn opened #17286 "nim check -b:js does not undefine OS symbols"
### Example
[code]

### Current Output
For `nim check -b:js file.nim` on windows:

[code]

### Expected Output
compiles

[code]

[2021-03-07 10:46] ringabout commented on #7612
Two case examples seem to work with `arc`.

[2021-03-07 11:13] #17267 closed, assigned to nobody

[2021-03-07 11:19] Araq commented on #12005
It got fixed indeed.

[2021-03-07 11:19] #12005 closed

[2021-03-07 11:27] ringabout commented on #12005
Really? But the test can't pass CI with `--gc:orc`?

[2021-03-07 11:30] ringabout commented on #12005
But I agree it it duplicated with https://github.com/nim-lang/Nim/issues/14901

[2021-03-07 11:50] ringabout commented on #13583
Reduced example
[code]

[2021-03-07 11:59] ringabout commented on #13583
@gogolxdong
Workaround: always handle return values

[code]

[2021-03-07 12:17] a-mr commented on #17280
To have `symbolName` (fix 3) is generally useful. And it's closest to the original idea of code `$k[1]`; to change it to `k.symbolName[1]`

[2021-03-07 15:50] nilslindemann opened #17290 "Question regarding installation"
Hello,

I am just installing Nim 1.4.4 on Windows 7. This runs smooth. I downloaded the x64 zip, unzipped it to my programs directory and ran finish.exe. It added the two Nim directories to the PATH, downloaded and installed MinGW to `<nim install dir>dist/mingw64`, patched the config file, and added Nim to the start menu.

I am a bit noob with compilers and stuff, and I have one question: The [In

[2021-03-07 15:57] nilslindemann opened #17291 "Ambiguities in the Windows Installing Instructions"
It is not a big thing, but I wonder, in the [Windows Installing instructions](https://nim-lang.org/install_windows.html), shouldn't the headings "Binary installation", "Compiler dependencies" and "Other dependencies" be h2 headings instead of h1 headings? Because they seemingly belong to "Manual Installation". And is the "Binary Installation" heading needed?

Otherwise, these are noob-friendly ins

[2021-03-07 16:01] ringabout commented on #17291
it's the issue of
 https://github.com/nim-lang/website/blob/master/jekyll/install_windows.md
PR is welcome there.

[2021-03-07 16:02] nilslindemann commented on #17291
Thanks @xflywind, I will make a PR

[2021-03-07 16:02] #17291 closed, assigned to nobody

[2021-03-07 19:09] nilslindemann commented on #17290
After reading [this SO post](https://stackoverflow.com/questions/14987857/what-exactly-is-cacert-pem-for), I guess the cacert.pm is used by the libcurl.dll. I just copied that file.

[2021-03-07 19:09] #17290 closed, assigned to nobody

[2021-03-07 19:42] timotheecour opened #17292 "`repr` doesn't work with hex literals (and other `repr` bugs now fixed)"
## bugs
- [x] `do:` renders badly => https://github.com/nim-lang/Nim/pull/17623 and https://github.com/nim-lang/Nim/pull/17449
- [x] bug 2: `(discard)` renders badly => https://github.com/nim-lang/Nim/pull/17455
- [ ] bug 3: hex numbers render badly, silently giving wrong results, eg 0xFFFFFFFF, see Example 1  below
- [x] bug 4: `nnkAccQuoted` renders badly, see Example 2 below => https://github.c

[2021-03-07 21:40] deech opened #17294 "Recursion in the VM under orc/arc mutates contents of a seq to their default values"
Recursion mutates the contents of an immutable `seq` argument to their default values.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]
### Compile Command
[code]

[code]

[2021-03-08 02:17] ghost commented on #17294
Duplicate of https://github.com/nim-lang/Nim/issues/17199

[2021-03-08 02:17] #17294 closed, assigned to nobody

[2021-03-08 02:20] ghost commented on #17199
Example from #17294:
[code]

[2021-03-08 08:36] Araq commented on #17199
Sink parameters are currently under the ARC/ORC umbrella.

[2021-03-08 13:59] ringabout opened #17298 "double free"
https://gist.github.com/xflywind/dd2f86cbf4602a8d6bb0d45ed66c93a6

The codes don't use `sink` parameters(I removed them), it seems to be related with `=destroy` being used twice.

[code]

compile it with `nim c -r --gc:orc --d:ssl --threads:on -d:useMalloc app.nim`,

[code]

compile it with `nim c -r --gc:orc --d:ssl --threads:on app.nim`

[code]

it works with `refc`

Nim devel + Linux
https://gi

[2021-03-08 14:49] ghost commented on #17298
I reduced it a bit and I'm wondering - is this actually an ARC/ORC issue? Maybe I'm wrong, but from my point of view it seems that the code passes the seq by the raw pointer (`unsafeAddr`) to another thread and uses it. With `refc` that doesn't crash, probably because `refc` doesn't collect stuff right away or some other reason. With ARC/ORC it crashes because the compiler will inject the destroy

[2021-03-08 15:03] ghost commented on #17298
Basically with
[code]

Nim injects destructor calls for `tmp` both in `spawnCrawlers` and `worker` (because it doesn't know that the object was moved to another thread).

Works with
[code]

because then Nim knows that the object was moved to another thread and it doesn't need to inject the destructor in the current proc.

I checked and the channels module from stdlib actually does the same for sen

[2021-03-08 15:09] ringabout commented on #17298
@Yardanico
thanks!

[2021-03-08 15:09] #17298 closed, assigned to nobody

[2021-03-08 17:23] HJarausch opened #17299 "Nim devel tries to link to the non-existent pthread_setaffinity_np function"
On Android (Termux) I have to apply the following patch to ``/usr/lib/nim/system/threadlocalstorage.nim``

I am not sure if it does the real thing when ``setAffinity`` is called, but it links fine now and I could run a patched version of *Weave*

[code]

[2021-03-08 17:55] timotheecour commented on #17298
@xflywind can we make this safer? eg:
can't `wasMoved` be called by `send` ?

[2021-03-09 00:01] ringabout commented on #17298
that's what i did

[2021-03-09 03:42] wyattjsmith1 opened #17303 "Seg fault when compiling variant kind"
When compiling this program, I get a segfault.

### Example
[code]

### Current Output
Playground:
[code]
MacOS (same for both `stable` and `devel`:
[code]

### Expected Output
[code]

### Possible Solution
No suggestions

### Additional Information
Tested on:
* https://play.nim-lang.org/
* MacOS stable
* MacOS devel

This is actually the minimal example I could come up with. This module is simply

[2021-03-09 03:57] wyattjsmith1 commented on #17303
Of course, once I click submit, I realize it's because its an infinite sized type due to recursion. I just need to change `RangeSet*[T] = object` to `RangeSet*[T] = ref object of RootObj`. That said, the compiler shouldn't seg fault here and should have a clear message explaining the issue.

[2021-03-09 06:09] #13491 closed, assigned to nobody

[2021-03-09 06:09] #17279 closed, assigned to nobody

[2021-03-09 11:22] #17275 closed, assigned to ringabout

[2021-03-09 16:00] narimiran commented on #4347
Can you please show us your code, i.e. the example of incorrect formatting? Also the current output vs the desired output. (The original examples in this issue are outdated)

EDIT: Nevermind, I've made the original examples to work and/or to show the problem.

[2021-03-09 17:18] samdmarshall commented on #4347
sorry, i thought it was absolutely clear given i pasted the relevant part of the spec (in addition to the issue title): the incorrect formatting is the inclusion of the colon separators between the hour and minute digits (and between the minute and second digits where relevant). i've never seen an implementation that has included colons in the timezone offset, hence my surprise about this - but i

[2021-03-09 19:19] #11225 closed

[2021-03-09 19:28] timotheecour commented on #17260
I don't think that's correct, inline markup applies inside a text block, not a interpreted text block (things inside a single backtick pair)

Furthermore, as you can see in https://github.com/quantimnot/Nim/blob/manual_rst_backtick_refactor/doc/manual.rst, after your PR the rst renders fine in github for

[code]
![image](https://user-images.githubusercontent.com/2194784/110526290-759e7480-80ca-11e

[2021-03-09 21:19] a-mr commented on #17260
Hi @timotheecour . Yes, I think you are almost correct.

The RST spec does not cover escaping in interpreted text explicitly but the idea is mostly clear.

De facto behavior of python rst2html is this:
* With some roles escaping with backslash works
* with the code role it mostly does not. The only exception is for backslash+single back-tick: \ \` where it is still escaped. (The `code` role is [no

[2021-03-09 21:37] lhupfeldt commented on #690
Yes, please let us have an option for file:line:col. This is probably the most universal error format.

[2021-03-09 21:46] timotheecour commented on #11167
candidate places to look at for a fix:
* `implicitIterator`
* binding mechanism in generics that should transform `for x in b` by `for x in items(b)` (ditto with pairs) before binding is done; but possibly with `mixing items` ?

[2021-03-09 22:38] kunitoki opened #17313 "Impossible to generate binary without run it"
After looking the documentation, i am not able to link an executable without running it too. There seems to be no command line option to generate a binary only.

There seems to be options for `--compileOnly` (will just generate c, cpp or objc files in cache) and `--noLinking` where i get compiled objects in the cache but no final binary. Using `--run` it's the only flag that will generate the bina

[2021-03-09 23:31] timotheecour commented on #17313
[code]
?

[2021-03-10 00:26] LotfiAghel commented on #17285
hi
two symbols have same name but not equal you cloned the AST whitout cloning symbols
your code return AST same as following code

[code]

on echo every things seems true but not true
when you use parseStmt convert to string and parse truly

[2021-03-10 00:36] beef331 commented on #17285
I do not know what you mean, the AST of the `treeRepr` is identical to the `dumptree` result of the `repr`, the `astgenrepr` also compiles just fine. I remove all remnants of the symbols and use identifiers.

edit: If I understand your implication that the ident is already looked up that's not how it works since this compiles just fine
[code]

[2021-03-10 01:17] timotheecour opened #17314 "inline triple backtick ```foo.bar``` in doc comment incorrectly identifies `foo` as lang, stripping it in docs"
### Example

[code]

### Current Output
doc comment in nim code:

<img src="https://user-images.githubusercontent.com/2194784/110560022-1c4e3980-80fa-11eb-8a81-692d66578d8d.png" height="200">

same code as comment but in rst file:

<img src="https://user-images.githubusercontent.com/2194784/110560065-2ec87300-80fa-11eb-9458-37bcfd3a878b.png" height="200">

### Expected Output
current output (strip

[2021-03-10 05:49] timotheecour commented on #9440
## right before https://github.com/nim-lang/Nim/pull/14790

Destroyed
()
Destroyed
()
Destroyed
()
end
Destroyed

## right after:
Destroyed
()
Destroyed
Destroyed
()
Destroyed
Destroyed
()
Destroyed
end

## devel 1.5.1 2f213db7eed7fb715b803559b38af4148cff02e1:
()
Destroyed
()
Destroyed
()
Destroyed
end

[2021-03-10 06:01] timotheecour commented on #14035
see also tests/js/tunittest_error.nim flaky test refs https://github.com/timotheecour/Nim/issues/648, slightly concerning

[2021-03-10 06:04] timotheecour commented on #17313
closing, please re-open or add a comment if this doesnt' work

[2021-03-10 06:04] #17313 closed, assigned to nobody

[2021-03-10 06:16] #16607 closed, assigned to nobody

[2021-03-10 06:46] kunitoki commented on #17313
doh, that works indeed. i think i might have used `nim c -c foo.nim` when i was thinking i just used `nim c foo.nim`.

thanks for the clarification !

[2021-03-10 06:50] #9440 closed

[2021-03-10 07:33] Araq commented on #11167
Yeah... But it changes the AST and isn't correct for when `b` ends up being an iterator...

[2021-03-10 10:32] ringabout commented on #8236
the issue has been fixed

now it gives
[code]

[2021-03-10 10:32] #8236 closed

[2021-03-10 11:01] xflywind commented on #6691
It works with new style concept

[code]

prints `true`.

[2021-03-10 11:11] dadadani opened #17319 "Unable to generate destructor for generic type with ARC/ORC"
The Nim compiler is unable to compile code if ARC or ORC are used, but works fine with the default one.

### Example
[code]

### Current Output
The program fails to compile
[code]

### Expected Output
Should compile

### Additional Information
Tested on the latest nightly
[code]

[2021-03-10 18:15] alaviss opened #17322 "Borrowing mutable operations from distinct types via conversion doesn't work when the base type is a generic type."
### Example
[code]

### Current Output
[code]

### Additional Information
- While not demonstrated here, manual borrowing doesn't work either.

- This issue doesn't happen when `A` is not a generic:

[code]

[code]

[2021-03-10 18:50] cooldome commented on #17319
I had a look. The issue is that type BrokenObject first requires copy/destruction in the closure iterator, hence type bound operations are generated in lift lambda pass and lift lambda pass can't instantiate generics.

There is no easy fix for this one, large changes in compiler required.
I would say that we need to move detection pass of lambda lafiting into sempass2 and store it result in proc s

[2021-03-10 18:51] Araq commented on #17319
We do this already, to some extend as a similar bug was recently fixed.

[2021-03-10 20:07] timotheecour commented on #6691
in future, we should add test cases before closing issues

reduced: looks like a concept can't be used in another concept (gives: `too nested for type matching`)

[code]

## future work
* improve `{.explain.}` to make it work as a pushable pragma
* maybe expose above template `explain` somewhere (typetraits?)

[2021-03-10 20:11] timotheecour commented on #17280
@a-mr fix 3 has been merged so you can go ahead and use it to close this issue

[2021-03-10 20:21] alaviss commented on #17299
It doesn't. The `sched_setaffinity` syscall affect the entire program, not just the thread.

[2021-03-10 20:35] timotheecour opened #17324 "nim doc/rst2html output should show parsing warnings in generated html"
/cc @a-mr
it's too easy to forget about warnings that occur during nim doc generation, because nim's CI (or other repo's CI) typically don't use `--warningAsError:listOfRstSpecificWarnings`

we should show warnings in generated html to surface those so they're more likely to be fixed (but possibly we can have an option to opt out of this)

### Example
for example https://github.com/nim-lang/Nim/pu

[2021-03-10 23:04] timotheecour opened #17325 "CI fails on azure 32 bit linux Linux_i386: sudo apt-fast install fails"
I'm seeing:
`nim-lang.Nim (packages Linux_i386) Failing after 58s — packages Linux_i386 failed`
in several unrelated PRs (eg https://github.com/nim-lang/Nim/pull/17257#issuecomment-796247652)

eg https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/14075/logs/38

[code]

(refs https://github.com/nim-lang/Nim/issues/3123#issuecomment-122125096)
refs:
* sudo apt-get

[2021-03-10 23:20] timotheecour commented on #17325
https://dev.azure.com/nim-lang/Nim/_build/results?buildId=14079&view=logs&jobId=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&j=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&t=38200048-f2b3-5d1c-03e3-3014d58a3656 shows the 1st place where there's a problem:

instead of:
[code]
as in https://dev.azure.com/nim-lang/Nim/_build/results?buildId=14063&view=logs&jobId=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&j=ba7bbfa4-f55c-5

[2021-03-11 00:53] alaviss commented on #17325
Hmm, `apt-fast` should have exited right here...

In bash without `set -e`, the exit code is based on the last command run, and the last command was `apt-fast`. So I guess `apt-fast` didn't error out?

[2021-03-11 01:19] timotheecour commented on #17325
I think it did but not using `set -e` is a bug as it keeps going instead of error-ing immediately. Even if the exit code is based on last command, you'd get a false success with:
[code]

as I've observed in https://github.com/nim-lang/Nim/pull/17326, we need to add `set -e` in the bash section to exit on 1st error; I will do that in upcoming PR to fix this

* I have 1 PR that fixes CI on i386 here

[2021-03-11 01:21] alaviss commented on #17325
I would like to avoid this if possible.

[2021-03-11 02:37] alaviss commented on #17325
In the future I'll enginner a docker image as CI for nim, which should avoid all of these stupid issues with `apt`.

If you want to upgrade the ubuntu version @timotheecour, please upgrade it for all architectures.

[2021-03-11 02:56] jivank opened #17331 "Memory Leak: asynchttpserver reads entire request body to memory"
The following line of code results in reading the entire request body which excessive memory consumption on large file uploads for any dependent web frameworks like prologue and jester:
https://github.com/nim-lang/Nim/blob/9819fb21d8db818c0b3027d4e6ba58dc550b77c0/lib/pure/asynchttpserver.nim#L286

Should an RFC be opened to further discuss the design and implementation? Getting this corrected will

[2021-03-11 03:13] timotheecour commented on #16338
to reproduce the bug, un-disable the section of the test disabled in https://github.com/nim-lang/Nim/pull/17113 (see also https://github.com/nim-lang/Nim/pull/17310 which is a not yet successful attempt at minimizing it and making the test fail more deterministically)

[2021-03-11 03:39] timotheecour commented on #17325
=> replied in https://github.com/nim-lang/Nim/pull/17327#issuecomment-796396592

[2021-03-11 13:03] #13780 closed, assigned to Clyybber

[2021-03-11 13:03] #14325 closed, assigned to nobody

[2021-03-11 15:43] narimiran commented on #4347
@samdmarshall #17318 is now merged: if you're on Nim devel, you can use `ZZZ` and `ZZZZ` for `+0300` and `+030000`, respectively.

[2021-03-11 18:38] timotheecour commented on #9576
the error msg changed (some of `std/os` can now be used in js backend) so I've re-framed the issue.

This seems hard to solve, a lot of things would need to happen on the js support in stdlib before this is feasible.

[2021-03-11 18:43] timotheecour commented on #4864
I've fixed this in https://github.com/nim-lang/Nim/pull/17092, it now renders fine in github, and was unrelated to use of non-standard extensions.

[2021-03-11 21:32] a-mr opened #17340 "RST minor bugs"
Let us track minor bugs in our RST implementation here.

- [x] 1. prefix role syntax doesn't work. Only postfix syntax does. (see #17514 )
- [x] 2. directive `default-role` does not do anything (see PR #17585)
- [x] 3. make `code` default role (ref. PR: #17260, finished #17585)
- [ ] 4. escape `\` does not work as expected in references
- [x] 5. indentation bugs: some elements don't work on the fi

[2021-03-11 21:57] EriKWDev commented on #8927
This would be amazing ^^

[2021-03-11 21:58] timotheecour commented on #17340
that makes sense for nim files; for rst files, I needed to add `.. default-role:: code` explicitly in https://github.com/nim-lang/Nim/pull/17028 so that it renders as expected in external tools like github. So we could also make `nim rst2html` implicitly assume `.. default-role:: code` (but honor ``.. default-role:: xxx`), and document that the rst also needs `.. default-role:: code` on top to ens

[2021-03-11 22:12] a-mr commented on #17340
For `*.rst` files it would be best to assume the `code` role also but emit a warning (or a hint?) like `no default role specified, assuming ".. default-role:: code"` — to protect Nim users from unpleasant confusion about why Github/Gitlab don't render it properly.

[2021-03-11 22:26] timotheecour commented on #17340
possible slight improvement: only issue the warning/hint if the rst contains at least one place where this would matter (eg: if user only has things like
[code]
it wouldn't trigger)

[2021-03-11 22:32] timotheecour opened #17343 "nim CI broken on amd64:`sudo apt-fast update -qq` failed"
### Example
https://dev.azure.com/nim-lang/Nim/_build/results?buildId=14167&view=logs&jobId=c6054849-8341-5e23-b888-79fd7ec95d3a&j=c6054849-8341-5e23-b888-79fd7ec95d3a&t=bf861bfa-5326-5445-c69a-858de2cd39dc

### Current Output
[code]

### Additional Information
1.5.1 e922d73dd6b74a0ea9e1588bca945662f0797a9c
I added `set -e` in https://github.com/nim-lang/Nim/pull/17327 among other fixes; maybe thi

[2021-03-11 22:54] irdassis opened #17345 "asyncHttpClient uses a lot of memory for big files"
Downloading a file with `asyncHttpClient.downloadFile` uses a lot of memory.

### Example
[code]

### Current Output
Memory usage keeps increasing as the file is downloaded, so for large files you can easily hit an OOM error.

The implementation of `downloadFile`  uses `writeFromStream` which the documentation says "This procedure is perfect for saving streamed data to a file without wasting memor

[2021-03-12 05:11] tommo opened #17351 "C++ backend fails when put inherited object in another object type"
See the code below.

### Example
[code]

C backend - OK on both Mac and Windows.
C++ backend on Mac - OK with refc;  failed with ORC/ARC, error message:
[code]

----
C++ backend on Windows - Failed, error message:
[code]

Tried with both devel and 1.4.4.

[2021-03-12 07:11] #17343 closed, assigned to nobody

[2021-03-12 07:33] #17249 closed, assigned to nobody

[2021-03-12 09:44] Araq commented on #17345
Is it the same with `--gc:orc` too?

[2021-03-12 09:50] Araq commented on #17331
Yes but I consider it so severe that I'm willing to do what it takes, even it means breaking somebody's code.

[2021-03-12 09:59] Araq commented on #17324
That's worse than simply making the build fail.

[2021-03-12 14:34] #12155 closed

[2021-03-12 17:10] ShadowElf37 opened #17357 "BackwardsIndex on a ref array fails to compile in procs"
BackwardsIndex `[^i]` on a `ref array` will fail to compile inside procedures, iterators, funcs, and methods. It will compile if you dereference the array explicitly, but this is contrary to the behavior of normal indices, as well as backwards indices outside a proc.

### Example
[code]

### Error
[code]

[code]

[2021-03-12 17:17] ghost commented on #17357
relevant piece of code in the compiler: https://github.com/nim-lang/Nim/blob/devel/compiler/semexprs.nim#L1475 (if I understand correctly)

[2021-03-12 18:05] timotheecour commented on #17325
Re-opening because the hotfix https://github.com/nim-lang/Nim/pull/17327 worked for 2 days but the i386 linux problem re-occured even though its now using ubuntu 18.04

* note that https://github.com/nim-lang/Nim/pull/17327 shouldn't be reverted since it does other useful things, but changing 18.04 back to 16.04 would be ok inside a fix for this issue
* the `set -e` I added is correct (fail fast)

[2021-03-12 18:29] vercingetorx commented on #17345
For what it's worth this doesn't seem to effect the synchronous client.

[code]

Commenting out ```await client.bodyStream.write(data)``` made my memory usage hold steady at ~8MB. Maybe tied to experimental FutureStream object?

[code]

[2021-03-12 22:48] irdassis commented on #17345
With `--gc:orc` the result is the same. The call to `getTotalMem()` always returns `0.0` but if I check the process memory usage its keeps increasing until around 500MB for a 1GB file.

As commented by @xioren it seems related to the use of `FutureStream`. If instead of using `bodyStream` I write directly to the file the memory usage is fixed at around 8MB.

[2021-03-13 00:29] dom96 commented on #17331
Please check how other libraries deal with this before rushing ahead to change the API in ways similar to the FD problem (that I still don't believe was resolved correctly).

Just because this is a serious problem don't forget that it's been like this for years without any big problems, so yes hurry towards a solution but let's discuss it properly.

[2021-03-13 06:02] ShadowElf37 opened #17362 "unhelpful error message when using [N: int] instead of [N: static[int]] in generic"
This error message is particularly confusing for beginners, who may forget or simply not know to put `static`. Getting compiler noise makes it impossible to determine what the actual issue is with the code.

### Error
[code]

### Expected Output
[code]

### Sample Bad Code
[code]

### Version
[code]

[2021-03-13 07:36] timotheecour commented on #17362
PR welcome

[2021-03-13 19:15] Akira13641 opened #17366 "Building the compiler with GCC 10.2.0 on Windows consistently produces several `-Wstringop-overflow` warnings"
The exact same warnings have been produced for at the very least a year actually, and were given by "9"-series versions of GCC also.

I build the compiler with the following `cmd` commands:

[code]

The warnings produced for the master branch of Nim are as follows, as of today:

[code]

[2021-03-13 22:12] rockcavera commented on #17366
To build the Nim compiler, just type `koch.exe boot -d:release`.

Now, if you still don't have any version of the Nim compiler built (usually how to download the devel with `git clone https://github.com/nim-lang/Nim.git`), then you just need to run the `build_all.bat`, assuming that GCC is already in the system PATH.

Edit: I use Nim on Windows 10 with GCC 10.2.0 and it never gave any problem to b

[2021-03-13 23:30] adammflax opened #17368 "calling a macro that creates a public newEnum inside a unittest suite causes compile errors `Error: 'export' is only allowed at top level`"
If I make a macro that returns a newEnum nim node that is public and call it inside a suite block in the unittest library I currently get compilation errors.  If I call this macro in any other place in the file it compiles fine

I've managed to get a small snippet failing on the latest playground https://play.nim-lang.org/#ix=2SJ7

### Example
[code]

### Current Output
[code]

### Expected Output

[2021-03-14 03:38] Akira13641 commented on #17366
I mean, I don't know how any of that is relevant here. Nim translates Nim to C and invokes a C compiler. The C compiler is what's giving the warning in this case.

Regardless, I went ahead just now and ran exactly the command you suggested, and the only difference is that it took ridiculously longer to build than it normally does, and also gave essentially the same warning but a whole bunch more t

[2021-03-14 08:49] ghost commented on #17366
@Akira13641 C compiler warnings don't matter much when using Nim itself, it's not a priority to fix them, but we should silence them like we do with others I guess

[2021-03-14 09:12] arnetheduck opened #17369 "`raises` not respected for self-referencing closures"
Given the explicit `raises` annotation on `y`, `f(y)` should accept the closure

[code]

[code]

nim 1.2.6, 1.4.4

[2021-03-14 09:28] Akira13641 commented on #17366
It seems like that would depend on what the error was... Nim programs are still ultimately C programs.

[2021-03-14 10:57] ghost opened #17370 "Nim fails to compile on MacOSX 10.10 because of sys/random.h header included in std/sysrand"
Got this bug report from my friend

### Current Output
[code]

### Expected Output
Successful compilation

### Additional information
CPython seems to have hit the same problem before - https://bugs.python.org/issue29057.

If you check https://opensource.apple.com/source/xnu/xnu-4903.270.47/bsd/sys/random.h.auto.html you'll see that sys/random.h is available from macOS 10.12 and up.

One way to fi

[2021-03-14 11:05] ghost commented on #17370
Rust implementation does it that way - it checks if `getentropy` exists (with dlsym - ), and if it doesn't - the call uses `/dev/urandom` instead.

https://github.com/rust-lang/rust/issues/70179

https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/rand.rs#L130
https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/weak.rs#L29

[2021-03-14 15:24] rockcavera commented on #17366
@Akira13641 , could you send a `gcc -v` and a `nim -v`? Another thing, is your gcc multi target, that is, 32 and 64? Where did you download?

[2021-03-14 19:59] vercingetorx commented on #17345
From what I can tell all that is happening when the bodyStream (FutureStream) gets written to is that the data gets put into a queue (Deque). Then the data get read (popped off) and written to disk. So my hunch is the issue has something to do with deques.nim as skipping that process makes the memory hold steady. Particularly suspect is the expandIfNeeded proc. I may be way off base but that's abo

[2021-03-14 21:08] cooldome commented on #17351
I have the fix. gnu++14 needs to be replaces with gnu++17

[2021-03-14 21:29] adammflax commented on #17368
this is caused because we're declaring exported types in a block. There's not really much you can do to solve this

[2021-03-14 21:29] #17368 closed, assigned to nobody

[2021-03-15 08:30] timotheecour opened #17380 "std/channels example fails"
### Example 1
taken from https://github.com/nim-lang/website/pull/274

[code]

nim c --threads --gc:arc -g main.nim
lldb ./main

### Current Output
run it a few times, and eventually you get a crash in lldb, or a hang outside of lldb:
[code]

### Expected Output
works

### Example 2
same as Example 1, but replace
[code]
by
[code]
then it crashes even more reliably

### Additional Information
* nim

[2021-03-15 10:29] ghost opened #17381 "Distinct type comparison operator infinite loop"
Hello everyone!

I'm new to nim and like it a lot so far, but I run into a problem, which I think is a bug.
It might be related with bug #13008, but I'm not sure, so I've created a new issue.
I was playing around with the comparison operator != for the made up distinct type DT.
Executing the following code however resulted into an infinite loop.

[code]
During debugging on an assembler level it se

[2021-03-15 10:53] arnetheduck opened #17382 "`raises` tracking broken for... proc types in tables?"
not sure how to interpret this one really.. `table.[]=` raises nothing and in the example, `handler` is not being called - yet, a `raises CatchableError` (or whatever Handler is declared to raise) is deduced and violated.

[code]

[code]

nim 1.2.6, latest (https://play.nim-lang.org/#ix=2SVf)

[2021-03-15 11:33] SolitudeSF commented on #17381
not a bug. you wrote recursive function.

[2021-03-15 11:38] ringabout commented on #17381
Another possible solution

[code]

You can ask questions on [discord](https://discord.com/invite/nim) or [Nim forum](https://forum.nim-lang.org) too.

[2021-03-15 11:39] ghost commented on #17381
@riedmu when you create a **distinct** type procedures that work on the original type won't work on a distinct - that's the main feature of `distinct`. As @xflywind showed, you need to either borrow the comparison operator from the original type or convert your types into the original to compare.

[2021-03-15 14:01] #17381 closed, assigned to nobody

[2021-03-15 14:05] Clyybber commented on #17381
Nim doesn't automatically convert distinct arguments to their base type, which would be very unintuitive behaviour IMO.

[2021-03-15 14:36] arnetheduck opened #17383 "json.`%` raises `Defect` for `uint64`"
https://github.com/nim-lang/Nim/blob/51a04a3674d62707506774b11a4376a914735aeb/lib/pure/json.nim#L315

converting a `uint64` to a `JsonNode` raises a `Defect` on values outside the `BiggestInt` range, defeating the purpose of using this overload to begin with - to resolve, one would either deprecate / remove the overload or output a string instead - the latter would require parsing strings as well

[2021-03-15 15:58] ghost opened #17385 "Regression in std/sets: len used before its definition"
The title might not be the most descriptive, but I have an example here. Found in https://github.com/mark-summerfield/diff (which uses `std/sets`)

### Example
[code]

[code]

### Current Output
[code]

### Expected Output
Successful compilation

### Additional Information
Works in 1.4.4

[code]

[2021-03-15 16:03] ghost commented on #17385
Sorry, it's not a regression but rather a change in the sets module I think.

[2021-03-15 16:07] ghost commented on #17385
updated the example

[2021-03-15 16:11] narimiran commented on #17385
Since this seems to be `len`-related, this might be the PR which introduced the change in the behaviour:

https://github.com/nim-lang/Nim/pull/16959

[2021-03-15 16:12] ghost commented on #17385
Caused by https://github.com/nim-lang/Nim/pull/16959

[2021-03-15 16:12] ghost commented on #17385
[code]

[2021-03-15 17:31] timotheecour commented on #17385
@Yardanico I tried the original example you had reported before editing it to add `import std/sets` etc, where you said it was working in 1.4.4; for me it didn't work on 1.4.4 either, can you double check?

furthermore:
* it did work when moving up len similar to https://github.com/nim-lang/Nim/pull/17386
* it did not work when adding `mixin len` above `let length = s.len()` despite https://github

[2021-03-15 17:45] #17385 closed, assigned to nobody

[2021-03-15 17:46] ghost commented on #17385
@timotheecour well I specifically edited the example because it was a wrong one, see https://github.com/nim-lang/Nim/issues/17385#issuecomment-799542286

[2021-03-15 18:12] timotheecour commented on #17385
ok, that clarifies, thanks! (`updated the example` didn't imply this :) )

[2021-03-15 19:52] alaviss commented on #17325
@timotheecour try removing the manual pinning I made. That pinning was targeted for Ubuntu 16.04.

[2021-03-15 20:27] ghost opened #17387 "Strict funcs doesn't work with the JSON module"
As usual, the title is bad; code speaks for itself. Originally reported by @zidsal on Discord.

### Example
[code]

Not minimized example:
[code]

### Current Output
[code]

### Expected Output
Successful compilation

[code]

[2021-03-15 20:53] alaviss commented on #17325
I've tried this but it doesn't seem to work.

Please disable 32 bit Linux testing for now, I'll build a container image later for CI.

[2021-03-15 21:15] timotheecour commented on #17325
i'm pretty sure this is among the many things i've tried and IIRC it didnt' work; it was trying it again but azure is slow due to a temporary downtime refs https://status.dev.azure.com/ (EDIT: indeed I've checked again that this doesn't work)

disabling 32bit linux is pure cosmetics though, we could do it as last resort but I can do something better that just disables 3 tests, refs https://github.

[2021-03-15 23:04] dom96 commented on #17345
@xioren interesting, maybe you could quickly try replacing the `deque` with a simple `seq` and see how that memory usage changes?

[2021-03-15 23:57] timotheecour commented on #17383
see https://github.com/nim-lang/Nim/pull/17389

[2021-03-16 02:30] xioren commented on #17345
@dom96 So I tried using a seq, inserting new data at the begging and popping off data at the end to write to disk, similar to a queue and had the memory held steady at ~7MB.

[2021-03-16 03:21] beef331 commented on #17387
This is a valid error(if using strict funcs).

`columnNode["test"]` calls this `proc [](t: var Table, key: string): var int`  which returns a mutable pointer and `strictFunc` says it's a possible side effect due to the fact you could mutate the supposedly immutable object.

Because of the strictness of strictfunc `func parseColumn(columnNode: var JsonNode)` needs to be used.

Atleast this is my ta

[2021-03-16 04:27] timotheecour commented on #17380
here's a stacktrace with this diff:

[code]

[code]

[2021-03-16 04:36] timotheecour commented on #17380
my bad with the diff, seems to work with `wasMoved(data)`

[2021-03-16 06:14] #17380 closed, assigned to ringabout

[2021-03-16 06:53] ghost commented on #17387
@beef331 but that [] is only used in [] for JsonNode which does not modify the variable and returns an immutable int

[2021-03-16 07:24] timotheecour opened #17392 "std/channels is slower than system/channels_builtin or hangs (EDIT: gives EXC_BAD_ACCESS)"
### Example
adapted from benchmark from https://github.com/nim-lang/website/pull/274 (found while attempting to improve the example in https://github.com/nim-lang/website/pull/274)

[code]

### Current Output
nim c --threads --gc:arc --lib:lib -d:oldChan -d:danger -o:/tmp/z01 main.nim
nim c --threads --gc:arc --lib:lib -d:newChan -d:danger -o:/tmp/z02 main.nim

for i in {1..2000}; do /tmp/z01 ; do

[2021-03-16 07:42] beef331 commented on #17387
Remember the strict func checker doesnt check if it does modify it's if it can. Even a reference of a `let` value can result in an error. The following doesnt compile even though it doesnt mutate. Strict funcs checks for any possibillity of mutation. If that compiled the jsonNode `[]`  could have changed the returned int before returning it which would be impure. I see this as it working as intend

[2021-03-16 07:44] ghost commented on #17387
@beef331 maybe you're right, I don't know, but then strictFuncs should somehow be able to select the non-var overload for [] Table (see the original example with JSON) because otherwise we'll have parts of stdlib unusable in funcs for no real reason.

[2021-03-16 07:48] ghost commented on #17387
It's worth noting that the example works if you enable strictFuncs in the code itself, but not with --experimental:strictFuncs

[2021-03-16 08:04] vercingetorx commented on #17345
@dom96 Using a ```seq``` instead of a ```FutureStream``` seemed to work but the way I had it set up may have given misleading results. A second opinion is needed. I have all but ruled out the disk i/o and incoming socket data as possible causes. Upon further inspection the ```Deque``` seems to be working as it should, the queue size stays constant and is not expanded with ```expandIfNeeded``` and

[2021-03-16 08:34] timotheecour opened #17393 "getHomeDir and expandTilde should not include trailing `/`"
IMO it's a bug that should be fixed (with the usual `-d:nimLegacyHomeDir`)

also recently reported in forum [getCurrentDir vs getHomeDir output - Nim forum](https://forum.nim-lang.org/t/7635)

pretty much all the languages don't include the trailing `/` except nim; consistency with other languages here is more important than historical baggage IMO.

nim also isn't consistant with itself because (a

[2021-03-16 09:41] #2844 closed

[2021-03-16 09:41] #3911 closed

[2021-03-16 11:33] irdassis commented on #17345
@dom96 @xioren I was able to reduce the issue to a smaller example and then found a different issue with `FutureStream` which when fixed also fixes the memory consumption problem.

The example below crashes with `Exception message: Empty deque.` because of the away the chain of callbacks of the stream is consumed. After fixing this issue (see #17395) the memory issue is also gone. I guess there is

[2021-03-16 14:05] ringabout commented on #17392
[code]
Old channels also leak.

[2021-03-16 14:54] ringabout opened #17396 "isolation leaks"
main.nim
[code]

`nim c  --gc:orc -d:danger -g --d:useMalloc  main.nim`

`valgrind --tool=memcheck --leak-check=full  --log-file=valgrind-out.txt ./main`

[code]

[2021-03-16 15:00] ringabout commented on #17396
I'm not sure about the program is correct.

[2021-03-16 15:18] ringabout commented on #17396
it needs be put on the procs.

[2021-03-16 15:18] #17396 closed, assigned to nobody

[2021-03-16 15:30] ringabout commented on #17392
This leaks
[code]

This doesn't

[code]

[2021-03-16 15:33] ringabout commented on #17396
I can't minimalize this example

https://github.com/nim-lang/Nim/issues/17392#issuecomment-800364408

[2021-03-16 16:56] vercingetorx commented on #17345
@irdassis Good catch! Going back and looking at that in the source:

[code]

It specifies only calling when not nil however a few lines up:

[code]
The line that makes it nil is commented out, so it never actually presents as nil. Simply uncommenting that line solved the issue for me. Memory usage holds steady at around 4-5 MB. As far as the reason for it being commented out, I couldn't say.

[2021-03-16 18:33] HJarausch opened #17397 "Nim Devel generates invalid C code"
[code]

nim -v

[code]

[2021-03-16 20:44] #17383 closed, assigned to nobody

[2021-03-16 21:07] arnetheduck opened #17399 "`json` module incompatible with checked exceptions"
`json` module is broken with regards to checked exceptions (as is most of the std library, this is just one example) - `Exception` should no longer be raised per recent changes to the Exception hierarchy, yet `json` and many other modules provide inaccurate exception information in their API.

[code]

[code]

nim 1.2.6, 1.4.4

[2021-03-16 21:39] arnetheduck commented on #17331
`chronos` exposes a stream reader to handle this issue: https://github.com/status-im/nim-chronos/blob/0b78606e4142affbdc0e0e94bc1b8c39a8705737/chronos/apps/http/httpserver.nim#L335

There's also an option to get the full body instead which incidentally demonstrates how to use the stream reader: https://github.com/status-im/nim-chronos/blob/0b78606e4142affbdc0e0e94bc1b8c39a8705737/chronos/apps/http

[2021-03-16 23:21] dom96 commented on #17345
Here is the commit that commented it out: https://github.com/nim-lang/Nim/commit/87f6a9592cbbace5e8f0d647841b4490bb7c0f1f

I'm a little uneasy here because it seems we're not certain why #17395 works. I'm guessing that @Araq doesn't recall why he commented that out in the commit above... but maybe the real fix is to revert that and resolve whatever issue ORC was having properly?

[2021-03-16 23:47] timotheecour commented on #17397
please check whether you can minimize this without using generics

[2021-03-17 00:01] irdassis commented on #17345
@dom96 I think #17395 is still needed to fix the issue of this comment https://github.com/nim-lang/Nim/issues/17345#issuecomment-800182366.

[2021-03-17 00:33] timotheecour commented on #17399
this PR https://github.com/nim-lang/Nim/pull/16724 attempts to fix this and related issues but is blocked by upgrading csources nim bootstrap version in CI, because bootstrap nim can't support this.

## links
* https://github.com/timotheecour/Nim/issues/251
* https://github.com/nim-lang/Nim/pull/16282#issuecomment-740271713 (NIM_CSOURCES_HASH must be exposed to avoid breaking `git bisect` + friend

[2021-03-17 00:53] Akira13641 commented on #17366
Here's the `gcc -v`:

[code]

and the `nim -v`:
[code]

The GCC is not multi-target. Downloaded from [WinLibs](http://winlibs.com/) who also have a github repo [here.](https://github.com/brechtsanders/winlibs_mingw/releases)

[2021-03-17 01:36] leeooox commented on #17187
I found same issue. Any work around expect '-d:nimWorkaround14447' which seems just a temporary solution?

Error: 'result' is of type <PowerSupply> which cannot be captured as it would violate memory safety, declared here: c:\work\pdelab\nim\src\NimAuto\dialogs.nim(55, 1); using '-d:nimWorkaround14447' helps in some cases

[2021-03-17 04:07] rockcavera commented on #17345
Related issue [#10825](https://github.com/nim-lang/Nim/issues/10825). The problem is bigger than it seems.

[2021-03-17 04:29] rockcavera commented on #17366
Unfortunately, I was unable to reproduce the problem here.

[2021-03-17 07:03] alaviss commented on #17325
Got a container image rolling: https://github.com/users/alaviss/packages/container/package/nim-ci

I haven't managed to get this working with Azure but you can see my ARM CI for the container in action: https://cloud.drone.io/alaviss/Nim/14/2/2

We will want to move our Linux CI image to this, given that it's a more controlled environment compared to the VM images provided by CI services.

[2021-03-17 07:25] #17393 closed, assigned to nobody

[2021-03-17 12:30] arnetheduck commented on #17399
the root cause in this case is that there are unannotated closure functions down the call stack - generally, the standard library doesn't reason about exception safety - just changing the default eh effect to `CatchableError` doesn't actually solve the issue - instead the std lib must be reviewed as to where exceptions can be raise, what needs to be released as a consequence and which callbacks an

[2021-03-17 14:11] Akira13641 commented on #17366
So you used the exact same copy of GCC and it just didn't generate any warnings on the C code produced by the master branch of Nim, you mean? Are you entirely sure you didn't have something like "-w" set somewhere implicitly for GCC?

[2021-03-17 14:31] m4r35n357 opened #17403 "Tuples documentation in language manual"
Documentation on tuples: "The names of the fields also have to be identical."

They do not; you can put underscores in.  Reported on IRC, and Rika told me to do it ;)

[2021-03-17 14:32] de-odex commented on #17403
to clarify further, they meant that "identical" doesnt sufficiently imply "identical subject to nim's ident rules" or so

[2021-03-17 14:33] ghost commented on #17403
@de-odex but shouldn't that be implied? It would be quite redundant to repeat "identifier names have to be identical per nim's ident equality rules" each time you mention identifier equality

[2021-03-17 14:48] m4r35n357 commented on #17403
"Identical" has a very clear and unequivocal meaning in the world of computing.  I don't think you should use the word unqualified unless you really mean it.  Docs are meant to be used by newbies as well as experts.  I think I have hardened my opinion on this; after all, I was misled.

[2021-03-17 15:19] PMunch commented on #17403
"The names of the fields also have to be the same" would be less confusing. But that whole section is a bit messy.

[2021-03-17 16:44] irdassis commented on #17345
@dom96 @xioren from what I can tell, the line setting to `nil` can be uncommented now, I bisected the fix to this commit 4a1128d16c68437463c385645e65ef3d61fa30da.

I think I understand now why #17395 works also for the memory issue, basically, if the `future.cb` is not reset, every call to `read()` adds a new entry to the implicit chain of `savedCb`, the code added by #17395 truncates this chain a

[2021-03-17 16:57] rockcavera commented on #17366
Well, you didn't mention that you made changes to the original files. Always make an error report so that it can be easy for other people to reproduce, that is, put all the information and changes.

In this case, by removing the -w flag from build.bat, of course I get several warnings from the gcc compiler, but nothing that aborts the correct compilation of Nim. In this, I send you the answer of t

[2021-03-17 18:51] Akira13641 commented on #17366
Unless the `koch.exe boot -d:release` command that you recommended specifically *calls* `build.bat` itself, I'm not sure how that's relevant. I have not modified or ever directly used `build.bat` in the first place as far as I can recall, only that command as well as the:

[code]

command sequence that I originally mentioned.

Beyond that, I still don't see how yardanico's answer is useful. Nim ge

[2021-03-17 19:13] #17280 closed, assigned to nobody

[2021-03-17 19:54] rockcavera commented on #17366
Well, the recommendations for compiling Nim, for Windows, are:
[code]
Information taken from [here](https://github.com/nim-lang/Nim#compiling).

However, if you change any file to remove the "-w" flag, then you will receive warnings from the backend compiler, if it is gcc or clang.

[2021-03-17 20:37] slightlyoutofphase commented on #17366
Ok, [so it's the reverse of what I suggested it might be,](https://github.com/nim-lang/Nim/blob/devel/build_all.bat), that is, `build_all.bat` actually just invokes `koch boot`.

There's still no specific disabling of C compiler warnings anywhere that I can see. And once again I have not "modified" anything anyways, so I do not know why you keep mentioning that.

[2021-03-17 20:51] Akira13641 commented on #17366
Ok, [so it's the reverse of what I suggested it might be,](https://github.com/nim-lang/Nim/blob/devel/build_all.bat) that is, `build_all.bat` actually just invokes `koch boot`. Note that the `csources` folder (which seemingly would contain the C source from a two-year-old version of the compiler, anyways) is **not** entered or used by the batch file unless the `if not exist bin\nim.exe (` check co

[2021-03-17 21:19] timotheecour commented on #17340
@a-mr if you agree, can you add this item to the list above?
[code]
this should IMO generate a warning similar to https://github.com/nim-lang/Nim/pull/17257 ; users may expect this would render last line as part of the warning but it renders as regular text:
![image](https://user-images.githubusercontent.com/2194784/111540006-cdbd2280-872b-11eb-9a45-f415cbf07137.png)

it works if i add indentation

[2021-03-17 22:30] a-mr commented on #17340
yes, we should report a warning, added to the list.

Canonical is certainly 3: all examples in the RST spec are written this way and its syntax diagrams are drawn assuming exactly 3 spaces.

Generally, any indentation is allowed: the text just says "and any subsequent indented text". And rst2html.py allows any number of spaces.

[2021-03-17 23:51] timotheecour commented on #17392
Edited:

**[First example]**
(EDIT: this one now doesn't hang anymore after https://github.com/nim-lang/Nim/pull/17717)
revised and improved example now that https://github.com/nim-lang/Nim/pull/17394 was merged:
[code]

nim c --threads -d:newChan --gc:arc -d:danger -d:case10a2 -o:/tmp/z010a2 -g $timn_D/tests/nim/all/t12015.nim
nim c --threads -d:oldChan --gc:arc -d:danger -d:case10a2 -o:/tmp/z010

[2021-03-18 00:02] timotheecour commented on #17392
Edited:

**[Second example]**

and in this example, contrary to previous one, the hang happens with both oldChan and newChan;

[code]

it's simpler to reproduce the bug in this case:

nim r --threads -d:oldChan --gc:arc -d:danger -d:case10c -g $timn_D/tests/nim/all/t12015.nim
hangs in < 10 seconds
lldb bt all: see https://gist.github.com/timotheecour/23ba7f8cafac1c5657463d239db2f577

nim r --threa

[2021-03-18 00:38] timotheecour commented on #17392
here's more info (see above for code https://github.com/nim-lang/Nim/issues/17392#issuecomment-801519111)

nim -v: 4bfc5a955120b90faf07f50b54ae29f2c6e6f123

nim c --threads -d:newChan --stacktrace:off --gc:arc -d:case10c -g $timn_D/tests/nim/all/t12015.nim
(ditto with orc)

lldb -o run /Users/timothee/git_clone/nim/timn/tests/nim/all/t12015
depending on the runs, there is a crash in 1 of 2 places:

[2021-03-18 00:55] timotheecour commented on #17340
then can we produce at least a hint in case user has != 3? otherwise we'll surely end with different styles

[2021-03-18 06:54] timotheecour opened #17407 "testament: `timeout` doesn't work: it waits for process to complete"
### Example
[code]

### Current Output
doesn't terminate

### Expected Output
fail with `reTimeout` after specified timeout (0.1 seconds)

### Possible Solution
the current implementation is naive: it calls `execCmdEx2` and waits for process to complete (and only then compares test duration to timeout), but instead should use a timeout and abort process when timeout expires. Side note: `epochTime`

[2021-03-18 07:21] timotheecour commented on #14901
possibly related: https://github.com/nim-lang/Nim/issues/16338

which was super flaky leading to a disabling the flaky part of the test in https://github.com/nim-lang/Nim/pull/17113; I'm suspecting this could be related because it deals with `threadpool.^` (in tests/untestable/thttpclient_ssl_remotenetwork.nim)

[2021-03-18 08:44] konsumlamm opened #17411 ""undeclared identifier" in generic bound"
### Example
[code]

### Current Output
[code]

### Expected Output
No error.

### Additional Information
[code]

[2021-03-18 12:23] narimiran opened #17412 "`seq.pop` deletes the whole seq at compile time using ARC-bootstrapped Nim"
To reproduce this, **you need to bootstrap using ARC**: `koch boot --gc:arc`.

This behavior was spotted in several `important_packages`, and this is an extracted minimal example.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

cc @Clyybber

[2021-03-18 14:32] metagn commented on #17411
It's supposed to be

[code]

Semicolon not colon, otherwise you get `A: A`

[2021-03-18 16:54] konsumlamm commented on #17411
Ohh, i see, thank you!

Perhaps this should be mentioned as a gotcha in the docs (if it already is, ignore this suggestion)? I'll leave this issue open, but feel free to close it if you deem it appropriate.

[2021-03-18 17:09] Clyybber opened #17413 "offsetof breaks for generic parameter"
### Example
[code]

### Current Output
[code]
or this compiler crash if compiler is built without `-d:danger`:
[code]
(expected a sym, but got an ident 'f')

### Expected Output
[code]

Tested on https://github.com/nim-lang/Nim/commit/4bfc5a955120b90faf07f50b54ae29f2c6e6f123

[2021-03-18 17:54] a-mr commented on #17340
We already did :-) `contributing.rst` has `code-block` examples with 1 space of indentation. This repository has variants as 1, 2, 3 and sometimes even 4 and 5.

The more "natural" indentation would be the same as for code in this repository and most Nim projects, which is 2. I think it would be unnecessary complication to learn that in RST directives it "should" be 3. If we really have to proclai

[2021-03-18 18:10] timotheecour commented on #17340
agreed.

note that there's very little justification left for `code-block` in nim sources, since `runnableExamples` is always preferable except for a few remaining edge cases that are fixable (https://github.com/nim-lang/Nim/issues/16993), so instead of fixing indentation for `code-block` in nim sources we should finish the work of converting remaining ones to runnableExamples.

but for rst files,

[2021-03-18 20:21] ghost commented on #16656
There's quite a lot of modules that are nowhere to be found in https://nim-lang.github.io/Nim/lib.html, for example quite a lot of modules from https://github.com/nim-lang/Nim/tree/devel/lib/std

[2021-03-18 20:23] ghost commented on #16515
@j-james can you try on https://nim-lang.github.io/Nim/system.html again?

[2021-03-18 20:31] ghost commented on #16123
Can reproduce on Linux with clang 11.1.0:
[code]

[2021-03-18 20:46] ghost commented on #12057
@timotheecour works now, close? https://github.com/nim-lang/Nim/pull/17311 enables the hello world IC test but it already works in devel.

[2021-03-18 20:48] ghost commented on #12001
Fixed by https://github.com/nim-lang/Nim/pull/15590

[2021-03-18 20:48] ghost commented on #12001
Sorry, reopening,

is still not done

[2021-03-18 20:53] ghost commented on #12464
This seems to be fixed on devel, need to add a test case?

[2021-03-18 20:54] ghost commented on #12424
Fixed by https://github.com/nim-lang/Nim/pull/17024, needs a test case I guess.

[2021-03-18 21:14] timotheecour commented on #12057
there should be a test before this can be closed

[2021-03-18 22:24] omentic commented on #16515
@Yardanico I'm not seeing any difference from the videos above, unfortunately.

[2021-03-18 22:44] timotheecour commented on #12464
yes please, with this template: https://github.com/timotheecour/Nim/issues/534#issuecomment-769565033
possibly under `tests/misc/t12464.nim` or elsewhere

[2021-03-19 00:28] timotheecour commented on #17411
I documented it here recently: https://github.com/nim-lang/Nim/pull/17192

closing, feel free to re-open if not clear enough

[2021-03-19 00:28] #17411 closed, assigned to nobody

[2021-03-19 00:31] timotheecour commented on #17413
root cause is https://github.com/nim-lang/Nim/issues/13527
I think we should close this issue, because it's nothing specific to offsetof

[2021-03-19 01:58] #17413 closed, assigned to nobody

[2021-03-19 06:17] #16901 closed, assigned to nobody

[2021-03-19 10:07] autumngray commented on #16805
I am unsure if this is a separate issue, but the following also leads to a compiler crash. Removing `Foo.b`, or initializing it with a constant value works.

[code]

[2021-03-19 13:51] ringabout opened #17418 "std/threadpool + static parameters crashed sometimes"
[code]

[code]

Nim v 1.4

[2021-03-19 13:52] quantimnot commented on #17366
@Akira13641 makes a very valid point

Why is there an assumption that any particular backend implementation is correct and should have all warnings clobbered?

[2021-03-19 14:02] ghost commented on #17366
@quantimnot there's no such assumption, but most warnings that don't affect anything are already silenced - see https://github.com/nim-lang/Nim/blob/devel/lib/nimbase.h#L52

[2021-03-19 14:42] konsumlamm commented on #17362
This is an internal assertion failure, which shouldn't occur in the first place, there should be a normal Nim error message instead. So changing the assertion message wouldn't fix the actual issue.

Duplicates:
#17163
#15862
#6834

[2021-03-19 15:03] konsumlamm opened #17419 "[Concepts] Unhelpful "unexpected construct in the new-styled concept" error message"
The error messages for new-styled concepts are currently very unhelpful.

(I understand that new-styled concepts are experimental, I'm opening this issue, so that they can be improved.)

### Example
#### 1
[code]
#### 2
[code]

### Current Output
#### 1
[code]
#### 2
[code]

### Expected Output
#### 1
[code]
Other options:
* list the expected keywords
* `expected declaration`
#### 2
No error. I th

[2021-03-19 15:04] HJarausch commented on #17397
My programme was in error (I wished I got a sensible error message).
If the programme is corrected to
[code]
it compiles and runs just fine.

[2021-03-19 15:09] ghost commented on #17397
Even if it's a mistake in the code Nim should output an error instead of making invalid C code :)

[2021-03-19 15:55] konsumlamm opened #17420 "[Concepts] Declarations in concept body are not considered"
Defining a concept without any type that matches it, leads to errors when trying to use that concept.

### Example
[code]

### Current Output
[code]

### Expected Output
No error.

### Possible Solution
Make name resolution consider concept declarations (`compare` in this case).

### Additional Information
[code]

[2021-03-19 18:04] a-mr commented on #17340
No, considering the ubiquity of 3 space indentation in RST world, even giving a Hint would be too much.

So let us emit a warning only when indentation is exactly 0 after a directive (even when indentation is less than 0 seems like a perfectly valid use case).

[2021-03-20 04:06] ShadowElf37 opened #17423 "ranges don't work in generics, and subtypes of `array` don't get bounds-checked, with dramatic consequences"
Expands on https://github.com/nim-lang/Nim/issues/16969 and https://github.com/nim-lang/Nim/issues/16492.

There are (at least) two related issues at play here. First, subtypes of `array` won't have their bounds checked. Second, `range` doesn't get checked in generics. As it stands, this behavior is both unintuitive and extremely unsafe, as impossible code gets through without erroring, or with un

[2021-03-20 13:56] EriKWDev opened #17429 "Varargs and positional/optional arguments doesn't work as expected (not only untyped)"
I would think that I could supply named arguments after the varargs to a proc like this one, but apparently not without supplying one for every argument even if default values are present :/ Bug or expected behaviour?

### Example
[code]

### Environment
[code]

### Related(?)
#14436, #14346

[2021-03-20 16:28] AFaurholt commented on #16656
I noticed rdstdin was missing

[2021-03-20 21:50] #9081 closed

[2021-03-20 22:33] 89z commented on #15220
It should probably be noted that this issue is specific to Visual Studio. With this file:

[code]

This command works just fine:

[code]

Objdump result:

[code]

[2021-03-20 23:18] ghost commented on #15220
@89z that's because Nim loads openssl *dynamically* at runtime

[2021-03-20 23:22] 89z commented on #15220
Oh, damn, you are right:

[code]

that is not good, how do I fix it?

[2021-03-20 23:53] konsumlamm commented on #8545
Update:
On latest devel, cases 1, 2 and 4 now work (all print `1`), case 3 still gives the same error message, but that seems to be expected (case 4 could be used as a workaround). So I think this issue can be closed (specially since it doesn't SIGSEGV anymore, if case 3 is an issue, that should go into a new issue imo).

[code]

[2021-03-20 23:58] 89z commented on #15220
Ok this worked for me with MSYS2:

[code]

pretty ugly hack, I hope this gets fixed sometime.

[2021-03-21 00:21] timotheecour commented on #8545
also, this works too:
[code]

before closing, we need a test case with case1,2,4,5 (can be simply tests/misc/t8545.nim)
if you volunteer a PR, I can review it fast

[2021-03-21 01:06] konsumlamm opened #17433 "proc parameter in return type expression is not gensym'd inside templates"
When using a (proc) parameter in the return type inside a template, it is not gensym'd.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution
This can probably fixed in a similar fashion to #16874.

### Additional Information
This also happens when the parameter is used in a nested construct, like a function call.

I found this in #17432.

[code]

EDIT:

[2021-03-21 01:26] timotheecour commented on #17433
can you replace by this, which is supposed to compile:

[code]

[2021-03-21 01:30] #8545 closed

[2021-03-21 01:40] timotheecour commented on #7160
more test cases + a summary:
[code]

[2021-03-21 01:42] timotheecour commented on #17433
PR welcome!

[2021-03-21 07:32] saem commented on #17433
Hmm, I wonder if this needs a similar treatment as semProcAux recently got. I'll see if I can take a quick peek this weekend.

[2021-03-21 07:40] StefanSalewski opened #17437 "Nimsuggest crash"
[code]

[code]

[code]

[code]

[2021-03-21 09:29] monkey-w1n5t0n opened #17438 "Adding `--out:exe_name` flag to a bare nimscript crashes compilation"
Compiling with `nim c --out:hello_world main.nim` works fine, but adding the `--out:hello_world` flag to `main.nims` crashes compilation.

### Example
Contents of a `recreate.sh` shell script:
[code]

### Current Output
(comments added for clarity)
[code]
### Expected Output
`## Third` should also produce an executable named `hello_world` and run it to print `hello world`.

### Additional Informat

[2021-03-21 09:34] #14889 closed, assigned to nobody

[2021-03-21 13:44] yellowsink opened #17441 "When building with mingw on linux, fails due to calling ld -z"
I am on Arch Linux using the `nim` package.

Trying to compile nim with mingw-64 for windows fails with an error about `ld` being given the `-z` argument

### Example
[code]

[code]
### Current Output
[code]

### Expected Output
[code]

### Additional Information
[code]

[2021-03-21 19:02] lscrd opened #17444 "array self-assignment gives wrong results"
When assigning globally an array, the generated code may be wrong.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution
Assigning the elements individually in the right order (ugly).

### Additional Information
Occurs for global and local variables.

[code]
Issue exists also in development version.

EDIT: changed "a" to "b" in the second assignment.

[2021-03-21 21:20] timotheecour commented on #17438
@lm-w1n5t0n PR welcome, it shouldn't be too hard:
* in commands.nim, the "out" flag should given an error if main project is a nims file or in other cases too, eg for commands where out doesnt' make sense (eg: `nim danger` + a few others)

[2021-03-21 23:33] #17433 closed, assigned to nobody

[2021-03-21 23:36] #11330 closed

[2021-03-22 01:19] timotheecour commented on #17444
@lscrd can you update the example?
I think you mean this instead: (change: `b = [0, b[0], b[1]]`)
[code]

update example by showing git hash; `development version` is a moving target

(i've tested this in c8dda867f2a2607d4049759d09593a66b1697d02)

[2021-03-22 08:18] lscrd commented on #17444
Thanks for your comment. I changed  the name of the local variable from "a" to "b" to avoid confusion and forgot to change it in the array.

Better title too.

[2021-03-22 09:08] timotheecour commented on #17444
it's not clear how this can be fixed without introducing a performance penalty involving making a temporary copy, eg:

[code]
with temporary copy:
[code]

furthermore, I'm not sure how to reliably detect cases where a temporary copy is needed, eg:
[code]

thougts?

[2021-03-22 09:50] BLeAm opened #17450 "Possible memory leak with ARC/ORC"
I was playing around and find something that I'm not sure if it's by design/work as intent or memory leak bug with ARC/ORC, here's the code:

[code]
and compile with: ```nim c --gc:orc -g -d:useMalloc main```
then test with Valgrind, here's the result:

[code]
but when compile with ```nim c --gc:refc -g -d:useMalloc main```
the result is as below:
[code]

Tested with:
[code]
[code]

[2021-03-22 09:57] monkey-w1n5t0n commented on #17438
Would love to contribute but I've only just started learning Nim, so it will take a while to build up to that point.

Just to clarify, this is _not_ supposed to work? I thought that the nimscript file could store any of the flags that can be used when calling the compiler directly, and I don't see why specifying the output binary location should be an exception.

[2021-03-22 10:45] timotheecour commented on #17438
I misread, i thought you were calling `nim e --out:foo main.nims` which should give a CT error since no binary is produced in this case

indeed this should work:

`nim c main` with main.nims containing `--out:foo`

you can build a debug version of compiler as follows https://nim-lang.github.io/Nim/intern.html#rebuilding-the-compiler and get a stacktrace, as a starting point

[2021-03-22 12:15] lscrd commented on #17444
Yes, there is no way to detect reliably the possibility to avoid a copy. In fact, it seems that there is only two alternatives:

– keep the current behavior and add in the documentation a sentence stating that the compiler may do the assignment element by element and so the result may be undefined in some cases;
– use a temporary copy; an optimization may avoid the copy if the value is read only (

[2021-03-22 14:56] lucamanga opened #17452 "Inifile causes corruption on an ini file"
Inifile causes corruption on an ini file. Running nim 1.4.4

### Example
[code]

### Current Output
the ini file is corrupted

[2021-03-22 14:56] Clonkk opened #17453 "Undefined reference when using {.link.} pragma to link dynamic library"
When using ``{.link: "path/to/lib/lib.so.}`` to link pragma, it can cause undefined reference issues because it is not placed at the end of the compilation line (typically if ``--as-needed`` is specifiedin the system gcc).

It is used in the manual chapter importcpp (https://nim-lang.org/docs/manual.html#implementation-specific-pragmas-importcpp-pragma), and I believe it is a bad example to give a

[2021-03-22 14:58] lucamanga commented on #17452
[example.zip](https://github.com/nim-lang/Nim/files/6183128/example.zip)

[2021-03-22 15:27] ghost commented on #17452
I'm not sure if this is a valid bug - Nim's `parsecfg` doesn't claim to be able to parse all of the `.ini` files out there, it claims to support its own format

[2021-03-22 17:40] arnetheduck opened #17454 "incorrect raises effect for `$`(NimNode)"
[code]

[code]

nim 1.2.6, 1.4.4
https://play.nim-lang.org/#ix=2TLp

[2021-03-22 18:06] timotheecour opened #17456 "tasynchttpserver_transferencoding.nim is flaky"
see https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/14578/logs/83 from https://github.com/nim-lang/Nim/pull/17209, on osx cpp CI.

the recently added tests/stdlib/tasynchttpserver_transferencoding.nim (from https://github.com/nim-lang/Nim/pull/16678) is flaky (ie, there is a bug)

/cc @vabresto

### Current Output
on: `hostOS: macosx, hostCPU: amd64, int: 8,

[2021-03-22 18:30] vabresto commented on #17456
I think this is the second or third time I've heard someone run into an issue with those tests, so clearly they're flaky - most likely a rare race condition. I haven't used Nim's async much since writing them, so I don't know what the best way to resolve is, and I don't really have the bandwidth to look into it.

Does it make sense to just remove the tests? Or run them as an extended test set?

[2021-03-22 18:37] timotheecour commented on #16338
https://github.com/nim-lang/Nim/pull/17113 was merged but `thttpclient_ssl_remotenetwork` also is flaky; it just happened again:

https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/14589/logs/88
from https://github.com/nim-lang/Nim/pull/17455

[code]

[2021-03-22 19:25] timotheecour opened #17458 "tests/stdlib/tnetconnect.nim recently flaky on osx"
tests/stdlib/tnetconnect.nim is recently flaky on osx

### Example
https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/14391/logs/107

ditto with tests/stdlib/tnetconnect.nim cpp
found in https://github.com/nim-lang/Nim/pull/17404
[code]

### Additional Information
1.5.1 c8dda867f2a2607d4049759d09593a66b1697d02
originally reported in https://github.com/timotheeco

[2021-03-22 20:22] timotheecour commented on #9081
@dm1try when you close, please add a comment; here I'm assuming it's: closed as duplicate of https://github.com/nim-lang/Nim/issues/11953

[2021-03-22 20:37] StefanSalewski opened #17460 "Next nimsuggest crash"
[code]

Of course that code converted from Ruby is invalid, but Segmentation fault makes editing a bit hard :-)

[2021-03-22 20:59] timotheecour opened #17462 "forward declaration prevents `raises: []` or similar effect inference"
here's the root cause for https://github.com/nim-lang/Nim/issues/17454 (i'm fixing this issue in https://github.com/nim-lang/Nim/pull/17461 but root cause remains)
/cc @arnetheduck

### Example
[code]
see https://github.com/nim-lang/Nim/issues/17462#issuecomment-804461618 for a slightly more complex example where fwd decl are actually needed.

### Current Output
Error: can raise an unlisted except

[2021-03-22 21:58] arnetheduck commented on #17462
fwiw, the same happens to `method` and closures and all cases can be resolved by annotating the patients explicitly - based on the number of leaks, bugs and refactoring issues we've had with exceptions, we consider explicit annotations superior in every possible way - in particular the standard library _should_ annotate all functions explicitly because they're a fixed part of the API and ABI - rai

[2021-03-22 22:15] timotheecour commented on #17462
this would be a bad design and we're not doing that for good reasons. See for example https://www.artima.com/articles/the-trouble-with-checked-exceptions.

In any case, #17462 is a separate issue tackling effect inference in presence of forward declaration.

[2021-03-22 22:36] arnetheduck commented on #17462
The issue proposes to make more inference more automatic - the counterproposal is to make less inference and type it out, to prevent introducing _new_ exceptions, such as for example new Defect:s in json - like the linked article points out, this is a version-breaking change - checked exceptions are a part of Nim already, that ship has sailed - mostly we're using to to _avoid_ exceptions entirely,

[2021-03-22 22:39] arnetheduck commented on #17462
Also, the example cheats a bit - this is the more difficult case for which forward declarations are typically used, ie to resolve circular dependencies:

[code]

[2021-03-22 23:27] timotheecour commented on #17462
Defects are not tracked in recent enough nim (also for good reasons), so raising new Defects in json would be transparent to raises effects.

there's a big difference between having to annotate raises effects on each proc and what we're doing in nim.

that was the simplest example showing the issue, but here's one where you actually need fwd declaration:

[code]

I claim it's possible to do effect

[2021-03-23 07:33] #17454 closed, assigned to nobody

[2021-03-23 07:37] #17458 closed, assigned to nobody

[2021-03-23 07:51] arnetheduck commented on #17462
Well, the more useful improvement would be to avoid forward declarations altogether, ie https://github.com/nim-lang/Nim/issues/5287 - they're quite the blast from the past ;)

[2021-03-23 08:04] timotheecour commented on #16338
re-opening, https://github.com/nim-lang/Nim/pull/17457 only fixed the issue mentioned in https://github.com/nim-lang/Nim/issues/16338#issuecomment-804300278; the first problem in this issue (genericDeepCopyAux giving SIGSEGV) remains even the flaky part of the test where this was triggering was disabled in https://github.com/nim-lang/Nim/pull/17113

next steps towards fixing this:
* find a reprodu

[2021-03-23 08:29] timotheecour opened #17467 "1st call to `rand(1.0)` generates predictable values < 1e-4 for seeds in 0..<26844, unlike C++, python, D, ..."
## Example
this shows that whatever (small) seed is picked, the 1st call to rand() gives a predictably small value < 1e-4, ie, skews the distribution.

[code]

This is a bug, other languages don't have this issue:
## nim: fails
by fail, I mean it produces skewed results
(see example above)

## python: works
[code]
prints:
[code]

## D: works
[code]

prints:
[code]

## C++ works
[code]
prints:
[cod

[2021-03-23 08:31] #16973 closed, assigned to nobody

[2021-03-23 08:33] saem commented on #17462
A forward declaration is the interface, the declaration is the implementation, if the decl alters the interface it is a non-conformance.

Not all effects may result in non-conformance, it's a worthwhile debate, that is to say they're not a meaningful part of any interface. Anyhow, any non-conformity should be an error.

[2021-03-23 08:36] Araq commented on #17462
It's possible indeed but the costs are unclear and before we make the compiler slower or make it take up more memory, we should focus on IC as it changes these costs.

[2021-03-23 08:40] Araq commented on #17444
We'll use alias analysis for this just like we do for object constructors. The compiler can emit a warning when it needs to introduce an expensive copy. It should do that for objects too.

[2021-03-23 08:54] timotheecour commented on #17462
There would be no non-conformance, the effects would be inferred instead of hard-coded, when absent from the forward declaration:

case 1: raises effect for `fn1` are hard-coded, they're checked but not inferred
[code]

case 2: raises effect for `fn1` are not specified, they're inferred
[code]

yes, a candidate implementation would have to provide benchmarks (possibly both real and synthetic) show

[2021-03-23 09:31] junknet opened #17470 "int128.nim gives AssertionDefect"
I'm developing nimlsp vscode extension.
When i start nimlsp,the error  raise.
This is nimlsp log:

Hint: used config file '/home/junknet/.choosenim/toolchains/nim-1.4.4/config/nim.cfg' [Conf]
Hint: used config file '/home/junknet/.choosenim/toolchains/nim-1.4.4/config/config.nims' [Conf]
Hint: used config file '/home/junknet/Desktop/nimlsp/src/config.nims' [Conf]
/home/junknet/Desktop/nimlsp/src/n

[2021-03-23 11:16] arnetheduck commented on #17462
I'd also generally consider it bad design to show a dialog box with an exception trace to the user, as the article about Java from 2003 suggests people should do in a top-level exception handler - but in general what is good and bad design often depends on the use case - the article agrees however that changing the exceptions that are raised is a version-changing event - as such it would be good t

[2021-03-23 12:52] PMunch opened #17473 "Documentation for strutils.escape is wrong"
The documentation for strutils.escape says:

But the actual escaping it does is not the same scheme mentioned in `addEscapedChar`.

[code]

Either `escape` should do what it says on the tin, or the documentation should be updated to reflect what it actually does.

[2021-03-23 13:36] arnetheduck opened #17475 "`raises` not enforced for proc type parameters"
`f` should imo also fail.

[code]

nim 1.2.6, 1.4.4

[2021-03-23 13:42] ringabout commented on #17392
@timotheecour

First example doesn't hang on my Linux machine

[code]

[code]

So does the second example

Maybe it is arch specific?

[2021-03-23 14:34] Clyybber commented on #17475
I think this follows the same logic as the `noSideEffect` tracking. The effects for the callback argument are checked at callsite:
[code]
In the case of `g` I think the compiler is just pessimistic about it, since the callback is wrapped inside an object.

[2021-03-23 14:42] arnetheduck commented on #17475
That's wrong though: _no_ exception should come out of `f` per the `raises` annotation on `f`!

Ie this shouldn't compile, and it certainly shouldn't raise a `IOError` inside f, yet it does

[code]

[2021-03-23 15:30] #17450 closed, assigned to Clyybber

[2021-03-23 15:40] ddevault opened #17479 "Excessive use of builds.sr.ht"
Hi folks. I've spoken with ~araq about this several times, but it continues to be a problem. Nim makes excessive use of builds.sr.ht, far more than almost any other project does. You have submitted 275 builds today alone, totaling over 200 hours of build time. For context, a similar level of usage on CircleCI would cost you almost $75 per day. This is causing disruptions for other users.

Please r

[2021-03-23 16:08] narimiran commented on #17479
Agreed. We should do this ASAP.

[2021-03-23 16:11] Araq commented on #17479
This means to delete ``.builds/openbsd_1.yml``, right?

How to accomplish that?

[2021-03-23 16:13] narimiran commented on #17479
I've now disabled the webhooks which were triggered by pull requests. Now it should be commits-only. (I'll monitor new pull requests to see if that's really the case, to be sure.)

[2021-03-23 16:13] ddevault commented on #17479
Yep, and merge anything it would have done into the other manifest.

Head to https://dispatch.sr.ht and disable the appropriate task.

[2021-03-23 16:13] ddevault commented on #17479
Thanks @narimiran

[2021-03-23 16:15] Araq commented on #17479
Thanks, done.

[2021-03-23 16:16] Araq commented on #17479
Ooops...

[2021-03-23 16:27] Araq commented on #17420
This wasn't covered by my RFC. I think this requires a different RFC, "name resolution in generics that use new-styled concepts". That said, I agree that we should do it. But notice that symbol lookup is only the first step, we could also type-check generic bodies completely.

[2021-03-23 16:33] narimiran commented on #17479
@ddevault See https://github.com/nim-lang/Nim/pull/17480: no sr.ht BSD CIs anymore.

I had no information about this being an old well-known problem. Hopefully, this change should bring our usage way down. If there's a similar problem in the future, please ping me too (together with @Araq).

[2021-03-23 16:34] ddevault commented on #17479
Thanks for the speedy response!

[2021-03-23 16:34] #17479 closed, assigned to alaviss, narimiran

[2021-03-23 16:34] Araq commented on #17462
From https://nim-lang.org/docs/manual.html

It works as designed. Yes, yes, I know you don't like the design. This is clearly the domain of the RFC process though.

[2021-03-23 16:34] #17462 closed, assigned to nobody

[2021-03-23 16:35] Araq commented on #12057
This works now.

[2021-03-23 16:35] #12057 closed

[2021-03-23 16:38] narimiran commented on #17107
After the concerns raised in https://github.com/nim-lang/Nim/issues/17479, sr.ht stuff is now disabled for PRs, and it will only run for commits.

[2021-03-23 16:38] #17107 closed, assigned to nobody

[2021-03-23 16:52] autumngray opened #17481 "parseUri: Relative Uri with leading char + '/' incorrectly parsed"
### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution

https://github.com/nim-lang/Nim/blob/833084b671d1df21bd1a958810fc2a1bd13ae1d6/lib/pure/uri.nim#L296-L302

A check is missing, that the first character is actually '/'

### Additional Information
[code]

[2021-03-23 20:02] lhupfeldt opened #17482 "instantiationInfo returns "???" when called outside of a template"
[code]

shows:

    ???
    ???
    ppp.nim

I would expect, in order of most desirable:

1. instantiationInfo working outside of a template
2. a compilation error
3. an exception

Returning "???" does not make sense to me.

[2021-03-23 20:14] lhupfeldt opened #17483 "instantiationInfo undocumented parameter `fullPaths`"
[code]

```fullPaths``` is undocumented

Seems to mean return ```filename```as an `absolute` path.
full == absolute?
why is it plural, can there be other paths returned?

[2021-03-23 20:38] mikra01 opened #17484 "os:standalone - compiler is bailing out with miscdollars.nim(9, 34) Error: type mismatch: got <string, int>"
I tried to compile my test.nim with the gcc-cross toolchain (no stdlib)

"nim c --d:release --os:standalone --gc:none --gcc.exe:i686-elf-gcc test.nim"

### test.nim
[code]
### gives me the error (version 1.4.4)
[code]

### Additional Information
If you don't specify a file to compile - for instance:  "nim c --os:standalone " the outcome is the same.

My compiler version is

Nim Compiler Version 1.

[2021-03-23 20:52] mikra01 commented on #12300
due to #17484 I think this issue is deprecated and can be closed..

[2021-03-23 20:52] #12300 closed

[2021-03-23 21:18] StefanSalewski opened #17485 "Error: nil dereference is not allowed"
[code]

[code]

Unfortunately this blocks my current code from compiling. Well maybe a var with value nil will work tomorrow...

[2021-03-23 21:41] ghost commented on #17485
Duplicate of https://github.com/nim-lang/Nim/issues/16076

[2021-03-23 21:41] #17485 closed, assigned to nobody

[2021-03-23 22:46] #16076 closed, assigned to nobody

[2021-03-23 23:48] timotheecour commented on #17085
I can't reproduce the original bug report (tried 1.2.6 and 1.4.2, on both osx and linux via docker
`Linux f27b084ca41f 4.19.121-linuxkit #1 SMP Tue Dec 1 17:50:32 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

@arnetheduck what system were you using?

[2021-03-24 00:01] #17085 closed, assigned to nobody

[2021-03-24 01:54] timotheecour opened #17490 "js: parseJson doesn't work properly with large numbers"
### Example
[code]

### Current Output
[code]

### Expected Output
18446744073709551615

### Additional Information
1.5.1 28221e8a33e111d8653c4ff21fad47a7ec6ef54d
found while working on https://github.com/nim-lang/Nim/pull/17469

in js:
[code]

the question is what to do here:
option 1: do as js (and give approximate result)
option 2: raise an exception
option 3: check that the number represents a

[2021-03-24 02:08] timotheecour commented on #17490
@xflywind IMO it's a half-regression instead of a regression; IMO we should go for option 3, which is the sanest:
this will make the output be `18446744073709551615` instead of approximate `18446744073709552000` as in 1.4.4

[2021-03-24 02:36] ajusa commented on #16845
I've been able to reproduce this both on 1.5.1, and 1.4.4. If you use any kind of object, it also seems to crash, it doesn't need to be a variant.
My error looks like
[code]

[2021-03-24 03:26] timotheecour opened #17493 "all modules, keywords, pragmas should be indexed and searchable"
### bug 1: search box gives no hits
the search box in https://nim-lang.github.io/Nim/lib.html gives no hits for these:
* prelude
even though https://nim-lang.github.io/Nim/prelude.html exists and `include std/prelude` works

## bug 2: theindex.html gives no hits
https://nim-lang.github.io/Nim/theindex.html gives no hits for:
* prelude

## bug 3: lib.rst is incomplete and should be automatically ch

[2021-03-24 05:42] saem commented on #16975
I have a partial fix for this in this branch (https://github.com/nim-lang/Nim/compare/devel...saem:saem-look-for-formal-param-sem-issues?expand=1), but getting a code gen issue because something else isn't being handled.

[2021-03-24 05:53] saem commented on #16975
I believe this and #16906 are effectively the same issue.

[2021-03-24 06:11] saem commented on #14464
```test.nim(29, 19) template/generic instantiation of `sortedM` from here
test.nim(21, 4) Error: A nested proc can have generic parameters only when it is used as an operand to another routine and the types of the generic paramers can be inferred from the expected signature.```

The error message is not great (can be fixed later), but at least it doesn't crash any more. Fix is here: https://github

[2021-03-24 06:12] ghost commented on #17292
From https://github.com/pietroppeter/nimib/issues/20 - might this issue be related to this bug?

[code]
Currently the renderer's output is `*header` which is obviously wrong

[2021-03-24 06:30] saem commented on #12594
Pending fix here: https://github.com/nim-lang/Nim/compare/devel...saem:saem-look-for-formal-param-sem-issues?expand=1

[2021-03-24 06:42] timotheecour commented on #17292
I think it's a separate issue, unrelated to repr (repr shows badly but that seems like a symptom)

@Araq  isn't that a parser bug?
[code]

[code]

how come Prefix has 3 children instead of 2?

[2021-03-24 06:46] saem commented on #8406
Tested in playground, no more sigsev, an error is produced instead: `/usercode/in.nim(2, 28) Error: expression '' has no type (or is ambiguous)`

[2021-03-24 06:49] saem commented on #7385
Tested in playground, no longer seems to be an issue.

[2021-03-24 06:56] xflywind commented on #7385
@saem
PR is welcome: add a testcase and close this issue.

[2021-03-24 07:00] ringabout commented on #7385
It still doesn't work when uncomment `mixin _` on Nim 1.4.4, gives `Error: invalid expression: mixin _`

[code]

[2021-03-24 07:16] #17490 closed, assigned to ringabout

[2021-03-24 08:15] arnetheduck commented on #17085
linux/fedora - add a `0` to the loop count - this relies on the gc triggering at the right moment - it's not arch specific, it's a bug that's fairly easy to see in the logic of the init order, pre-fix

[2021-03-24 08:22] arnetheduck commented on #17085
https://play.nim-lang.org/#ix=2TVG

[2021-03-24 09:42] yglukhov commented on #16895
As reported by @cer1969, `--tlsEmulation:off` causes the final binary to depend on `__emutls_get_address` symbol from `libgcc_s_seh-1.dll`.

[2021-03-24 09:58] #17260 closed, assigned to nobody

[2021-03-24 10:04] yglukhov opened #17496 "Document isMainModule and appType for libraries"
[code]
[code]
[code]
Output:
[code]
Expected output:
[code]
Note: I'm not sure it's an issue, but I'm getting a lot of questions about it in nimpy.

[2021-03-24 11:11] PMunch opened #17497 "Code generation creates unecessary copy of global static arrays with custom type, breaks PROGMEM"
While developing my keyboard firmware I noticed that the nice tricks me and @zevv where using to move .data from the data section of the binaries and into .text via the PROGMEM C macro didn't work any longer. Looking at the C sources it was obvious why, in 1.4.0 Nim would take this code:
[code]
and generate this output (shortened identifiers for readability):
[code]
But with 1.4.2 the same Nim cod

[2021-03-24 11:41] PMunch commented on #17497
It seems like this is a rather dumb check. By changing the code to:
[code]
It will work, but this obviously shouldn't matter, and makes writing a good PROGMEM system a bit difficult..

[2021-03-24 12:36] Araq commented on #17496
Works as expected. We can improve the documentation and mention ``appType == "lib"`` and similar.

[2021-03-24 16:37] hamidb80 opened #17498 "type checking bug"
the nim compiler doesn't detect the type mismatch and it causes the runtime error

### Example
[code]

### Current Output
[code]

### Expected Output
compile time error:

### Additional Information
nim version: 1.4.4
reproduced on windows 10 and play.nim-lang.org

[2021-03-24 17:20] Vindaar commented on #17498
There is no type checking bug here.

[code]
is valid, because of:
https://nim-lang.github.io/Nim/system.html#add%2Cseq%5BT%5D%2CopenArray%5BT%5D
i.e. you end up with still an empty seq. `result` is mutable, hence the argument can be added, but the argument is an empty list.

[code]
no, it's expected because of the above.

[code]

- `result[^1]` is a `List`.
- `List` is simply a `seq[int]`
- `m[y]`

[2021-03-24 18:28] timotheecour commented on #17340
can you also add:
[code]
(refs future work mentioned in https://github.com/nim-lang/Nim/pull/17315 so it gets referenced here)

[2021-03-24 18:58] #17498 closed, assigned to nobody

[2021-03-24 21:40] mikra01 commented on #17484
I noticed that the option: os:standalone disappeared from the actual "compiler user guide". Don't know why. Without this feature it's not possible to develop a stdlib project type in Nim ( gcc's -ffreestanding mode can't be used anymore).

[2021-03-25 02:21] deech commented on #17412
Related? https://github.com/nim-lang/Nim/pull/17348

[2021-03-25 05:00] ghost opened #17503 "`--boundChecks:off` disables compile-time bound checks"
As far as the documentation is concerned, `boundChecks` should **only** disable runtime bound checks, but right now it also disables them at compile-time if you pass `--boundChecks:off` or `-d:danger` (which implies `boundChecks`). Originally reported in Discord by @de-odex

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
Might be related to ht

[2021-03-25 05:07] ghost commented on #17503
Relevant code - https://github.com/nim-lang/Nim/blob/devel/compiler/ccgexprs.nim#L930, it only triggers if optBoundsCheck is enabled. Not sure why that compile-time check is in the backend though :P

[2021-03-25 06:28] Araq commented on #17292
I think the colon is parsed much like a `do:` in this case so it adds a third child. Definitely something we need to investigate. :-)

[2021-03-25 07:03] timotheecour opened #17504 "misc problems with number literals"
list of remaining unfixed issues from the 11 ones mentioned in https://github.com/nim-lang/Nim/pull/17020#issuecomment-803193947

### problem 1
- [x] all the existing nim syntax highlighters are broken and need to handle this, eg this renders badly in sublime text, github (which depends on github linguist, which itself IIRC depends on sublime text nimlime nim package) [EDIT: now works for sublime

[2021-03-25 07:26] timotheecour commented on #17504
@JohnAD thanks for your PR https://github.com/nim-lang/Nim/pull/17020, even though it was taken over and further improved, the feature would've probably taken much longer to implement without your work!

I've migrated remaining issues to here for clarity

## for bug 1:
you mentioned earlier:

that would be super helpful (for bug 1 above); otherwise it's painful to read/write code with this new fea

[2021-03-25 08:42] yglukhov opened #17506 "ORC + GC_ref/unref + closure + destructor lifetime issue"
[code]
[code]
**Expected result:** runs without errors
**Actual result:** assertion fails

[2021-03-25 10:41] Araq commented on #17504
You misuse the term "bug". You mean problems/issues/possible improvements/difference in taste.

[2021-03-25 10:58] ringabout opened #17507 "lent type causes issues"
[code]
Gives: Error: address of 'i' may not escape its stack frame

Workaround(or solution?): `keys` also uses `lent` return types.
[code]

An example which shows where the workaround is needed
https://github.com/nim-lang/Nim/pull/17505
https://github.com/nim-lang/Nim/pull/15450

[2021-03-25 12:07] mrTsjolder commented on #12263
I suspect I stumbled upon the same issue while giving nim a try. My MWE:

[code]

I tried it in the playground thingy for different versions (up to v1.4.4) and it just doesn't work, although I suspect it should.
The error is  the same "Error: internal error: invalid kind for lastOrd(tyAnything)".

[2021-03-25 14:12] Araq commented on #17507
This is not a bug, that the compiler catches this mistake is great!

[2021-03-25 14:15] Clyybber opened #17509 "Invalid type mismatch in generic"
This doesn't compile even though it should

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
I think this might be a generic cache issue, but not sure.

[code]

[2021-03-25 14:21] #17507 closed, assigned to nobody

[2021-03-25 14:22] tersec opened #17510 "Incorrect `UnusedImport` warnings regression from 1.4.2 to 1.5.1"
When one module imports and exports a module, another module depending on the imported/exported module claims in 1.5.1 that the intermediate `import`/`export`ing module is unused.

### Example
`test.nim`:
[code]
`test2.nim`:
[code]

### Current Output
With head:
[code]

Nim 1.4.2 does not appear to emit this incorrect warning:
[code]
Nor does 1.0.4.

### Expected Output
No incorrect `UnusedImport`

[2021-03-25 14:37] Clyybber commented on #17509
Alternative snippet:
[code]

[2021-03-25 14:42] tersec opened #17511 "Incorrect `UnusedImport` warning in presence of `import foo as bar`"
When module `bar` imports and exports module `foo` (here, `sequtils`) using `import ... as ...` and module `baz` imports `bar` to get access to `foo`, either one or two `UnusedImport` warning is emitted, depending on Nim version.

### Example
`test.nim`:
[code]

`test2.nim`:
[code]

### Current Output
[code]

Older versions also display variations of this behavior.
1.4.2:
[code]

1.2.6:
[code]

1.

[2021-03-25 15:01] ringabout opened #17512 "proc lent codegen error"
[code]

[code]

compile?

[2021-03-25 22:00] timotheecour commented on #17407
this is not just about `testament: timeout`:

here's another example:
[code]

https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/14752/logs/114

if a test is buggy and never returns, testament will just wait for it until CI times out.

the fix is to cap each test with a (customizable) timeout

[2021-03-26 01:54] drbuckleyjr opened #17516 "var doing same thing as let"
Don't understand what difference there is between var and let in nim 1.4.4

What is difference between var and let? Documentation states there is a difference. What is the difference?

[2021-03-26 02:18] BLeAm opened #17517 "StringStream causes memory leak with ORC but not with ARC"
At first, I was testing with HttpClient and found memory leaks even with simple code as below
[code]
Then compiled with: ```nim c --gc:orc -g -d:useMalloc main``` and check with ```valgrind --leak-check=full --show-leak-kinds=all main``` the report as below:
[code]
According to Valgrind's report, I guess it might be something with streams that leaked memory. So, I tested with this code
[code]
and

[2021-03-26 03:06] timotheecour opened #17519 "--experimental:views: path expressions constraint prevents useful code"
### Example
[code]

### Current Output
nim r --experimental:views main
[code]

### Expected Output
works

### Possible Solution
redesign `--experimental:views` from scratch, it's broken beyond repair; there's a much simpler design that doesn't have any of `{.views}`'s limitations and allows writing efficient code without getting in your way.

see also the many other issues plaguing {.views.} https

[2021-03-26 03:37] zambrottahr commented on #17516
variable declared with var are mutable while those declared with let are immutable.

[2021-03-26 04:04] drbuckleyjr commented on #17516
Yes, I wasn't careful enough in my remarks. It's not the value of a var that cannot change within a given scope, it's the type of a var that cannot change within a given scope. Example:
block a:
   var x: int = 10
   echo x  # displays 10
   var x: string = "abc"  # will cause an error because within the scope of the block a I have attempted to change the type
   x = "abc"  # will cause an error b

[2021-03-26 04:25] timotheecour commented on #10815
* test case for top example was merged in https://github.com/nim-lang/Nim/pull/17518
* test case for https://github.com/nim-lang/Nim/issues/10815#issuecomment-476380734 still needs a PR (last i checked in https://github.com/nim-lang/Nim/pull/15696, it worked in osx, but not linux or windows)

[2021-03-26 04:26] ghost commented on #17516
@drbuckleyjr I'm not sure if we actually need to specify that - Nim is statically-typed, a variable can only have one type, it doesn't matter if you declare it with `var` or `let`

[2021-03-26 05:46] xflywind commented on #17512
So does proc

[code]

[2021-03-26 07:28] ringabout commented on #17512
What should the program do?
Compiles(it already compiles with object) or CT error?

[2021-03-26 08:04] SolitudeSF commented on #17516
@drbuckleyjr this has nothing to do with mutability, you are not changing the type, you are redefining variable in the same scope, which you cant do.

[2021-03-26 08:30] ringabout commented on #17512
[code]

object literals compile though.

[2021-03-26 12:05] #17199 closed, assigned to nobody

[2021-03-26 12:24] ringabout opened #17523 "iterator lent codegen error"
[code]

[code]
compile?

[2021-03-26 13:28] ringabout commented on #13583
More reduced example:

[code]

[2021-03-26 16:06] drbuckleyjr commented on #17516
Thank you. It's clear now.

[2021-03-26 16:06] #17516 closed, assigned to nobody

[2021-03-26 18:13] Araq commented on #17519
What is this "much simpler design"? Your previous one wasn't it.

[2021-03-26 18:16] Araq commented on #17517
There is no leak as you don't force the cycle collector to run.

[2021-03-26 18:16] #17517 closed, assigned to nobody

[2021-03-26 19:19] JohnAD commented on #17504
Started work on Sublime NimLime filter: https://github.com/Varriount/NimLime/pull/153

[2021-03-26 19:29] timotheecour commented on #17504
changed to s/bug/problem/

of these, the only potential "difference in state" would be `problem 7`, but it falls better under the category "avoid 2 ways to 2 the same thing", especially when 1 way is preferred as it generalizes to user defiend literals. The question there is how much code relies on old behavior without the apostrophe, and it can be estimated via important_packages with a PR.

[2021-03-26 20:10] timotheecour commented on #17314
https://github.com/nim-lang/RFCs/issues/355 would fix this (and other issues)

[2021-03-26 21:20] timotheecour opened #17527 "lent + tuple destructuring in VM iterators give random GC crashes (stack addresses escape)"
https://github.com/nim-lang/Nim/pull/17525 fails in CI, after investigation it fails with:
[code]
which indicates a nim bug; and in fact it's a gc bug:

tests/tmatching.nim is a large file (2698 LOC), so i tried mimizing a bit to fusion/tests/tmatching6.nim (138 LOC), see https://gist.github.com/timotheecour/f8ce7fc19199df35722c15a916a96ab8 but the smaller the file the more rare the bug occurs whe

[2021-03-26 21:54] JohnAD commented on #17504
I imagine **problem 7** is a breaking change on many legacy libraries in nimble/etc.

Just curious: is there a plan for Nim 2.0 in the future; or is that too far away? If one is coming out in the next year or so, this could be queued up with other desired-but-breaking changes.

(And nimble.directory could be modified so that 1.x and 2.x lookups are using different datasets.)

[2021-03-27 01:05] BLeAm commented on #17517
@Araq Thank you for the guide, few more questions, how can I force the cycle collector to run, is it the GC_fullCollect/GC_runOrc? And, where should I force the cycle collector to run in practice, at the end of every scope that accesses string stream?

[2021-03-27 01:07] timotheecour commented on #17504
a deprecation is not a breaking change, it helps with code migration with the usual `--warningAsError:X` etc tools. Eventually we'll have a revived `nim fix` (aka `nimlint`, similar to `go fix`) to automate such changes via PR's against affected packages. If you do nothing (ie don't issue a deprecation) in 1.x and make it an error in 2.x, the migration from 1.x to 2.x will be more painful.

In any

[2021-03-27 02:01] timotheecour commented on #17527
adding `-d:useGcAssert` improves diagnostic:

nim c -o:bin/nim_D20210326T125756.3 -d:useSysAssert -d:useGcAssert -d:release --stacktrace --debugger:native --excessivestacktrace --lineTrace -g --skipusercfg -d:nimCompilerStackraceHints --stacktracemsgs compiler/nim

it fails with: `[GCASSERT] incRef: interiorPtrTraceback (most recent call last)`
[code]

stacktrace: https://gist.github.com/timotheec

[2021-03-27 03:21] timotheecour commented on #17527
@Araq after a very painful reduction, I finally have a repro with 0 dependencies and 0 changes to stdlib:

[code]

nim c --lib:lib -o:bin/nim_temp1 -d:useSysAssert -d:useGcAssert -d:release --stacktrace --debugger:native --excessivestacktrace --lineTrace -g --skipusercfg compiler/nim

$nim_prs_D/bin/nim_temp1 c -d:case10 --skipparentcfg --skipusercfg $timn_D/tests/nim/all/t12092.nim

[code]

with

[2021-03-27 06:22] ringabout commented on #3866
needs a reproducible case

[2021-03-27 06:22] #3866 closed

[2021-03-27 06:48] ringabout commented on #15975
Since https://github.com/nim-lang/Nim/pull/17348 is merged, the content of move is not cleared.

[code]

[2021-03-27 07:18] ringabout commented on #17157
crash at Nim 1.4.4, but CT error at devel.

[2021-03-27 08:42] xflywind commented on #17129
A silly bug

[2021-03-27 08:51] #17157 closed, assigned to nobody

[2021-03-27 11:23] oXis opened #17534 "Infinite loop in `net.readLine` when socket closed unexpectedly"
Function `net.readLine` goes into an infinite loop when the socket its reading from is closed by the distant host.

I discovered the bug while playing with Nim and Go. The provided example has the buggy client in Nim and the server in Go.

Tested on Linux and Windows.

### Example
#### `client.nim`
Compile with `nim c client.nim`.
[code]
#### `server.go`
Compile with `go build server.go`
[code]

#

[2021-03-27 13:11] ringabout commented on #5792
I can't reproduce the error?

[2021-03-27 13:25] ringabout commented on #3790
It needs at least a reproducible testcase.

[2021-03-27 13:25] #3790 closed

[2021-03-27 13:42] ringabout commented on #5031
Since https://github.com/Araq/lexim doesn't compile anymore, it's hard to reproduce.

When someone have a reproducible example with latest devel, feel free to reopen.

[2021-03-27 13:42] #5031 closed

[2021-03-27 14:41] ringabout commented on #11993
`newruntime` is taken over by `arc` and `orc`.

[2021-03-27 14:41] #11993 closed

[2021-03-27 15:12] ringabout commented on #12116
`newruntime` is deprecated and taken over by ARC/ORC.

[2021-03-27 15:12] #12116 closed

[2021-03-27 15:13] ringabout commented on #12021
newruntime is deprecated and taken over by ARC/ORC.

[2021-03-27 15:13] #12021 closed

[2021-03-27 15:13] ringabout commented on #12008
newruntime is deprecated and taken over by ARC/ORC.

[2021-03-27 15:13] #12008 closed

[2021-03-27 15:20] ringabout commented on #12953
`newruntime` has been deprecated, it is taken over by `ARC` and `ORC`.

[2021-03-27 15:20] #12953 closed

[2021-03-27 16:44] timotheecour commented on #9437
@xflywind thanks for self-assigning this; maybe also define `-d:nimLegacyReReplace` for backward compatibility in your PR?

[2021-03-27 17:12] #7012 closed

[2021-03-27 17:18] #5792 closed

[2021-03-27 20:19] shirleyquirk commented on #14424
compiler expects nimdoc.css to be in the same tree as system.nim

https://github.com/nim-lang/Nim/blob/5d95137ce040edd181e56bc132ce319e59bd1ee4/compiler/nimpaths.nim#L23-L24
i.e. /usr/lib/nim/doc

but no mention of this in docs and absent instructions to the contrary e.g. Arch puts them under /usr/share/nim/doc

https://forum.nim-lang.org/t/7679

[2021-03-27 20:24] timotheecour commented on #14424
@shirleyquirk please cross-link to avoid splitting discussion; i did it for you here: https://forum.nim-lang.org/t/7679#48913

choosenim installs it to:
/Users/timothee/.choosenim/toolchains//nim-1.4.4/doc/nimdoc.css

maybe that's the bug?

can you show output of

`find /usr/share/nim/` ?

[2021-03-27 23:13] shirleyquirk commented on #14424
Debian (sid,unstable, 1.4.2) puts it in /usr/lib/nim/doc, which probably doesn't work, either.  arch provides a symlink meaning /usr/lib/nim/doc/nimdoc.css exists, referencing a bug from version 0.13 and the 'nim doc2' command.

installation instructions say "The expected stdlib location is /usr/lib/nim" which is sensible.
I know @timotheecour is familiar with this as i see you've worked on this p

[2021-03-27 23:32] timotheecour commented on #14424
can't we fix the distro's installation scripts so that they don't shuffle the installation files in a platform specific way? there are other things besides `nimdoc.css` that need to be in a specific location (eg dochack.js, in the future more things as well eg if we want to use karax for nim doc, etc)

in ideal world, every installed nim (via choosenim or otherwise) respects the original layout

[2021-03-28 06:23] ringabout commented on #5247
follow the instructions for https://github.com/pragmagic/godot-nim/issues/35#issuecomment-411746776

works for me(win10 + amd64).

[2021-03-28 06:23] #5247 closed

[2021-03-28 06:25] ringabout commented on #14667
It works with `nim cpp -r --cc:vcc ttest.nim`.

`()`

[2021-03-28 06:29] ringabout commented on #15117
It works with `nim cpp -r --cc:vcc ttest.nim`.

[2021-03-28 06:37] ringabout commented on #10418
It works with win10 64 bits +  vc2019 .

[2021-03-28 06:44] ringabout commented on #16519
can't reproduce with latest devel.

Feel free to reopen, if something is still wrong.

[2021-03-28 06:45] #16519 closed, assigned to nobody

[2021-03-28 07:57] #9466 closed

[2021-03-28 07:59] timotheecour commented on #9466
note that this issue was closed as the error was turned into a warning but the underlying problem remains that not nil is unaware of control flow and warning is still being issued, refs https://github.com/nim-lang/Nim/pull/17538#issuecomment-808761794

[2021-03-28 09:39] ringabout commented on #16410
Duplicate of #14329

[2021-03-28 09:40] #16410 closed, assigned to nobody

[2021-03-28 10:12] BLeAm commented on #5921
Any updates on this issue? I think I still experienced this problem with httpclient when turn -d:ssl on, Valgrind reported memory leaks and memory usage of the process keeps accumulating over time.

[2021-03-28 10:14] ghost commented on #5921
The original issue is not really an issue - unloading libraries like that will be done by the OS after the program is done anyway (the same as with globals).

As for @BLeAm  - I'm not sure what's your exact issue, can you show the code?

[2021-03-28 10:14] ghost commented on #5921
I think you should make a separate issue because this one is different

[2021-03-28 10:15] ringabout commented on #5921
If so, please close this issue.

[2021-03-28 10:16] #5921 closed

[2021-03-28 11:31] ghost opened #17552 "[ARC] `{.global.}` pragma doesn't work when the variable is initialized with non-value types"
The title says it all, with ARC `{.global.}` only seems to work with value types (ints, bools, objects) or when declaration and Initialization of the global variable are separate.
Non-value types (ref objects, strings, and other types that are managed by the runtime) are always initialized each time if they have are declared with an assignment. Found out by investigating memory leak in https://for

[2021-03-28 11:36] ghost commented on #17552
Also, what are the alternatives to the `{.global.}` pragma, to make this code work with ARC like it does with refc for example? So we can document a workaround for people to follow.

[2021-03-28 11:47] BLeAm opened #17553 "httpclient with -d:ssl enabled, Valgrind reported memory leaks."
I'm testing with httpclient and think experiencing memory leaks when turned SSL on via -d:ssl . I try to find if there's any issue related to this problem that had been reported and found #5921, according to @Yardanico 's suggestion to make a separate issue as it's a different one. So, here's my attempt.

When compiled the code below with ```nim c --gc:orc -g -d:useMalloc -d:release --panics:on ma

[2021-03-28 11:59] ghost commented on #17553
Your first two code snippets are not a bug - those 600KB are needed for the default SSL context - see https://github.com/nim-lang/Nim/blob/version-1-4/lib/pure/httpclient.nim#L320

[2021-03-28 12:02] ghost commented on #17553
That said, your last snippet doesn't leak for me either... What's your Nim version? Please follow the issue template next time, so we can easily know which Nim version you are on.

[2021-03-28 12:02] shirleyquirk commented on #14424
yes, that's possible, change the packaging instructions to put the whole nim tree in /opt or somewhere. i dont like that solution, it multiplies the amount of work by the number of distros, would probably break a lot of users installations, and goes against conventional expectations (binary under /usr/bin, library under /lib, headers under /usr/include) it's understandable that a packager would ex

[2021-03-28 12:04] ghost commented on #17553
Hm, "definitely lost" from the second snippet might be an actual leak.

[2021-03-28 12:19] BLeAm commented on #17553
Thank you for your suggestion :)

I tested on 1.5.1: git hash: 355985ac89dd13d5b317744b30842155d9321565

[2021-03-28 12:26] Clyybber commented on #17412
Nope, issue here is that `=copy` for case objects doesn't handle self assignment correctly.

[2021-03-28 13:12] StefanSalewski commented on #17552
I really hope and think this is not true:

[code]

In the last 12 months I had the feeling that gintro was working fine with ARC. Well minor memory leaks may exists, it is hard to debug leaks with gtk as gtk has itself behaviour which may looks like leaks in valgrind.

I hope I will get my CDT to work with ARC at all :-)

[2021-03-28 13:21] ghost commented on #17552
@StefanSalewski are those "value types" from the Nim perspective? If they're simple raw pointers or ints/bools/etc, they'll work fine.

[2021-03-28 13:53] Chris3606 commented on #15117
Apologies if this was a comment intended for the language developers only, however --lib:lib doesn't even compile on my system; so far as I can tell via the [compiler docs](https://nim-lang.org/docs/nimc.html), that flag indicates you're using a custom version of the system library; what custom version are you using?  Is this intended to be a workaround?  Is this just stating it works on the `deve

[2021-03-28 13:54] Chris3606 commented on #14667
I moved my conversation over to the [likely duplicate](https://github.com/nim-lang/Nim/issues/15117) to avoid confusion.

[2021-03-28 14:00] ringabout commented on #15117
yeah, I mean it works with cpp(vcc) backend.

[2021-03-28 14:23] StefanSalewski commented on #17552
Sorry, forget to mention:

[code]

[code]

Most are ref objects. The cairo.Context is used a lot in the draw callback! We get from the cairo lib the low level object only but need the Nim proxy object for the actual drawing code, so we use global pragma to have an instance of the proxy object available for each callback call. New allocation for each call would be not that nice, may work with ARC,

[2021-03-28 15:03] ringabout commented on #9622
no need to minimize, they compile and run fast.

[2021-03-28 15:15] ghost commented on #9622
@xflywind minimized test case is better since it's less code to read and much more obvious to where the compiler was wrong before

[2021-03-28 15:21] ringabout commented on #9622
@Yardanico ok

[2021-03-28 15:49] timotheecour commented on #14424
can you point to the source code where those packaging instructions are written?

[2021-03-28 15:52] ringabout commented on #9622
Reduced with Nim 0.19.2:

[code]

[2021-03-28 16:33] ringabout commented on #17370
hope this issue is fixed

[2021-03-28 16:57] #12904 closed

[2021-03-28 18:35] shirleyquirk commented on #14424
https://github.com/nim-lang/Nim/blob/devel/doc/packaging.rst

[2021-03-28 19:09] ghost commented on #17553
After #17554 and #17558 I can confirm that there are no leaks except the expected "still reachable" ones from the default SSL context. For 15 and 35 requests the number of still reachable bytes is the same so that it's not a leak:
[code]
There's also
[code]
Which is also not a memory leak - it's from net.nim end of `newContext`:
[code]
because newContext is used when creating a new default (global

[2021-03-28 23:40] #9622 closed

[2021-03-29 00:15] timotheecour commented on #9622
@xflywind

indeed. And also future changes in compiler/stdlib may hide the bug, so the un-minimized test would stop testing for the actual bug and act as a regression test.

## example
[code]

this would be a bad (or at least insufficient) regression test, because implementation of `stripLineEnd` could change and not use `[^1]` anymore.

instead, a good regression test for that would not use strut

[2021-03-29 00:56] BLeAm commented on #17553
@Yardanico Thank you for all the fixes and elaborations/explanations, this is so much a warm welcome, I've learned somethings via your suggestions and the way you solved the bug.

[2021-03-29 02:45] ringabout commented on #17482
Duplicate of #11689

[2021-03-29 02:46] #17482 closed, assigned to nobody

[2021-03-29 02:51] ringabout commented on #7861
another problem is duplicated of  https://github.com/nim-lang/Nim/issues/11689

[2021-03-29 03:01] ringabout commented on #7861
I didn't quite understand the first problem.
Tested first problem on Windows and Linux, works for me.

[2021-03-29 03:01] #7861 closed

[2021-03-29 03:20] ringabout commented on #11730
Duplicate of #16693

[2021-03-29 03:20] #11730 closed

[2021-03-29 03:21] #12580 closed

[2021-03-29 03:24] ringabout commented on #12247
Duplicate of #17407

[2021-03-29 03:24] #12247 closed

[2021-03-29 03:25] ringabout commented on #17097
Since bsd are only tested on rare situations, I close this issue.

[2021-03-29 03:25] #17097 closed, assigned to nobody

[2021-03-29 03:51] ringabout commented on #7039
Related:
https://github.com/nim-lang/Nim/issues/11810

[2021-03-29 04:04] ringabout commented on #6888
With current devel(https://stackoverflow.com/questions/2198950/why-is-void-0-a-no-operation-in-c-and-c)

[code]

It should be good enough.

No warnings, match c standard, it's a no op(no performance loss).

[2021-03-29 04:04] #6888 closed

[2021-03-29 04:13] ringabout commented on #7784
The first example works with ARC.
The second example works.

[2021-03-29 04:55] ringabout commented on #6458
seq isn't nil anymore.
Now it generates

[code]

[2021-03-29 04:57] #6458 closed

[2021-03-29 05:03] ringabout commented on #12588
It works for ARC or `--gc:destructors`.

[2021-03-29 05:10] ringabout commented on #9848
Duplicate of #12327

[2021-03-29 05:10] #9848 closed

[2021-03-29 07:06] ghost commented on #17552
Update - global pragma actually works if we separate declaration and initialization

[2021-03-29 08:26] timotheecour commented on #17097
@xflywind ok but then in such cases add the "won't fix" label to help with triaging (i just addeed it)

[2021-03-29 08:39] timotheecour commented on #7039
`msgs.sourceLine` could be an option

[2021-03-29 08:49] #17553 closed, assigned to nobody

[2021-03-29 08:50] #14010 closed, assigned to ringabout

[2021-03-29 09:24] #17534 closed, assigned to nobody

[2021-03-29 09:49] ringabout commented on #17496
@Araq
Can you explain how to use `appType == "lib"` to make the example work?

[2021-03-29 09:51] ghost commented on #17496
@xflywind
`when isMainModule and appType != "lib"` I guess

[2021-03-29 10:24] ghost commented on #11425
The documentation additions are nice, but IMO we need to be more clear that if the client expects more bytes than the server sent and timeout is not changed, the `recv` will be stuck **forever**.

[2021-03-29 10:48] #17437 closed, assigned to nobody

[2021-03-29 12:02] ringabout commented on #12955
I can't reproduce this issue on Linux and Windows with `nim check`,

[2021-03-29 12:39] #17473 closed, assigned to ringabout

[2021-03-29 14:28] gabbhack opened #17571 "`static(ObjectWithCaseInit(...))` generates invalid code"
### Example
[code]
https://play.nim-lang.org/#ix=2UsR
### Current Output
[code]

### Expected Output
[code]

### Additional Information
Generated C
[code]

[code]

[2021-03-29 14:54] romstad opened #17572 "Different results when computing at compile-time and at run-time"
In the following simple program (compiled with Nim 1.4.4), the assert in the final line fails:

[code]

The constant `y`, computed at compile-time, gets the incorrect value 0. When replacing the `const` with `let`, there is no error.

This problem seems to be caused by the combination of a `distinct` type and unsigned 64-bit ints. Everything works as expected with `uint64` replaced by `int64` or `

[2021-03-29 15:51] ringabout commented on #16138
closes in favour of https://github.com/nim-lang/Nim/issues/17190

[2021-03-29 15:51] #16138 closed, assigned to nobody

[2021-03-29 15:54] #14011 closed, assigned to ringabout

[2021-03-29 15:54] ringabout commented on #17021
@ardek66

make a PR?

[2021-03-29 16:02] ringabout commented on #16238
regression is fixed, bug3 is not a bug.

[2021-03-29 16:02] #16238 closed, assigned to nobody

[2021-03-29 16:28] #17460 closed, assigned to ringabout

[2021-03-29 16:36] ringabout commented on #14529
Duplicate of https://github.com/nim-lang/Nim/issues/4350

[2021-03-29 16:36] #14529 closed, assigned to nobody

[2021-03-29 17:52] mikra01 opened #17575 "crosscompile and --genScript:on : unsure which compiler is invoked"
The project setup which I am talking about can be found here:

https://github.com/mikra01/nim_arm_template

I have multiple compilers (gcc) installed. The compiler "gcc" references to my host-compiler.
"arm-none-eabi-gcc" is my arm-crosscompiler.

I invoke the buildscript with "nim build_lpc2148 project.nims" within the projects directory "nim-arm-template" (where my
"project.nims" resides)

If I

[2021-03-29 18:26] timotheecour commented on #16238
indeed; followup https://github.com/timotheecour/Nim/issues/388 for bug 3

[2021-03-29 18:30] timotheecour commented on #17575
can you try passing `--gcc.exe:arm-none-eabi-gcc` or similar?
(see also config/nim.cfg)

[2021-03-29 18:38] timotheecour commented on #12955
@xflywind problem is still there, you need to pass `--stylecheck:hint` or `--stylecheck:error`

as of 861c42c258ee81ff20630fdaa49813de5311881d 1.5.1

[2021-03-29 18:48] #17481 closed, assigned to ringabout

[2021-03-29 19:13] mikra01 commented on #17575
I modified now line 15 of my project.nims and added the flag "--gcc.exe:arm-none-eabi-gcc" but there is no change in behaviour. More funny if I pass a invalid compiler-name (see below) it still compiles... seems like that my host-compiler is invoked...
[code]
From a user perspective I thought I could override all flags of the parent configs (so given flags in my project's nim.cfg are overriding th

[2021-03-29 19:16] #17412 closed, assigned to Clyybber

[2021-03-29 19:40] mikra01 commented on #17575
I just glanced in commands.nim and there are some other flags (don't know the difference between --skipprojconf and --skipuserconf). When I add these flags, it still compiles (but it seems that the parent configs are not used anymore)
[code]

[2021-03-29 19:49] timotheecour commented on #17575
use `--listCmd --hint:cc --hint:link` and show results (these flags should show compile and link cmd at least on devel / 1.5.1 if not before); use `-f` to force rebuild to make sure those flags take effect

did you see nim --fullhelp?
[code]
(if that's not clear enough, feel free to suggest alternate wording)

it's very possible there's a bug, PR welcome :)

[2021-03-29 20:02] timotheecour commented on #17575
I think i can reproduce at least some of your problems:

[code]

=> link step doesn't honor `--clang.exe`

IMO we need a proper nim flags --compilerexe:exe, --linkerexe:exe, which would be invoked regardless backend (c or cpp), OS, etc. exe would be searched in PATH (could be absolute paths), and just be forwarded as is to linker and backend compilation commands

the current situation is not good,

[2021-03-29 20:22] mikra01 commented on #17575
Thanks for the hint. But for 1.4.4 these flags do nothing - I am switching to devel now (need a few minutes).

wasn't aware of it. I just glanced in "commands.nim" and thought I will get some clarification about these flags. Unfortunately there are not much comments in it :-).

I assume now the User config is the nim.cfg within the user's working directory...

From my point of view there are too m

[2021-03-29 20:33] mikra01 commented on #17575
yep - that would be great.

my output is now:
[code]

unfortunately the output is still not beneficial... But according to the generated compiler's MASM output it seems that "arm-none-eabi-gcc" is invoked...

[2021-03-29 20:37] mikra01 commented on #17575
It seem's that the flags "--listCmd --hint:cc --hint:link " are not functional on a windows host...
And also I am unsure which linker is invoked. I will now test with "--noLinking:on" and invoke the linker manually as a workaround

[2021-03-29 21:08] timotheecour commented on #17575
--hint:link isn't shown probably because you're using genscript:
[code]

"any sufficiently advanced compiler/program..."
clang --help|wc -l
     926
nim --fullhelp|wc -l
     202
man git | wc -l
    1440

number of flags isn't the problem, what matters more is their design/organization/orthogonality

~/.config/nim/ on osx (https://nim-lang.github.io/Nim/os.html#getConfigDir / "nim")

[2021-03-29 23:12] #15988 closed, assigned to nobody

[2021-03-30 00:48] xflywind commented on #15946
no need to rebase, no useful new commits

[2021-03-30 01:30] timotheecour commented on #17483
@lhupfeldt PR welcome to document it, yes, it means absolute path, the name is historical cruft.

no, historical cruft

[2021-03-30 01:33] timotheecour commented on #13443
this should probably be legal:
[code]

this should not be legal:
[code]

see also https://github.com/nim-lang/RFCs/issues/292 which defines a useful use case for passing `_`; that use case should be reserved

[2021-03-30 02:28] ringabout commented on #13406
close in favour of https://github.com/nim-lang/Nim/issues/15946

[2021-03-30 02:28] #13406 closed, assigned to nobody

[2021-03-30 03:26] timotheecour commented on #13406
@xflywind wrong link?

[2021-03-30 05:37] ringabout commented on #13804
It can be used inside procs too.

[code]

https://github.com/nim-lang/Nim/issues/13443#issuecomment-809838183

[2021-03-30 06:05] #17299 closed, assigned to Clyybber

[2021-03-30 06:07] #16159 closed, assigned to nobody

[2021-03-30 06:41] ringabout commented on #16509
Ref https://github.com/nim-lang/Nim/pull/17513

closed

[2021-03-30 06:41] #16509 closed, assigned to nobody

[2021-03-30 07:34] StefanSalewski commented on #17437
Thanks for trying to fix...

While nim check works fine now, nimsuggest unfortunately still crashes when one tries to fill in the values of an object constructor as in

[code]

Not that example is an actual use case, not invalid Ruby or C++ code. The Object I try to fill is

[code]

[2021-03-30 08:27] #17512 closed, assigned to nobody

[2021-03-30 08:59] #10256 closed

[2021-03-30 11:19] shirleyquirk commented on #17572
reducing further, the issue happens when converting from uint64 with high bit set to T in the VM
[code]
compiletime:
x: 9223372036854775815 res: 7
runtime:
x: 9223372036854775815 res: 9223372036854775815

[2021-03-30 14:14] markspanbroek opened #17583 "`system/inclrtl` has unexpected side-effect for exception tracking"
`system/inclrtl` pushes [sinkInference](https://github.com/nim-lang/Nim/blob/af2a7e8cbc3729ac62be64b5683e4a2187160b2f/lib/system/inclrtl.nim#L50), which can lead to unexpected results when you're working with exception tracking using `{.push raises:[...].}` statements.

This confusion is the root cause of https://github.com/status-im/nim-chronos/issues/169.

### Example
[code]

The `{.pop.}` in th

[2021-03-30 14:15] ghost commented on #17583
Wait, but why would you want to include this file in your user code?

[2021-03-30 14:15] ghost commented on #17583
And the underlying problem with closures with sink inference is known and that's why sink inference is disabled for user code

[2021-03-30 14:16] ghost commented on #17583
oh, in your case it causes issues with exception tracking because of the pop, interesting

but yeah, anyway, I don't see how inclrtl is used in the asyncloop.nim file

[2021-03-30 14:20] markspanbroek commented on #17583
The file was included in chronos because it started out as a copy of async from the standard library. Now that we've found the root cause, we're indeed likely to remove the include.

[2021-03-30 14:20] ghost commented on #17583
@markspanbroek yeah, just remove that line - chronos doesn't use it at all, it's only needed for making RTL procs. I tested and chronos compiles just fine with that line removed

[2021-03-30 14:20] arnetheduck commented on #17583
Notably this is a regression from nim 1.2 where there is no `push` in `inclrtl` - the `include` itself is a leftover from past times that we'll remove but we're opening the issue to highlight the regression itself and a general problem with `push` inside files that are designed for including.

[2021-03-30 14:21] ghost commented on #17583
@arnetheduck sure, but then this issue should have a more generic title about push pragma in include'd files :)

[2021-03-30 15:29] ringabout commented on #11717
It seems to work with `--gc:arc`?

[code]

[code]

[2021-03-30 15:44] ringabout commented on #15035
It now produces `cannot create an implicit openArray copy to be passed to a sink parameter`.

[code]
Nim 1.4.2

[2021-03-30 16:07] timotheecour commented on #15946
https://github.com/nim-lang/Nim/pull/17580#issuecomment-809932505

@xflywind in that case we should:
* merge changes from nim-lang/niminst into tools/niminst
* manually merge remaining PR https://github.com/nim-lang/niminst/pull/1 (if applicable)
* archive https://github.com/nim-lang/niminst after adding a final note in the README pointing to use nim/tools/niminst

[2021-03-30 16:09] ringabout commented on #15946
no useful additions.

it is inconvenient for me. Please someone has rights to do that.

[2021-03-30 16:20] ringabout commented on #14673
The message didn't show up on Nim 1.4.x.

[2021-03-30 16:20] #14673 closed, assigned to nobody

[2021-03-30 16:21] ghost commented on #14673
@xflywind because that warning was silenced, yeah :)

EDIT: not silenced, but it has become stricter

[2021-03-30 17:08] timotheecour commented on #15946
indeed, I just checked as well.

done; i added a note in https://github.com/nim-lang/niminst description on the right pointing to this issue, and marked it as archived; it can always be unarchived if every needed

[2021-03-30 17:12] #15946 closed, assigned to nobody

[2021-03-30 17:15] timotheecour commented on #11433
@xflywind do we really need to bundle niminst with nim's installation or can we close this? isn't it good enough to clone nim for this use case?

[2021-03-30 18:15] #15617 closed, assigned to nobody

[2021-03-30 19:34] timotheecour commented on #17017
refs https://github.com/nim-lang/Nim/pull/17375#issuecomment-810483656

given that azure-pipelines.yml contains
`curl -L https://nim-lang.org/download/mingw64.7z -o dist/mingw64.7z`

we should check again whether CI is still affected by those bugs and if not add tests and close this

[2021-03-30 20:47] timotheecour commented on #17572
## reduced a bit:
unrelated code affects correctness
[code]

ct:
9223372036854775815
(9223372036854775815, 7)
rt:
(9223372036854775815, 9223372036854775815)

## very strange:
[code]

ct with -d:caseOK
9223372036854775815
(9223372036854775815, 9223372036854775815, 9223372036854775815)

ct without -d:caseOK:
9223372036854775815
(9223372036854775815, 7, 33)

[2021-03-30 22:37] timotheecour commented on #17572
=> PR https://github.com/nim-lang/Nim/pull/17586

[2021-03-31 02:40] timotheecour opened #17589 "access to static params gives: 'intVal' is not accessible using discriminant 'kind' of type 'TFullReg' (ditto with 'floatVal' )"
all those gave some variation of the same bug:
 'intVal' is not accessible using discriminant 'kind' of type 'TFullReg'
 'floatVal' is not accessible using discriminant 'kind' of type 'TFullReg'

### Example
[code]

### Current Output
depending on which block, you get:
 'intVal' is not accessible using discriminant 'kind' of type 'TFullReg'
 'floatVal' is not accessible using discriminant 'kind' o

[2021-03-31 02:52] timotheecour commented on #14585
@cooldome please always write git hash instead of `now`, `works as expected now` is very vague.

I'm fixing this here: https://github.com/nim-lang/Nim/pull/17590

[2021-03-31 02:56] timotheecour commented on #16774
@mratsim please minimize; note that https://github.com/nim-lang/Nim/pull/17590 fixes https://github.com/nim-lang/Nim/issues/14585 but not this issue, however it could very well be that a similar fix as https://github.com/nim-lang/Nim/pull/17590 would fix this too

[2021-03-31 04:41] ringabout commented on #11837
Related: https://github.com/nim-lang/Nim/issues/6747

[2021-03-31 05:02] ringabout commented on #11370
Now you got a warning

[code]

[2021-03-31 05:27] ringabout commented on #11433
Yeah, The source code of niminst` is shipped with Nim. You can compile `tools/niminst/niminst.nim`(installed by choosenim).

@timotheecour
maybe update documentation regarding where it is and how to use it?

[2021-03-31 06:31] timotheecour commented on #11370
what does `nim c -r -f ttest.nim` give?

(asking because the warning may depend on whether -f is passed)

[2021-03-31 08:15] #12282 closed

[2021-03-31 09:25] #14585 closed, assigned to nobody

[2021-03-31 09:25] #17589 closed, assigned to nobody

[2021-03-31 09:27] #17572 closed, assigned to nobody

[2021-03-31 09:52] Araq commented on #15035
Good enough, I think.

[2021-03-31 09:52] #15035 closed, assigned to nobody

[2021-03-31 13:30] ringabout commented on #15552
It is now exported as `prepareMutation`.

Hi @geekrelief
Now there is a better solution with latest devel.

[code]

[2021-03-31 17:28] timotheecour opened #17600 "`nim sometask main.nonexistant` works even if main.nonexistant doesn't exist"
### Example

main.nims:
[code]

nim foo main.nims # case 1
nim foo main.nonexistant # case2
nim foo main # case3

ditto with things like `help`

### Current Output
these all work and run the foo task

### Expected Output
only case1 should work
case2 is a clear bug, since main.nonexistant doesn't exist
case3 is IMO a bug, IMO this shouldn't be legal, it's too loose (given that task foo is unconstra

[2021-03-31 18:54] #16786 closed, assigned to nobody

[2021-03-31 18:55] #12684 closed

[2021-04-01 02:28] ringabout commented on #12333
https://plugins.jetbrains.com/plugin/15128-nim supports both IntelliJ and Clion, and it also provides basic debugging supports.

![image](https://user-images.githubusercontent.com/43030857/113234954-dccbd500-92d4-11eb-84cd-13c4d1d711ee.png)

So please files issues at https://youtrack.jetbrains.com/issues/NIM if someone has problems with it.

[2021-04-01 02:28] #12333 closed

[2021-04-01 02:30] timotheecour opened #17602 "weird ObjectAssignmentDefect runtime errors on based object class assignment"
### Example 1
[code]

### Current Output
* works in CT
* works in js
* works in gc:arc
* crashes in RT with gc:refc
[code]

### Expected Output
* VM, RT, js should have same behavior
* that behavior should be that it works
(similar code works in C++)
* even if it wasn't supposed to work, it should give CT error, not RT crash

### Example 2
[code]

same behavior as Example 1

### Additional Informa

[2021-04-01 02:33] ringabout commented on #17602
You can use ref object.

[2021-04-01 02:37] timotheecour commented on #17602
it should work IMO (eg suppose i want stack allocation and don't want ref)

* similar code (without pointer) works in C++
* it works in js, CT, gc:arc

IMO it should work in gc:refc

[2021-04-01 02:46] ringabout commented on #12058
Can't reproduce with latest Nim.

[2021-04-01 02:46] #12058 closed

[2021-04-01 02:49] ringabout commented on #12059
Can't reproduce with latest IC.

[2021-04-01 02:49] #12059 closed

[2021-04-01 03:47] timotheecour opened #17603 "js generates spurious `>>>` on `shr`"
originally reported in https://forum.nim-lang.org/t/7714#48956

### Example
[code]

### Current Output
nim r -b:js -d:danger main.nim
generated js:
[code]
### Expected Output
[code]

### Possible Solution
don't call `unsignedTrimmer` for `shr` (that's probably the only exception; shl isn't affected by this doubling bug for example)

### Additional Information
1.5.1 fe9a37f2a57d0e76984b25c3dfe0fbdc

[2021-04-01 03:52] timotheecour opened #17604 "js bit ops gives wrong results on large uint32 numbers"
originally reported in https://forum.nim-lang.org/t/7714#48950

bit ops (eg and) give incorrect results in js for large (> int32.high) uint32 numbers; nim should compensate for signed bitop semantics by inserting `>>> 0`, see `unsignedTrimmer`

### Example 1
[code]

### Current Output
[code]

### Expected Output
2147483648
2147483648
2147483648
2147483648
2147483648
2147483648
-2147483648
-2147483

[2021-04-01 05:56] Araq commented on #17552
As much as I dislike .global, we can also just fix the bug.

[2021-04-01 06:03] ringabout commented on #9188
The internal of `get` procs changed, though the problem remains.

The self-contained code:

[code]

[2021-04-01 06:05] #17190 closed, assigned to nobody

[2021-04-01 06:05] ringabout commented on #9136
Another workaround: always specify the types of the first parameter.

[code]

[2021-04-01 06:47] #9534 closed

[2021-04-01 08:51] Clonkk opened #17609 "Valgrind report memory leak with threadpool"
Valgrind reports memory possibly lost when using threadpool

### Example

[code]
Compiled with ``nim cpp -d:release -d:useMalloc --gc:arc ``

### Current Valgrind Output

[code]
### Nim Version

[code]

[2021-04-01 08:54] ringabout commented on #12952
It may be related to dlopen, and it seems like a known issue
https://stackoverflow.com/questions/1542457/memory-leak-reported-by-valgrind-in-dlopen

`nim c --lib:lib -g -d:useMalloc --gc:orc test.nim` and `valgrind --leak-check=full --show-leak-kinds=all --log-file=test.txt ./test`

[code]

[2021-04-01 08:55] #12952 closed

[2021-04-01 09:03] ghost commented on #17609
Not a real memory leak - threadpool has to start N number of threads (N being number of logical CPU processors), in your case that's 12, in my case - 16:
[code]

As far as I know, we don't really clean up global variables or states on program exit since the OS does it for us anyway.

[2021-04-01 09:09] Clonkk commented on #17609
CLosing as this is expected behaviour then

[2021-04-01 09:09] #17609 closed, assigned to nobody

[2021-04-01 09:34] ghost commented on #5375
Can't seem to reproduce with ARC on latest devel - running the binary by itself and it stays on 1076KB of memory, Valgrind or MSAN report no leaks either.

[2021-04-01 09:35] ghost commented on #5375
It does seem to leak with refc though, the issue seems like that `a` in `doThingsToA` doesn't get free'd unless you call GC_fullCollect() manually:

[code]

[2021-04-01 09:58] ghost commented on #17517
@BLeAm these 16KiB are from the fact that ORC has to maintain some special data to track cycles - https://github.com/nim-lang/Nim/blob/devel/lib/system/orc.nim#L131, it's not related to `StringStream` or anything else.

The size itself (16384) is because of https://github.com/nim-lang/Nim/blob/devel/lib/system/cellseqs_v2.nim#L36 - default capacity for `CellSeq` is 1024, and `CellArray` has `CellT

[2021-04-01 09:59] ringabout commented on #17602
Related:
https://github.com/nim-lang/Nim/issues/11592
https://forum.nim-lang.org/t/7733

[2021-04-01 10:46] #6133 closed

[2021-04-01 10:47] #17017 closed, assigned to nobody

[2021-04-01 11:05] ringabout commented on #4655
Duplicate of #16969

close in favour of #16969

[2021-04-01 11:05] #4655 closed

[2021-04-01 11:30] ringabout commented on #6345
You can keep an empty line by yourself

[code]

`nim c --lineDir:on -r ttest.nim`
1

[2021-04-01 11:41] ringabout commented on #5989
Reopen because it is not fixed yet.

[2021-04-01 13:43] ringabout commented on #5989
use
[code]

[2021-04-01 13:44] ringabout commented on #6345
The workaround is good enough and hard to fix.

[2021-04-01 13:50] ringabout commented on #6345
https://github.com/nim-lang/Nim/commit/c446806f751642c9ebcaed9cac88d5c24d748c19

[2021-04-01 14:20] jxy commented on #6345
Shouldn't we leave the bug open, or at least make it something like `won't fix`?  Anybody try to debug nim code while emitting C preprocessor directive would trip on this.  A good enough workaround is not equal to a proper fix.

[2021-04-01 21:17] timotheecour commented on #17504
update:
* @JohnAD 's PR seems to work well, see https://github.com/Varriount/NimLime/pull/153
* I've sent a PR against github linguist so that github will also be fixed, see https://github.com/github/linguist/pull/5306
* IMO we should move https://github.com/Varriount/NimLime to nim-lang/NimLime so that issues get more eyeballs/PRs/reviews/etc (last commit in that repo was 2 years ago and issues a

[2021-04-01 23:07] timotheecour opened #17615 "runnableExamples silently ignored if placed after some code"
### Example
[code]

### Current Output
see https://nim-lang.github.io/Nim/jsbigints.html#big%2CSomeInteger

![image](https://user-images.githubusercontent.com/2194784/113362887-4ca58400-9304-11eb-9b9c-910abf502d13.png)

### Expected Output
CT error or support it properly (fixing jsbigints is not enough; docgen needs to be fixed)

### Additional Information
1.5.1 f0587e02e255b1fc1a0d0b21aebcacf37ec

[2021-04-02 01:09] shirleyquirk opened #17617 "Compiler crash when trying to pass non-nullary template or macro to proc(p:proc)"
passing a typed template(Ts...) or macro(Ts... to a proc(proc(Ts..)) results in a compiler crash

### Example
[code]

### Current Output
[code]

### Expected Output
probably type error expected proc(T):T{.closure.} got template
but extra credit if it accepts template(T):T

i ran into this trying to @[1,2,3].map(initBigInt), had to check source to find out that initBigint is `template initBigInt(x:

[2021-04-02 07:18] #16553 closed, assigned to nobody

[2021-04-02 07:23] timotheecour commented on #17392
that's possible; I'm using osx 10.15.7, just retested "first example" now as of nim 2365b5250ec8a8893a376e75ad841d01c327893d and it's the same as before, it hangs within < 10s.

[2021-04-02 07:48] ringabout commented on #17392
Yeah, I tested it on ubuntu 20.04(it is the host system) (single core)
And VMware + manjaro(host system is windows) (four cores)
no hangs.

[2021-04-02 08:45] mikra01 commented on #17575
"--listCmd --hint:cc --hint:link" work as expected (without genscript option - this could be mentioned in the "compiler user guide"). don't like to introduce new features so I think this can be closed.

[2021-04-02 08:45] #17575 closed, assigned to nobody

[2021-04-02 09:56] #7875 closed

[2021-04-02 11:11] #7726 closed

[2021-04-02 11:11] #8220 closed

[2021-04-02 11:44] HJarausch opened #17618 "The Duration object should export its fields"
[code]

$ nim -v
Nim Compiler Version 1.5.1 [Linux: amd64]
Compiled at 2021-03-31
Copyright (c) 2006-2021 by Andreas Rumpf

git hash: 0be7f854ed0327c3c2c75e682eddab2b502538bb
active boot switches: -d:release

[2021-04-02 11:50] shirleyquirk commented on #17617
related crash if the template is untyped
[code]

Result:
[code]

[2021-04-02 12:43] BLeAm commented on #17517
@Yardanico  Your explanations and detailed info really shed light and helped me get more understanding, highly appreciated, thank you. :)

[2021-04-02 14:06] konsumlamm commented on #17618
You can just use [`inSeconds`](https://nim-lang.github.io/Nim/times.html#inSeconds%2CDuration):

[code]

Exporting the fields is usually a bad idea, since that also allows modifying them. See also https://github.com/nim-lang/Nim/pull/14197.

[2021-04-02 14:08] ringabout commented on #17618
yeah, I already prepare a small PR for docs.

[2021-04-02 14:45] mratsim commented on #16774
Come on, it's a single file with 37 lines. It's also the minimum translation of my data structure and what I attempted to do.

Given how distinct, static, symbol resolution/bindsym, generics, {.compileTime.} and types interact with each other and the useless error message, I think that's reasonable minimal reproducing example.

[2021-04-02 15:07] konsumlamm opened #17621 "[View types] `lent` parameter can cause a segfault"
### Example

[code]

### Current Output

[code]

### Expected Output

A compiler error. Either something like
[code]
(which is what happens without `{.experimental: "views".}`, based on https://github.com/nim-lang/Nim/issues/16898#issuecomment-770827928) or an error because `self` is modified through a `lent`.

### Possible Solution

* Disallow `lent` for parameters.

### Additional Information

R

[2021-04-02 15:17] konsumlamm commented on #16898
What is the reasoning behind not allowing `lent` parameters? (Fwiw, you can also have `var` and `openArray` parameters, or are these different somehow?) I imagine it to be useful for guaranteeing that the parameter is only a view of some object and thus cannot be modified (even if it's a view for a `ref object`). Or is there some alternative/workaround that allows something like that? (I know that

[2021-04-02 17:12] timotheecour commented on #11182
this isn't related to quote do

reduced with 0 imports:
[code]

## proposal fix
fields should be gensym'd (as do var's)

## details
[code]

Error: cannot use symbol of kind 'proc' as a 'field'
[code]

[2021-04-02 19:21] timotheecour commented on #14850
update:
* Example 1 now works thanks to  #17282

* Example 2 is in fact not a problem specific to `quote`, but a problem specific to rendering of `do` by repr. https://github.com/nim-lang/Nim/pull/17449 fixed the biggest problem there but the following case wasnt' fixed:

[code]

prints:
[code]

the problem here is that `repr` prints the code incorrectly, giving illegal code that is interpreted as

[2021-04-02 20:06] #17618 closed, assigned to nobody

[2021-04-02 20:19] Araq commented on #16898
``a, b: QuadraticExt``  already is the immutable view, no need for ``lent``. However, your extension wrt `ref object` makes some sense. But in general I don't like re-using type modifiers or keywords in an ad-hoc fasion.

[2021-04-03 01:26] #17615 closed, assigned to ringabout

[2021-04-03 06:17] #14806 closed, assigned to nobody

[2021-04-03 07:18] Araq commented on #4132
It doesn't copy:

[code]

The backend can be smarter with aliases but that's a separate issue.

[2021-04-03 07:18] #4132 closed

[2021-04-03 07:20] Araq commented on #2684
There are no "severe" feature requests.

[2021-04-03 09:14] Clyybber commented on #5989
Should still work without this workaround IMO

[2021-04-03 09:17] ringabout commented on #5989
@Clyybber
It is duplicated of https://github.com/nim-lang/Nim/issues/6345, so I didn't reopen it.

[2021-04-03 09:35] ringabout commented on #5989
Duplicate of  #6345

[2021-04-03 09:35] #5989 closed

[2021-04-03 11:42] liquidev commented on #10535
I agree that the error message should be changed, it was quite confusing when I stumbled onto it the first time. Perhaps `attempt to use compileTime proc 'fun' at runtime` would be a bit more clear?

[2021-04-03 13:24] konsumlamm opened #17630 "[Concepts] Recursive concepts cause a compiler segfault when testing with `is`"
### Example
[code]

### Current Output
The compiler crashes.
[code]

### Expected Output
An error message or successful compilation.

### Possible Solution
* Disallow referring to the concept being defined inside its definition.

### Additional Information

[2021-04-03 14:05] #14850 closed, assigned to nobody

[2021-04-03 15:46] timotheecour commented on #17102
well, there's also a bug reported here:

[2021-04-03 15:54] timotheecour commented on #11734
for the reverse direction, see https://github.com/nim-lang/Nim/pull/15421#issuecomment-746863623

[2021-04-03 16:11] ringabout commented on #11734
See also
https://www.python.org/dev/peps/pep-0378
https://www.python.org/dev/peps/pep-0515

[2021-04-03 17:26] timotheecour commented on #11734
https://www.python.org/dev/peps/pep-0515/ is already in nim, so i guess it's mostly https://www.python.org/dev/peps/pep-0378/ to consider

[2021-04-03 18:37] lscrd opened #17632 "Compiler internal error when defining local iterator variable."
When defining an iterator variable, the program compiles successfully if the variable is global but causes an internal compiler error if it is local.

### Example

The following program compiles and execute without any problem:

[code]
But moving the definition of "it" in a procedure makes the compiler encounter an internal error: ``internal error: expr: var not init iter_4607114``

[code]
### Cur

[2021-04-03 19:11] ghost commented on #17632
Maybe related:
https://github.com/nim-lang/Nim/issues/15896
https://github.com/nim-lang/Nim/issues/16416

[2021-04-03 19:48] elbow-jason commented on #9247
I can reproduce this issue with this simple example:

[code]

On this version:
[code]

The error:
[code]

[2021-04-03 20:19] ghost commented on #9247
@elbow-jason that's a different issue and I'm not sure if we could fix it - `stderr` is a file handle that is only available at runtime

[2021-04-03 21:32] mattrbeck commented on #17212
I don't think I'm providing any new information, but just want to document that I'm observing the same thing!
[code]
[code]

[2021-04-04 01:20] ringabout commented on #11734
yeah, pep515 also introduces `_` option for f-string. Before f-string only support `,` option.

[2021-04-04 02:17] Akira13641 commented on #17366
I suppose if you're **sure** this actually isn't a real technical issue (and again, to be clear, the idea implied by someone else in this thread that Nim is somehow magically immune to C bugs is completely nonsensical, because Nim programs **are** ultimately exactly just C programs and nothing else) then it would be a good idea to add `-Wstringop-overflow` to that list.

[2021-04-04 08:20] KnorrFG opened #17635 ""lock levels differ" error depending on function names"
compiling the following code:
[code]

will produce this error:
[code]

the following two ways will make the code compile:

- remove either foo or bar from the `testees` list
- rename function bar to foo and rename function foo to bar

I believe this to be a compiler bug

compiled via `nim r nimtest.nim` in wsl2 with Ubuntu
[code]

[2021-04-04 08:57] timotheecour opened #17636 "testament: `line` spec silently ignored in tests where errormsg is not specified"
### Example
in tests/init/tuninit1.nim:
[code]

change `line:34` to `line:1234`

### Current Output
test still passes

### Expected Output
give error saying that line is ignored in presence of `nimout` and shouldn't be specified.

note also that specifying line and col and errormsg is IMO bad (because it's more work), instead, the test should specify if there's an error by adding relevant line to

[2021-04-04 12:14] ringabout commented on #11734
using `sprintf` make it a bit hard to extend.

needs
https://github.com/nim-lang/Nim/issues/13365
to move on.

[2021-04-04 20:47] #16693 closed, assigned to ringabout

[2021-04-05 15:12] ringabout commented on #17470
Please provide the code that causes the crash.

And similar/same issue -- https://github.com/nim-lang/Nim/issues/12684 already works in devel.

[2021-04-05 18:24] timotheecour opened #17646 "rst: invalid use of admonition silently removes line"
/cc @a-mr
just found this in docs https://nim-lang.github.io/Nim/iterators.html for `fieldPairs`, which were missing a line `This really transforms the 'for' and unrolls the loop. The` because docs used `.. warning:::` instead of `.. warning::`

### Example
[code]

### Current Output
please check whether the problem still exists in git head before posting,
see [rebuilding the compiler](https://nim

[2021-04-05 18:39] arnetheduck opened #17647 "segfault on trivial uncaught exception with `--exceptions:goto`"
[code]

[code]

Expected a backtrace..

[2021-04-05 18:48] ghost commented on #17647
FWIW works with `--gc:arc`

[2021-04-05 18:52] arnetheduck commented on #17647
that would seem orthogonal to the issue though? ie if `goto` is not supposed to work with the default gc, it shouldn't be selectable?

[2021-04-05 19:30] saem commented on #16719
Debugging Update:

At least one issue seems to be that there is a stale nfSem flag on the if statement (`if not(env_...`) and so none of the children were sem'd. I put in a defensive reset of the sem flag after macro execution in sem.nim `semMacroExpr`:

[code]

Still receiving non sem'd nodes in code gen, I'll keep digging.

[2021-04-05 19:50] beef331 commented on #17647
Suppose it's worth noting with `--newRuntime` and the default gc it does properly error, just missing stack trace, but I'd wager `goto` should imply `newRuntime`.
Output with `--exceptions:goto --newRuntime`:
[code]

[2021-04-05 19:56] ghost commented on #17647
@arnetheduck why orthogonal? I just meant that it works with gc:arc, and arc uses goto exceptions by default too.

[2021-04-05 20:03] arnetheduck commented on #17647
orthogonal because.. it doesn't work with the default gc and arc doesn't generally work yet? as in, it looks like it's a separate feature from arc that can be used standalone (or if it isn't, it should be advertised as such rather that segfaulting - it's hard to trust a feature when trivial examples like this fail)

[2021-04-06 06:33] derekdai commented on #9419
On Ubuntu 20.04, I have the same issue with nake
[code]

[code]

Without nake, `httpclient` works fine
[code]

[2021-04-06 09:46] StefanSalewski opened #17653 "Minor nimsuggest issue"
Nimsuggest shows error in editor, while it compiles fine.

[code]

[code]

[2021-04-06 09:54] Araq commented on #17366
No, you don't make sense. C programs really are immune to the "invalid opcode" assembler language problem even though C really is translated to assembler.

[2021-04-06 10:10] Araq commented on #17647
It's an orthogonal feature that has seen much testing with --gc:arc and not much with the default GC. Not ideal, but so far nobody has found a good way to tame exponential explosions.

[2021-04-06 12:33] juancarlospaco commented on #11433
@xflywind
What are the advantages of doing that ?.

In theory, sounds kinda Ok,
in practice, when a tool goes not shipped or not built, and unused by people eventually gets broken beyond repair,
that happened with other tools on the tools folder in the past too, eventually the tool just wont build with devel,
and starts getting more and more abandoned, and the tool [only has 1 Bug](https://github.

[2021-04-06 12:35] ringabout commented on #11433
It is used internally, can't be broken easily as other tools.

For example `koch csource` will compile `tools/niminist`.

[2021-04-06 14:20] #17636 closed, assigned to ringabout

[2021-04-06 14:22] Araq commented on #14873
I consider this bug fixed.

[2021-04-06 14:33] ringabout commented on #14873
https://github.com/nim-lang/Nim/issues/14873#issuecomment-784241605
The second problem remains. Maybe open a new issue?

[2021-04-06 15:58] HJarausch opened #17656 "Nim Devel cannot compile weave"
The commit
2f213db7eed7fb715b803559b38af4148cff02e1  first bad commit
Author: Andreas Rumpf <rumpf_a@web.de>
Date:   Tue Mar 9 20:19:24 2021 +0100

introduced the bug

[code]

[2021-04-06 16:01] #16898 closed, assigned to ringabout

[2021-04-06 16:01] #17621 closed, assigned to ringabout

[2021-04-06 20:08] #4451 closed

[2021-04-06 21:36] euantorano opened #17658 "SSL certificate loading breaks after first found certificate"
SSL certificate validation is currently failing on NetBSD.

Given the following code:

[code]

The output is:

[code]

However, the following commands all work so SSL is configured correctly:

[code]

[code]

SSL certificates are installed via the `security/mozilla-rootcerts` package (`pkgin install mozilla-rootcerts && mozilla-rootcerts install`).

The `ssl_certs` module successfully finds the in

[2021-04-06 21:43] euantorano commented on #17658
Note: it may be worth looking a how Go handles things, as the design seems similar:

- Paths: https://github.com/golang/go/blob/master/src/crypto/x509/root_bsd.go
- Loading certs: https://github.com/golang/go/blob/2ebe77a2fda1ee9ff6fd9a3e08933ad1ebaea039/src/crypto/x509/root_unix.go#L34

[2021-04-06 22:24] a-mr commented on #17646
Unfortunately `..` syntax is reused for comments in rst, so it's legal.

But I agree that a warning should be given. Especially easy is to input single `:` after a directive name instead of `::`.

[2021-04-07 05:46] #17656 closed, assigned to nobody

[2021-04-07 06:34] timotheecour commented on #4451
@xflywind there must be a better way than https://github.com/nim-lang/Nim/pull/17627, a flag `--profiler` should be sufficient and not require changing the sources with
[code]

note that we can do `--import:nimprof` but that's also not satisfying as adds an import in all modules.

The exact same situation happens with libbacktrace, currently requiring either editing sources with `import libbacktra

[2021-04-07 06:59] florian-rabis opened #17664 "Cross-compiling to 32 Bit Windows release build causes error comparing two floats at runtime (Nim 1.4.4 x32)"
Hello,
I need to compile my program to a 32 Bit Windows embeded System.
The debug builds works fine but when I set the `--define:release` or the `danger` switch there comes to an error when I compare 2 floats.

### Current Output
This is my log-output:
[code]
`ProcessValueError` inherits from `ValueError`.

### Example Code
and here the corresponding code that raises this exception:

[code]
Both v

[2021-04-07 09:36] KnorrFG opened #17666 "Redefinition and usage of ref type in different scopes leads to invalid c code"
It seems that when you define a type with different fields in two different scopes, and instantiate it in both scopes, and accedss a field in the second defintion, that didnt exist in the first definition, the generated c-code will be invalid.

Compiling this:
[code]

will result in:
[code]

Also:
[code]

[2021-04-07 09:52] ringabout commented on #15526
@timotheecour
not sure whether it is a regression, please double check the first example on Nim playground.

[2021-04-07 09:52] ringabout commented on #17666
Duplicate of https://github.com/nim-lang/Nim/issues/15526

[2021-04-07 09:52] #17666 closed, assigned to nobody

[2021-04-07 12:03] Araq commented on #17664
Please provide a complete, compilable example.

[2021-04-07 12:52] shirleyquirk commented on #6981
Reduced:
[code]
Obviously the above shouldn't compile, but `mewSeq[int](5)` also doesn't compile and the error message is the point:
[code]

[2021-04-07 14:44] planetis-m opened #17669 "conditional broadcast missing from locks module"
### Summary

`broadcast` is used to wake up blocked threads that are placed in a queue. `signal` on the other hand unblocks a single thread. Some applications require that all threads are [awaken](
http://www.qnx.com/developers/docs/qnxcar2/topic/com.qnx.doc.neutrino.getting_started/topic/s1_procs_Condvar_signal_vs_broadcast.html) . This api is currently missing.

[2021-04-07 14:45] ringabout commented on #9691
Should this work? I would rather disable procs with `untyped` or `typed` parameters(which is only allowed in magic function).

[2021-04-07 14:45] ringabout commented on #9691
Similar issue:
https://github.com/nim-lang/Nim/issues/10913

[2021-04-07 14:49] markspanbroek opened #17670 "`rand` fails for uint64 range on 32 bit platform"
Function `rand` raises `RangeDefect` when given a uint64 range on a 32 bit platform.

### Example
[code]

### Current Output
[code]

### Expected Output

No error

### Possible Solution

In `random.nim` the offending line converts range values to int, which do not fit on a 32 bit platform:

[code]

### Additional Information
[code]

[2021-04-07 14:49] ringabout commented on #17669
Yeah, `SysCond` use `Event` in windows which makes it unnatural to implement `broadcast`.

I ever reimplemented it with `RTL_CONDITION_VARIABLE`.
https://gist.github.com/xflywind/bf90bb478b4f5c7f062717d64cf557bd

[2021-04-07 14:52] ringabout commented on #17669
Duplicate of https://github.com/nim-lang/Nim/issues/7998

[2021-04-07 14:52] #17669 closed, assigned to nobody

[2021-04-07 14:57] HJarausch commented on #17656
Vielen Dank, Andreas, für Deine schnelle Hilfe,
Helmut.

[2021-04-07 15:15] markspanbroek commented on #17670
Related: #16360 and #16296

[2021-04-07 16:34] planetis-m commented on #17669
That's awesome, thanks for looking into it. Any plans on upstreaming it?

[2021-04-07 18:54] zeitbit opened #17673 "Problem with forward declaration"
Hello,

This works OK:
[code]

But using a forward declaration fails, "_Error: invalid type: 'int32 or int64' for var_":

[code]

Specifying the type (_int32_ or _int_) produces this error: "_Error: type mismatch: got 'int32 or int64' for 'fn()' but expected 'int32'_"

[code]

And with _int64_ the exception: "_Error: unhandled exception: ccgtypes.nim(198, 17) `false` mapType: tyOr [AssertionDefect

[2021-04-07 21:26] #17647 closed, assigned to nobody

[2021-04-07 22:54] beef331 commented on #17673
I couldnt resist trying the following, and it might be related to the issue. The types of a forward declared procedure seems to be unresolved until the implementation is specified meaning the return type is the typeclass you specified causing this error.
[code]

[2021-04-07 23:07] ringabout commented on #17669
yeah, will make a PR soon.

[2021-04-08 04:30] ghost commented on #17664
Can you show the source code of the proc `vbd` ?

[2021-04-08 06:44] narimiran opened #17675 "ARC introduces copies that can cause object slicing"
To reproduce this, **you need to bootstrap using ARC**: `koch boot --gc:arc`.

### Example

Save the example as `.rst` file, and run: `nim rst2html thisfile.rst`

[code]

### Current Output
[code]

### Expected Output

The same `.html` as when there is no `:test: "nim c --gc:arc $1"` line. (Without that line, the example is successful)

### Additional Information

Devel version of Nim bootstrapped

[2021-04-08 07:31] ringabout commented on #16823
So should this work in arc?
[code]

[2021-04-08 09:26] arnetheduck commented on #17647
@Araq that   fix looks odd, given this bug.. how does raises affect the stack trace?

[2021-04-08 10:24] #17470 closed, assigned to nobody

[2021-04-08 11:09] Araq commented on #17647
Tough to explain ... There must not be any "if error: goto ret" statements produced for this section:

[code]

And with my patch the compiler knows that `newStringOfCap` cannot raise. A different solution would have been:

[code]

And maybe that would have been the better fix.

[2021-04-08 11:52] florian-rabis commented on #17664
OK I encapsulated the affected code:

### Code
[code]

[code]

[code]

### Compile options
[code]

### Output
[code]

[2021-04-08 17:00] #17646 closed, assigned to nobody

[2021-04-08 22:19] japplegame opened #17681 "The compiler optimizes out unused constants marked with the `exportc` pragma"
The compiler must never optimize out constants marked with the `expotrc` pragma.
For example:
[code]
Expected C output:
[code]

Current output:
Nothing (optimized out)

[2021-04-09 06:24] metagn commented on #17681
This isn't optimized out, it's ignored. `exportc` should error on `const`. You should be using `let`.

[2021-04-09 06:24] Araq commented on #17681
No, `const` should work too.

[2021-04-09 07:15] japplegame commented on #17681
@hlaaftana, look in the corresponding thread: https://forum.nim-lang.org/t/7763
`let` does not guarantee that the initializing value will be evaluated at compile time and can be successfully placed in the`rodata ' section.

[2021-04-09 07:51] PMunch commented on #17681
If `exportc` should work for `const` then I would say `codegenDecl` should as well. Would probably solve my gripes with https://github.com/nim-lang/Nim/issues/17497

[2021-04-09 12:29] m33m33 commented on #15667
An unneeded closing parenthesis triggers the `Error: invalid indentation`message.

I guess something like `Error: Unmatched parenthesis` would be better in this case:

[code]

[2021-04-09 14:04] ghost opened #17690 "Docker image for ARM64 (aarch64)"
[Docker image](https://hub.docker.com/r/nimlang/nim) is only for AMD64, in my current project I need arm64, is there a way to  compile docker image for arm64?
Maybe having arm64 docker is also worthy?

[2021-04-09 14:17] ghost commented on #17690
As the image documentation says, you should report the issue to https://github.com/moigagoo/nimage/issues/new instead of here, thanks :)

[2021-04-09 14:17] #17690 closed, assigned to nobody

[2021-04-09 19:05] GavinRay97 opened #17691 "Nim automatically appending ".exe" to compiler value on Windows breaks ability to use some compilers"
Because `.exe` is automatically appended to the end of compiler command string, this means that any compilation command that isn't just a binary name will fail on Windows.

IE `zig cc`, gets turned into `zig cc.exe`. It should be `zig cc` or `zig.exe cc`

Passing `switch("clang.compileTmpl", "monkey banana $file")` also does not seem to impact the used compile template, so unfortunately I wasn't a

[2021-04-10 04:40] hamidb80 commented on #8304
another example

[code]

[2021-04-10 07:12] timotheecour commented on #15667
https://github.com/nim-lang/Nim/pull/16397 was merged; see future work mentioned in that PR

[2021-04-10 08:10] HugoGranstrom commented on #12327
I'll chime in and add that `AsyncHttpClient` which uses `AsyncFile` uses `DWORD` for its offset:
https://github.com/nim-lang/Nim/blob/8ccde68f132be4dba330eb6ec50f4679e564efac/lib/pure/asyncfile.nim#L150
This means it's limited to roughly 2GB files because `DWORD = int32` in winlean:
https://github.com/nim-lang/Nim/blob/8ccde68f132be4dba330eb6ec50f4679e564efac/lib/windows/winlean.nim#L38
But `DOWRD

[2021-04-10 19:40] exelotl opened #17693 "`offsetOf` compilation error in a static context inside a procedure"
Attempting to use `offsetOf` on a type fails when used within a procedure inside a static block or assigned to a const.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information

It works fine when calling `offsetOf` at the top level:

[code]

Tested from Nim 1.4.2 to 1.4.6 RC1
[code]

[2021-04-11 17:18] mrhdias opened #17696 "The iterator "iterAndMutate" from sharedlist does not work as expected!"
The documentation says: Iterates over the list. If 'action' returns true, the current item is removed from the list.
https://nim-lang.org/docs/sharedlist.html#iterAndMutate%2CSharedList%5BA%5D%2Cproc%28A%29

When removing elements from the sharedlist, the result is not as expected. I am trying to remove two elements and get the same list without those elements.

[code]

### Current Output
The "e"

[2021-04-11 17:50] mrhdias opened #17697 "sharedtables does not have pairs or keys iterator"
Error: undeclared identifier: 'key'

Documentation:
https://nim-lang.org/docs/sharedtables.html#withValue.t%2CSharedTable%5BA%2CB%5D%2CA%2Cuntyped%2Cuntyped

### Example
[code]

### Current Output
Does not compile the code
[code]

### Expected Output
[code]

### Additional Information
[code]

[2021-04-11 20:59] beef331 commented on #17697
It works fine, what it does is check if the key is in the shared list, then accesses it and sets `value` to a `ptr V`. Hence why `/home/hdias/devel/test.nim(15, 17) Error: undeclared identifier: 'key'` is shown.
The following works:
[code]

[2021-04-11 23:42] mrhdias commented on #17697
Thanks @beef331, but the example of the documentation does not help much. Is there any way to know all the keys that are in the table?

[2021-04-11 23:54] beef331 commented on #17697
There doesnt seem any way to get `keys` or iterating over all elements in the `SharedTable`.

[2021-04-11 23:59] mrhdias commented on #17697
Any ideas on how to implement these features for sharedtables? Or is it something that is not possible?

[2021-04-12 02:41] dullbananas commented on #13341
Also happens with any inner function with a `return` statement

[2021-04-12 04:48] beef331 commented on #17697
It seems to be a similar implementation to the `tables.Table` type so you might be able to mostly copy [this](https://github.com/nim-lang/Nim/blob/version-1-4/lib/pure/collections/tables.nim#L705). Just noticed now that it says  "Use plain old non GC'ed keys and values or you'll be in trouble." , so probably shouldnt be using strings. :smile:

[2021-04-12 07:00] Araq commented on #17697
The shared table and lists implementations predate Nim's destructor support and are terrible. @xflywind please take a look.

[2021-04-12 07:13] ringabout commented on #17697
1. the documentation should be updated just as tables(https://nim-lang.github.io/Nim/tables.html#withValue.t%2CTable%5BA%2CB%5D%2CA%2Cuntyped%2Cuntyped),
`WithValues` works as expected.

[code]

2. features can be added.

[2021-04-12 08:04] saem commented on #17673
Oh this is interesting. The timing for this is mostly dictated in semProcAux and the generic call I think that's in semgnrcs.nim. With the type class in the return that should make this implicitly generic. If you want to take a stab at it I would poke at semProcAux as a start. It'll be a good test to see if the reworking of the code helped clarify things.

(There is a slim chance I can look at it

[2021-04-12 15:57] btcross26 opened #17703 "`asyncdispatch` exception handling example does not work as stated"
I am unable to capture an exception when using async procedures when using Nim 1.4.2 or Nim 1.4.4.

TLDR: I am trying to set up a simple server that takes a POST request and does some stuff with the data using some C dynamic library functions. No matter what I do, I am unable to catch exceptions using `asynchttpserver`. At first, I figured this could have something to do with the C aspect of this,

[2021-04-12 19:45] stefantalpalaru opened #17704 "compiler error: unhandled exception: index out of bounds, the container is empty [IndexError]"
## replication instructions

[code]

## stack trace

[code]

[code]

[2021-04-12 19:53] timotheecour commented on #17504
update: github now renders number literals correctly (the latest linguist release includes https://github.com/github/linguist/pull/5306 which was merged)

[2021-04-12 20:09] awr1 commented on #17691
I had remembered that this was also a problem with using Emscripten on Windows for a slightly different reason, `emcc` being a batch file instead of a straight `.exe`

[2021-04-13 06:02] timotheecour commented on #17704
please minimize and test against devel (like all other bug reports)

[2021-04-13 06:08] narimiran commented on #17704
They (Status) use Nim 1.2.x and this was caught as a part of the testing of 1.2.12 RC.

[2021-04-13 09:05] narimiran commented on #17704
Fixed by https://github.com/nim-lang/Nim/commit/6238f2ee1e83c83f6e5d3f923c118ddd536ef96d, will be available in the nightlies tomorrow morning.

@stefantalpalaru In the mean time, you can checkout `version-1-2` branch and test it. I've tested locally, and for me the command you posted in OP works now.

[2021-04-13 09:11] timotheecour commented on #17704
this will probably unblock OP, but before closing this issue, we should still minimize and see whether root problem occurs on devel, because based on https://github.com/nim-lang/Nim/commit/6238f2ee1e83c83f6e5d3f923c118ddd536ef96d it's likely that https://github.com/nim-lang/Nim/pull/17255 would cause the problem on devel.

[2021-04-13 13:07] stefantalpalaru commented on #17704
Yes, it works now. Thanks!

Easier said than done.

I can't compile Nimbus-eth2 programs with Nim devel. First it fails with:

`/mnt/sde1/storage/nimbus-eth2/vendor/nim-libp2p/libp2p/protocols/pubsub/gossipsub.nim(297, 38) Error: 't' is of type <lent string> which cannot be captured as it would violate memory safety, declared here: /mnt/sde1/storage/nimbus-eth2/vendor/nim-libp2p/libp2p/protocols/p

[2021-04-13 14:54] exelotl commented on #9040
This bit me yesterday, makes it hard to use templates for a generic fixed-point arithmetic API.
[code]

[2021-04-13 15:58] StefanSalewski opened #17712 "Maybe a tiny ARC bug"
Unfortunately I can not create a tiny example that shows the bug -- my tiny example works fine.

I have this proc, which is a bit ugly still as it is converted from my ugly Ruby code:

[code]

In this form the program compiled with arc crash:

[code]

Uncomenting the two

[code]

makes it work fine. Initially I used echo instead of discard, with echo enabled it works fine too. Guess was that scope

[2021-04-13 17:29] StefanSalewski commented on #17712
Maybe valgrind output may help:

[code]

I can not test with refc GC because of

https://github.com/nim-lang/Nim/issues/17602

currently.

[2021-04-13 17:29] ghost commented on #17712
By the way, you can use `--expandArc:procName` so that Nim compiler shows the Nim source code after frontend processing (including destructors injection)

[2021-04-13 17:34] StefanSalewski commented on #17712
[code]

[2021-04-13 17:34] timotheecour commented on #8807
this came up again in [Error: invalid token: trailing underscore - Nim forum](https://forum.nim-lang.org/t/7788)

[2021-04-13 17:39] ghost commented on #17712
[code]

fore more comfortable viewing :)

[2021-04-13 18:47] StefanSalewski commented on #17712
Yes, seems to be really a wired ARC bug:

I can add

[code]

and get

[code]

[2021-04-13 18:54] Clyybber commented on #17712
Can you try with `--cursorInference: off` ?

[2021-04-13 19:15] timotheecour commented on #15526
@xflywind indeed, https://github.com/nim-lang/Nim/issues/15526#issuecomment-784656202 was a regression but top example is not a regression, so there's a partial regression here; in any case i'm fixing all these here: https://github.com/nim-lang/Nim/pull/17710

[2021-04-13 19:16] StefanSalewski commented on #17712
OK, I hope this test is OK for you:

[code]

Runs without terminating with refc, but with ARC

[code]

I think the core issue is vertices_in_polygon(), the refs are moved to that proc, but used later in the constructed array.

[2021-04-13 19:19] StefanSalewski commented on #17712
--cursorInference: off

does not help.

[2021-04-14 02:43] btcross26 commented on #17703
# Resolution

Turns out in the end, that it WAS the inability to capture the exception from C code, rather than Nim. A few things to note:

1. As it stands, there is an `AsyncCheck` within the `acceptRequest` method shown in main above that prevents error handling from making it back to `proc` main. If you change this to `await` instead, the server will continue to run and raise the error back to

[2021-04-14 03:14] derekdai commented on #14389
nim version
[code]

Module scope object construct two times instead of one time
[code]

Output
[code]

The generated `.cpp` has a global scope variable declared
[code]

In `NimMainModule`, trigger second construct
[code]

Move `o` into proc, work as expected
[code]

Output
[code]

[2021-04-14 06:50] #15526 closed, assigned to Clyybber

[2021-04-14 06:50] #17162 closed, assigned to nobody

[2021-04-14 10:18] #17703 closed, assigned to nobody

[2021-04-14 19:48] jlokier commented on #10625
This GC bug occurs on MacOS as well.  Not sure which version at started at, but disassembling MacOS 10.15's `_setjmp` shows the same mangling as Glibc:

[code]

[2021-04-14 20:07] jlokier commented on #10625
On embedded Linux, Eglibc does the same as Glibc, as noticed by [CVE-2013-4788 - Eglibc PTR MANGLE vulnerability](http://hmarco.org/bugs/CVE-2013-4788.html).

I looked into using `getcontext` instead of `setjmp`, as done for SIOD in [Fix the bug of garbage collection of siod](https://reviews.llvm.org/D60039#1454361).  There are a number of interesting comments there.  One suggests `getcontext` bec

[2021-04-15 22:46] timotheecour opened #17732 "`testament pcat megatest args...` doesn't forward `args...` to megatest"
### Example
nim r testament/testament.nim --verbose pcat megatest --lib:lib -d:foo

### Current Output
executing: /Users/timothee/.nimble/bin/nim c --nimCache:nimcache/tests/megatest_4a8a08f09d37b73795649038408b5f33 -d:testing -d:nimMegatest --listCmd --path:/Users/timothee/git_clone/nim/Nim_prs tests/megatest.nim

### Expected Output
executing: /Users/timothee/.nimble/bin/nim c --nimCache:nimcach

[2021-04-15 23:40] timotheecour opened #17733 "some typeclasses don't work with `typed`, `macros.symBodyHash` crashes with ptr, ref"
### Example
[code]

### Current Output
uncomment `discard symHash(fn4)`:
Error: 'fn4' doesn't have a concrete type, due to unspecified generic parameters.

uncomment `discard symHash(fn3)`:
Error: unhandled exception: index out of bounds, the container is empty [IndexDefect]

### Expected Output
these should all work
* both fn5 and fn4 should be `typed` (a typeclass should be valid)
* there's no r

[2021-04-16 13:09] shirleyquirk commented on #11280
Thank you @lullius, your research was absolutely spot on

pinging @dom96, this is indeed a hard problem, would be glad for your input

Since i'm elbow-deep in `net` at this point, i thought i'd try to sort this out, here's my take:

- for the callback to retrieve anything from the ssl ex_data, it needs to know the index
- the index can only be known at runtime
- the index can't be reliably guessed

[2021-04-16 16:57] shirleyquirk commented on #11280
Using
**pskclient.nim**
[code]

and

**pskserv.nim**
[code]
and using https://github.com/shirleyquirk/Nim/tree/fixpsk

this works.  there are bugs but not in the callbacks, at least.

so, running the client and the server, they connect, but the hint and identity aren't output

if the client is run, along with `openssl s_server -accept 8800 -psk 70736B2D6F662D666F6F -psk_identity foo -psk_hint foo_

[2021-04-16 17:00] shirleyquirk commented on #11280
oh maybe the server/client by themselves are using tls1.3, i bet that's it

yes. tls ciphersuites are never getting set due to another bug https://github.com/nim-lang/Nim/blob/957478ce264d0496f9a0c33de4af77ad0846b42d/lib/pure/net.nim#L613 is always false
needs parens around (sslVersion == 0x20000000)
but fixing that breaks other stuff...

[2021-04-16 17:22] Dankr4d commented on #16268
Stumbled over this issue too and at me the program crashed without any exception.
I did some investigation and I could get it working when compiling with `-d:nimDisableCertificateValidation` and creating the `SslContext` without setting cert/key parameter (for sure, this is not a solution).
Furthermore I experienced also the crash when compiling with `--opt:speed` parameter (also in debug build).

[2021-04-16 18:42] shirleyquirk commented on #11280
ok, yes, by turning off tls1.3 n pskclient i can get this to work as expected.

[2021-04-16 20:48] timotheecour commented on #15575
again

https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/15565/logs/89

[code]

[2021-04-16 20:58] exelotl opened #17742 "index out of bounds error when trying to include or import a path containing "out""
As the title says:

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
This appears to be a regression that was introduced in Nim 1.4.0

[code]

[2021-04-17 00:46] timotheecour opened #17747 "repr doesn't handle control chars correctly, eg `repr("abc\ndef")`"
### Example
[code]

### Current Output
--gc:refc
0x10b0de060"abc\10"
"def"

--gc:arc

"abc\n
def"

### Expected Output
[code]
(with or without hex prefix, that's a separate issue, see https://github.com/nim-lang/Nim/issues/16052)

which is what this gives:
[code]

### Possible Solution
reuse `addQuoted`

### Additional Information
1.5.1 957478ce264d0496f9a0c33de4af77ad0846b42d
originally reported

[2021-04-17 01:39] timotheecour commented on #17742
confirmed bug.

## workaround
(or proper way, depending on point of view):
`import "out/z01"` works

## this is caused by 2 errors:
* last one is https://github.com/nim-lang/Nim/pull/17541 (which you can avoid with -d:nimDebugUtils refs https://github.com/nim-lang/Nim/pull/17541)
* but root cause is the way out/z01 is being parsed as a PNode instead of raw string literal, and subsequently `getModu

[2021-04-17 02:04] timotheecour opened #17748 "nim CI fails on i386 SIGPIPE nimsuggest/tester"
https://dev.azure.com/nim-lang/255dfe86-e590-40bb-a8a2-3c0295ebdeb1/_apis/build/builds/15574/logs/104
https://dev.azure.com/nim-lang/Nim/_build/results?buildId=15574&view=logs&jobId=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&j=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&t=d3579a4b-a806-5abe-ed48-07e8693a62db

hostOS: linux, hostCPU: i386, int: 4, float: 8, cpuEndian: littleEndian, cwd: /home/vsts/work/1/s

htt

[2021-04-17 04:45] timotheecour opened #17749 "osproc: writes can crash process with SIGPIPE, instead of raising IOError on EPIPE"
### Example
[code]

### Current Output

[code]

### Expected Output
raise IOError showing the signal EPIPE

### Possible Solution
ignore SIGPIPE. It's the most sensible approach and that's what's commonly used.

* in a multithreaded environment (especially in library code), it's tricky but doable, see http://www.microhowto.info/howto/ignore_sigpipe_without_affecting_other_threads_in_a_process.html

[2021-04-17 09:33] mikra01 commented on #17484
works now (compiler isn't bailing out anymore - I tested on latest devel) - so I close it.

`Nim Compiler Version 1.5.1 [Windows: amd64]
Compiled at 2021-04-17
Copyright (c) 2006-2021 by Andreas Rumpf

git hash: 7e94420847d2d18347410099e97195ddebe8b85f
active boot switches: -d:release`

[2021-04-17 09:33] #17484 closed, assigned to nobody

[2021-04-17 09:39] konsumlamm commented on #14696
What are the plans regarding a future `std/bigints` and `std/jsbigints`? Will the JS version still be necessary if we have `std/bigints`? If so, why?

[2021-04-17 09:57] Araq commented on #14696
We should only have `std/bigints` I guess.

[2021-04-17 12:19] shirleyquirk commented on #7713
maybe related: https://forum.nim-lang.org/t/7798#49595 https://stackoverflow.com/questions/67118749/nim-invalid-type-in-this-context-error

[code]

concepts work:
[code]

[2021-04-17 14:45] Dankr4d opened #17755 "OpenSSL 1.0.x library naming issue on windows"
The library/dll naming on windows for OpenSSL 1.0.x is incorrect. There's a `nimOldDlls` switch, but it tries to load OpenSSL 1.1.x libraries first.

I read multiple times that old dll names are `ssleay32.dll` and `libeay32.dll`; and changed with OpenSSL 1.1.x.
I read that 64bit builds are named with 32-suffix too (at least when compiling with mingw: https://github.com/openssl/openssl/issues/2383)

[2021-04-17 19:10] timotheecour commented on #17325
re-opening this, sadly:

i386 fails again a

https://github.com/nim-lang/Nim/pull/17757

https://dev.azure.com/nim-lang/Nim/_build/results?buildId=15594&view=logs&jobId=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&j=ba7bbfa4-f55c-5c34-6d52-1b6b4edd3f37&t=38200048-f2b3-5d1c-03e3-3014d58a3656

[code]

probably another upstream issue; our setup for i386 emulation on azure is fragile indeed.

[2021-04-17 20:52] StefanSalewski opened #17758 "A tiny nimpretty bug"
[code]

Note that not only the "path[0]" is misaligned, but also  the "for el in lcuts:". That proc was taken from a compiling and working program. After use of nimpretty it does not compile.

[2021-04-17 20:57] ghost commented on #17758
For better viewability, the original code:
[code]

[2021-04-17 21:00] arnetheduck commented on #14696
like @zah mentioned, there's no practical reason for a bigint _library_ to exist in the std lib since it's easy to develop one outside - if one were to gain traction as the obviously better approach it could get included for convenience, but given that libraries in the std lib make innovation difficult, it seems like a poor approach to prematurely include someones pet peeve approach without it act

[2021-04-18 06:50] al6x commented on #8456
+1, usage of ref and non-ref objects shouldn't differ.

According to that logic it would be even better then to remove `fieldPairs` completely, even for `object`. It makes no sense to allow some operation for `object` but not for `ref object`.

[2021-04-18 13:34] #17748 closed, assigned to nobody

[2021-04-18 13:34] #17749 closed, assigned to nobody

[2021-04-18 14:42] Araq commented on #17755
Why do we even support OpenSSL 1.0.x? We ship the DLLs Nim needs anyway and these are named:

[code]

Others should not be supported, it's an invitation to security bugs to support older versions.

[2021-04-18 14:52] Dankr4d commented on #17755
Have a look at / Answered here: https://github.com/nim-lang/Nim/pull/17766#issuecomment-822003467

[2021-04-18 18:03] lscrd opened #17768 "Wrong behavior of "runeSubstr" from module "unicode"."
Proc "runeSubstr" from module "unicode" is broken for negative lengths.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution
Replacing the negative indexes with the following works:

[code]

### Additional Information
[code]
Issue also exists in development version.

[2021-04-18 18:23] timotheecour commented on #17392
after https://github.com/nim-lang/Nim/pull/17717:

* `First example` (https://github.com/nim-lang/Nim/issues/17392#issuecomment-801515294) now does not hang anymore
* however it's still 4x slower with -d:newChan (each timing shows ~0.121) compared to -d:oldChan (~0.03):
* the `Second example` still hangs for both newChan and oldChan (https://github.com/nim-lang/Nim/issues/17392#issuecomment-801519

[2021-04-18 19:14] mkrieger1 opened #17769 "GCC error "incompatible types when assigning" with openArray in parallel spawned proc"
### Example

demo.nim:

[code]

### Current Output

[code]

### Expected Output

Nim compiler gives an error if my code is not correct (I'm not sure if it is), or compiles without error, but GCC does not give an error in any case.

### Additional Information

It does not happen when not using `parallel` + `spawn`, or when not using `openArray`, or when not assigning to `a[0]` inside `assign`.

It

[2021-04-18 21:39] #17755 closed, assigned to nobody

[2021-04-18 22:24] shirleyquirk commented on #4448
seems reasonable that that should compile. bumping.

[2021-04-19 03:29] ringabout commented on #17370
It should be fixed, feel free to reopen if not.

[2021-04-19 03:29] #17370 closed, assigned to ringabout

[2021-04-19 05:38] ringabout commented on #17747
It seems to be an intended behaviour:

[code]

[2021-04-19 06:05] timotheecour commented on #17747
even if it was intentional, it doesn't make much sense and is surprising; it should just behave like `addQuoted`.

[2021-04-19 07:32] jtiai opened #17779 "Dot operators with type mismatch, shows assertion instead of compiler error"
The following code doesn't compile and causes unhandled exception:

### Example
[code]

### Current Output
[code]

### Expected Output
Compiler provides meanful error message or compiles.

### Possible Solution

If `flags.A = 123` is written as `flags.A = bool(123)` code compiles as expected.

[code]

[2021-04-19 08:51] #7998 closed

[2021-04-19 09:21] #12521 closed

[2021-04-19 09:24] Araq commented on #4448
The mutability aspect of a type is not lifted to an "or" type. This is not a bug, but it could be a feature that we support. I personally don't like it at all, it's only useful for confused code that uses both var and ref and cannot make up its mind.

[2021-04-19 09:27] Araq commented on #17392
Well ... can you find out **why** it is slower? :-)

[2021-04-19 09:48] #17732 closed, assigned to ringabout

[2021-04-19 10:23] Araq commented on #14696
I fail to see how we need "innovation" on a bignum's interface.

I consider this to be a terrible solution. The current type zoo is problematic -- with even more integer types it's a recipe for an unlimited amount of accidentical complexity -- (how can I store my int14 in MariaDB?). But of course, it's hard to argue against what C will provide anyway and we have to provide too, just for compatibil

[2021-04-19 11:41] juancarlospaco commented on #14696
Most people when you say "bigints" think of "arbitrary sized integers" anyway... :shrug:

[2021-04-19 13:00] Dankr4d commented on #16268
Some testings resulted in, that all gcc optimization levels (`-O1` to `-O3`) crash the application, in constellation with OpenSSL and 32 bit build.
In my case it's caused by the `-fomit-frame-pointer` optimization flag which is set in all optimization levels.

Workaround: Add `--passC:-fno-omit-frame-pointer` when compiling your application.

[2021-04-19 13:46] PMunch opened #17783 "Example in asynchttpserver pegs CPU at 100% and hogs memory"
[Brought up by mrotaru on Discord](https://irclogs.nim-lang.org/19-04-2021.html#13:28:18), the asynchttpserver example doesn't work on any Nim version that can run it. Tested on Manjaro and Ubuntu, and both peg a CPU core at 100% and starts eating memory until the machine runs out. All the while not replying to requests. This is similar to the behaviour I saw in my HomeAssistant add-ons after turn

[2021-04-19 15:00] Clyybber commented on #17747
IMO the behaviour with `arc` is a good one and improves readability.

[2021-04-19 16:17] planetis-m commented on #17783
Duplicate #16506

[2021-04-19 16:23] timotheecour commented on #17747
* but have both `\n` and newline?
* independently of that the behavior with refc is not good:

0x10b0de060"abc\10"
"def"
=>
0x10b0de060"abc\n
def"
* and then we should harmonize whether both refc and arc should include the address (i'd be softly in favor of including address, which can help during debugging)

[2021-04-19 19:30] dom96 commented on #17783
What stack trace is the code getting stuck on?

[2021-04-19 19:53] hnicke opened #17788 "Explicit json null lost during unmarshalling"
Unmarshalling json to a type containing a `JsonNode` field leads to misinterpretation of `JNull`.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution

* The error could be in [json.nim](https://github.com/nim-lang/Nim/blob/devel/lib/pure/json.nim#L1150-L1156) line 1150-1156.
* If `jsonNode != nil` and `jsonNode.kind == JNull` and `T is JsonNode` , we s

[2021-04-19 20:47] PMunch commented on #17783
[code]

`server.shouldAcceptRequest()` also seems to always be true by the way.

[2021-04-19 22:20] dom96 commented on #17783
This was fixed in https://github.com/nim-lang/Nim/pull/16580. Hasn't made it to a released version yet though... so the docs at https://nim-lang.org/docs/asynchttpserver.html are wrong :/

[2021-04-19 22:41] konsumlamm opened #17793 "Confusing error messages for constructors"
### Example
#### 1
[code]
#### 2
[code]
#### 3
[code]

### Current Output
#### 1
[code]
#### 2
[code]
#### 3
[code]

### Expected Output
#### 1
[code]
#### 2
[code]
#### 3
No error, `T` should be inferred to `int`. The same works with procs:
[code]

### Additional Information
[code]

[2021-04-20 01:16] beef331 commented on #17779
As I mentioned in the realtime chat this is not due to the `bool`, it seems to be a dot operators with type mismatch bug.
This code shouldnt compile either, since you're passing an int as a bool and Nim doesnt implictly convert.
You can do the following and it'll work fine for you.
[code]

[2021-04-20 05:15] Araq commented on #17783
What? This should have been backported ... Ping @narimiran

[2021-04-20 09:57] PMunch opened #17797 "Method call syntax not supported with for loop macros"
Nim supports various ways of calling procedures, one of which is the method call syntax (`arg.callable(moreArgs)`). But for loop macros don't allow this procedure calling style, not recognizing that `callable` takes a `ForLoopStmt` but rather tries to look for other things to call.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[2021-04-20 13:39] #9691 closed

[2021-04-20 13:39] #10913 closed

[2021-04-20 14:04] metagn commented on #17793
1 and 2 should not be "expected object constructor". You use `Test()` for type conversion, same for objects as any other type. Maybe it should try to point out that it sees it as a conversion. 3 would be a new feature, and has been addressed in other issues, for an error message you can say "expected concrete object type for object constructor" and maybe specialize it to "expected generic paramete