[2020-07-02 23:36] mattrbeck commented on #6447
It would also be awesome to allow for partial matching. Using the example above:
[code]

[2020-07-02 23:38] timotheecour opened #14886 "bugs with static array bounds checking"
all 3 cases below give bad results

### Example
[code]

### Current Output
nim c -d:case1 main
SIGSEGV

nim c -d:case2 main
Error: index 2 not in 0 .. 0x[2]

nim c -d:case3 main
Error: cannot convert 2 to range 0..0(int)

### Expected Output
* case1 should compile since it's inside a `compiles()`
* case2, case3 should give better error messages

### Additional Information
devel 1.3.5 a6cbe58e8c5a9

[2020-07-02 23:56] timotheecour commented on #12030
(just to clarify, no brainer doesn't imply easy to implement; it just means that it should be non-controversial)

yes I agree completely, except for the "instead" part: these are 2 separate issues that happen to intersect in this example

likewise, for the same reason, even if your proposal is implemented, underlying problem remains.

the problem is you'd have to defensively use `expressionScope`

[2020-07-03 00:20] rayman22201 commented on #14885
I suspect the issue is specific to OSX and triggered by a slow or overloaded VM.
I believe the flakeyness is correlated with the amount of load Azure is under at the time the test runs.
I agree, the bug could be in our code. It's just hard to debug :-(

[2020-07-03 03:03] juancarlospaco opened #14889 "Documentation macrocache status is confusing"
`macrocache` Official status is confusing, is Deprecated?, is Legacy?, is Supported?, should be widely used?, see:
- https://github.com/nim-lang/Nim/pull/14888#discussion_r449351754

[2020-07-03 04:08] memoryhole opened #14891 "nimpretty multiple file support"
### Summary
Allow nimpretty to operate on multiple files.

### Description
By allowing nimpretty to operate on a list of files it will be easier to use. Currently you have to invoke the executable on every file in your project individually which is inconvenient.

### Additional Information
I've opened a PR to implement this: #14890
Alternative ideas and suggestions are welcome of course :)

[2020-07-03 05:45] ringabout opened #14892 "make interface based on function pointer easier to use"
### Summary
Interface makes libraries extensible. Now we can use function pointers to simulate interface
in Nim such as [StreamObj](https://github.com/nim-lang/Nim/blob/366b9a7e4a067cece3b1215de7fb4dffc703e88a/lib/pure/streams.nim#L109).

However, when we want to use its function calls, we must duplicate object's name such as `s.closeImpl(s)`.

If we heavily use interface(and even nested) to creat

[2020-07-03 08:12] Araq commented on #14891
Alternative idea: Config your editor to run nimpretty on save.

Note that I don't have anything against this feature request but you asked for alternative ideas. ;-)

[2020-07-03 08:17] liquid600pgm commented on #14876
Wtf mate, since when is using the wrong pronoun considered transphobia? Zachary simply didn't know that and shared his speculations of your actual gender. Keep in mind, you're on the Internet, people can't see your face and instantly use the correct pronoun after they see you, so mistakes *are* going to be made.

Using the wrong pronoun isn't transphobia. Just stop. It's you who's causing more and

[2020-07-03 09:20] Clyybber commented on #14892
Another idea would be to create a macro that generates templates to allow using this syntax `s.closeImpl()` directly.

[2020-07-03 11:04] ringabout commented on #14830
@fox0430
The title shows that the expression is `"""echo "\n""""` , while in example it becomes `"""echo "\""""` which is an invalid Nim expression.

Maybe invalid expression should raise errors instead of using `assert`.

An ugly Workaround: If you just want to ignore the exception, compile the above example with `-d:danger`.

[2020-07-03 12:16] fox0430 commented on #14830
@xflywind

Fixed title and thank you temporary solution.

[2020-07-03 12:39] ringabout commented on #14830
Hi @fox0430
I think `echo "\"` is an invalid Nim expression, the right expression is `echo "\\"`. `highlite` should crash if it meets the wrong expression.

If you want to ignore invalid expressions, just catch `AssertionError`. Maybe user-defined Exception is more suitable.  But the solution below does work.
[code]

[2020-07-03 12:43] Araq commented on #14889
On the contrary, macrocache is the future and what should be used.

[2020-07-03 13:08] fox0430 commented on #14830
@xflywind

Thank you for your advice!
This issue is solved. Thank you.

[2020-07-03 17:42] DylanModesitt opened #14893 "{.exportc.} for -d:nodejs"
### Summary
should the `{.exportc.}` pragma add the symbol to a `module.exports` so that it can be used in other nodejs programs?

### Description

For example,

[code]

When compiled to target node, `nim js -d:nodejs foo.nim` will not export a compatible function to be used in other node programs (AFAIK, if this issue is noise and there is a way to do this - apologies). To me,

[code]

should wor

[2020-07-03 22:12] dawkot opened #14894 "Can't call local procs using dot syntax in a template from another module"
### Example

y.nim:
[code]

x.nim:
[code]

### Current Output

[code]

### Possible Solution

* Change `"".myProc()` to `myProc("")`

### Additional Information

Tested with 1.2.4 and 4f6acf24ffde4c43ea9f8c954265d23312453b31

[2020-07-03 22:23] rayman22201 commented on #14885
I have used this tool in the past to simulate load on a system to help me track down bugs that only happen on during high system stress.
I wonder if it will be helpful here:
https://github.com/ColinIanKing/stress-ng

[2020-07-03 22:40] alaviss commented on #14893
I don't think this should be done by the codegen. The idea of `{.exportc.}` is that the symbol is not mangled by the compiler. This doesn't necessary mean that the symbol will be exported cross-module (similar to how you need both `{.exportc, dynlib.}` to export a Nim function to a DLL).

We can write a simple `{.exportNodeJs.}` macro to solve this though:

[code]

And here's the generated JS:

[c

[2020-07-03 22:45] alaviss commented on #14894
Possible duplicate of: #11733

[2020-07-03 22:49] alaviss commented on #14873
`$` for all objects strikes again:

https://github.com/nim-lang/Nim/blob/695154970d839add2fbbe9754e9e638511120729/lib/system/syslocks.nim#L100-L104

`{.incompleteStruct.}` and removing the ABI field would work.

[2020-07-03 23:04] juancarlospaco commented on #14893
https://github.com/nim-lang/Nim/wiki/Nim-for-TypeScript-Programmers#javascript-interoperability

[2020-07-03 23:35] hashbackup opened #14895 "With -d:danger, non power-of-2 table can hang"
### Example
[code]

### Current Output
Hangs

### Expected Output
Work or fail, but don't hang

### Possible Solution
rightSize(initialSize) should always be used instead of using raw initialSize.  Users only know how many entries they want, not how big a table needs to be to accommodate that, especially since this is an implementation detail.  The next implementation of tables could require a pri

[2020-07-04 05:37] #13936 closed, assigned to nobody

[2020-07-04 06:59] ringabout commented on #14892
Experimental codes: https://github.com/xflywind/shene

Make interface based on function pointers and generics support better `polymorphism`.
[code]

[2020-07-04 07:21] jibal opened #14898 "template invoked without () from template is not expanded"
nim 1.2.0 on Windows 10

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### workaround
[code]

### note
It doesn't have anything to do with `echo`. Anything that tries to use `t1` as a value within `t2` fails, e.g.

[code]

[2020-07-04 07:37] ghost commented on #14383
Seems to be fixed in latest devel (checked min too)

[2020-07-04 07:41] ghost commented on #14864
Seems to be fixed in devel. Need test-case?

[2020-07-04 07:59] jibal commented on #14895
Line 25 is `init(rightSize(16))` which results in `rightSize(rightSize(16))` on line 20, so the error message is correct ... the `if` statement has no effect on what the compiler sees, and what it sees has the wrong type. Change it to `when`--which is correct because `type(...)` is a compile-time constant--and then it works without `Natural`. Of course this means that the type of the value being p

[2020-07-04 08:17] ghost opened #14899 "[ARC] Template with a block evaluating to a GC'd value results in a compiler crash"
This code used to work with `--gc:arc` and it doesn't work now. Extracted from https://github.com/oprypin/nim-random and sequtils
### Example
[code]

<details>
  <summary>Current Output (koch temp c)</summary>

[code]
</details>

[code]

[2020-07-04 08:26] jibal commented on #14860
Just noting that ```for s in `[]`(d, 0, 1): discard``` works.

[2020-07-04 08:38] jibal commented on #14809
[Priority queues](https://en.wikipedia.org/wiki/Priority_queue) don't normally have an enumeration operation. If someone needs that, they are probably misusing the data structure. But if they really need it, they can pop each item and add it to another queue, and then replace the old queue with the new queue. that would give them the items in the correct order. A non-destructive iterator that retu

[2020-07-04 08:43] ghost opened #14900 "[ARC] Weird issue with if expressions and templates"
This code fails with ``--gc:arc`` while it shouldn't. Will make a smaller example later. Found in tests for https://github.com/citycide/glob because they use `algorithm.sortedByIt` for seq comparison.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-04 08:48] ghost commented on #14900
Seems to be a little bit similar to https://github.com/nim-lang/Nim/issues/14899 in fact

[2020-07-04 09:02] jibal commented on #14734
I think this warranted _a lot_ more investigation before running off and making a change.

[2020-07-04 09:27] ghost opened #14901 "[ORC] Threadpool crashes with --gc:orc (not arc)"
Not sure if it's supposed to work yet or not, but guess it's better to open an issue to not forget about it :P. This crash only happens with ORC, with ARC it works just fine.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
Extracted from `tests/parallel/tsysspawn.nim`
[code]

[2020-07-04 09:28] jibal commented on #14631
It doesn't and shouldn't work that way. `compiles((let _ = x)) and x is int` is an expression and must be well formed.
Use `when (when compiles((let _ = x)): x is int else: false):`

[2020-07-04 09:30] ghost commented on #14901
Also `tests/stdlib/thttpclient_ssl.nim` in ~30% runs fails (when compiled with `--gc:orc`) with:
[code]

[2020-07-04 09:31] Clyybber commented on #14734
It wasn't renamed.

[2020-07-04 11:40] jibal commented on #14734
Yes, I can read. That's not the point.

[2020-07-04 11:56] dom96 commented on #14714
CC @yglukhov (might be related to the try-catch implementation for closure iterators?)

[2020-07-04 11:56] konsumlamm commented on #14809
Ok, fair.

[2020-07-04 11:56] #14809 closed, assigned to nobody

[2020-07-04 12:04] konsumlamm commented on #14734
It isn't obvious at all that `sumKbn` refers to Kahan-Babuška-Neumaier summation, as both the docs and the PR that added it just call it Kahan summation.

[2020-07-04 12:12] jibal commented on #14734
Who said anything about obvious? Like I said ... "a lot more investigation". What was even less obvious was that sumKbn was a typo for sumKhn ... that was extremely unlikely, and even considering such a change was unwarranted. My comment stands, and I'm unsubscribing.

[2020-07-04 12:12] planetis-m opened #14902 "[ARC] tuple unpacking for `for` vars causes memory leak"
Memory usage keeps growing because the temp tuple is never destroyed. Seems that this is caused by #10152, without the new syntax (remove the parenthesis) the bug disappears.

### Example

[code]

### Current Output
Currently memory usage keeps growing, until it is killed by the OS.

### Additional Information

The C code which is suspicious:

[code]

[code]

[2020-07-04 13:25] hashbackup commented on #14895
Thanks for the tip, this worked great:
[code]
I also missed the significance of the previous compiler note showing which line generated the bad call (I'm a neoNim).

You reminded me, I'd suggest that rightSize be deprecated as a part of this issue.

[2020-07-04 13:48] planetis-m commented on #14892
I have done this before: https://github.com/b3liever/protocoled however it needs to be split, so ``protocol`` and ``impl`` are separate blocks, don't have the time, so feel free to take over.

[2020-07-04 14:02] b3liever commented on #14902
Also happens with ``pairs`` iterator:

[code]

[2020-07-04 14:15] b3liever commented on #14902
Seems to be caused by the new tuple unpacking syntax ``for (x, y) in ...`` and without it everything works!

[2020-07-04 15:45] #14345 closed, assigned to nobody

[2020-07-04 15:45] #14396 closed, assigned to Clyybber

[2020-07-04 16:02] genotrance commented on #14074
I tested this both on devel as well as 1.2.2 and it passed with both arc and orc (devel). It still fails on 1.2.0 so looks like the fix for this was backported as well.

[2020-07-04 16:02] #14074 closed, assigned to nobody

[2020-07-04 16:27] #14631 closed, assigned to nobody

[2020-07-04 16:30] genotrance commented on #11906
Is this #wontfix now that we have arc/orc?

[2020-07-04 17:29] timotheecour commented on #11612
still a problem after https://github.com/nim-lang/Nim/pull/14790 (both with standard gc, orc, arc)

[2020-07-04 18:17] timotheecour commented on #14895
* for the 1st part (hanging), replacing `assert isPowerOfTwo(size)` by `doAssert isPowerOfTwo(size)` (+ in other relevant places in code) would fix it; the overhead will be negligible matter in the context where this is used.

* for the 2nd part, I agree but there's a difficulty:
if you replace
`assert isPowerOfTwo(size)` by `var size = rightSize(size)`
then it'd be a performance breaking change w

[2020-07-04 18:24] timotheecour commented on #14894
if we close this as duplicate we should add it as test case in top post of https://github.com/nim-lang/Nim/issues/11733

[2020-07-04 18:36] timotheecour commented on #14873
I don't think `incompleteStruct` is appropriate here; despite being not well documented (see https://github.com/nim-lang/Nim/pull/14228) it seems it's appropriate for forward declared types, not for types with missing fields (see https://github.com/nim-lang/Nim/pull/13926 which introduced `completeStruct`)

this is related to this: https://github.com/nim-lang/Nim/pull/14170/files#r419710290

IMO t

[2020-07-04 20:18] hashbackup commented on #14895
Changing assert to doAssert is definitely better than hanging.  I didn't know the difference, other than sometimes I see one, other times the other.

IMO, it only makes sense to pass the expected number of items because hash table size depends on implementation details that the user doesn't know and may change in the future - mainly the load factor that triggers a resize.  For Robin Hood hashing,

[2020-07-04 20:47] genotrance commented on #13870
Can this be closed?

[2020-07-04 21:52] genotrance commented on #13608
This fix does not work since `gorge()` now runs in `$nim/lib` since that's where `system.nim` is. Any calls to `gorge()` that use relative path break as the PR did.

[2020-07-04 22:55] timotheecour commented on #14895
again, the problem is backward compatibility for all the code out there; if `proc initTable*[A, B](initialSize = defaultInitialSize): Table[A, B] =` changes the meaning of `initialSize` from table size to expected number of elements, it will cause over-allocations eg:

[code]

which is why if such a change is done, it needs another API (which can mean an extra optional param in existing API)

[2020-07-04 23:09] genotrance commented on #14272
Making `release` and `danger` special is not sufficient. Anything in `nim.cfg` that has an `@if` block is affected. A big example is cross-compilation typically invoked by `--os` which can tweak how all OS specific settings cascade, `mingw` being a specific case, and arch specific stuff like `arm64`. Lastly `lto` and `strip`.

Also, the user could have a global user cfg with other defines and `if`

[2020-07-04 23:34] hashbackup commented on #14895
Yeah, that is a possibility.  I'd argue that anyone using initTable with an initialSize other than coming from rightSize, doesn't really know what they're getting.  If initialSize was specified in MB, it would make sense.  But when specifying the number of slots in the hash table, the way it is now, they'd have to know how the hash table is implemented to know how much memory theirs will use.

Or,

[2020-07-05 01:01] genotrance commented on #10767
Bump.

[2020-07-05 03:49] metagn commented on #14898
Duplicate of #13515

[2020-07-05 04:11] timotheecour opened #14905 "assert/doAssert makes unrelated code changes cause 1.4X performance differences, leading to wrong conclusions"
## TLDR
use the upcoming `-d:nimDisableAssertMsgs` when benchmarking otherwise you may end up drawing wrong conclusions when deciding on whether algorithm1 or algorithm2 is better (which could include anything, including compiler flags etc): up to 1.4x perf difference caused by completely unrelated code changes such as adding an empty newline

## details
I was trying to debug a really weird perfor

[2020-07-05 04:22] demotomohiro opened #14906 "Calling peekChar with Stream returned from osproc.outputStream generate runtime error"
On Windows, `peekDataImpl` for pipe is not implemented.

On Linux, `ftell` is called with pipe but it doesn't work with pipe.
And you can't seek backwards from a pipe.
https://stackoverflow.com/questions/19187131/how-to-fseek-on-a-pipe

Following code generate runtime error on both Linux and Windows.

[code]

Output on windows:
[code]

Output on Linux:
[code]

Nim version on Windows:
[code]

Nim v

[2020-07-05 06:05] jibal commented on #13515
This is a rather blatant and basic bug, and has nothing to do with overloading or `{.implicitCall.}` (which would be a pointless misfeature; just fix the compiler).

This innocuous code doesn't work:

[code]

Whereas this does:

[code]

This is alpha quality stuff and makes the language look bad. Of course, the compiler is free and no one owes me anything, so having made that statement I should go

[2020-07-05 06:19] timotheecour commented on #13515
Most bugs seem blatant and basic until you delve into it and submit a fix. nim has more features than your average language and yes, they interact badly sometimes.

or maybe it's the other way around? implicit calls, just like implicit conversions (converter, ptr char=>cstring https://github.com/nim-lang/Nim/issues/13790, implicit deref, procvar => pointer (https://github.com/nim-lang/RFCs/issues/

[2020-07-05 06:44] jputcu commented on #13870
There is no conclusion/fix yet, but there is a workaround so you could close it.

[2020-07-05 07:52] #14898 closed, assigned to nobody

[2020-07-05 08:11] jibal commented on #13515
This is obviously not true. And in this case, what's blatant and basic has nothing to do with how hard it is to fix it; I'm talking about fundamental features of the language. If say, 1+1 produced 93, and it turned out to be due to some deep and complicated problem in the compiler that took months to fix, it would still be blatant and basic.

Features interacting badly means poor design. I don't t

[2020-07-05 08:20] timotheecour opened #14909 "mysterious `seq` performance overheads"
After reduction from more complex examples, I'm noticing mysterious `seq` performance overheads:
* passing a seq directly has overhead over passing via `toOpenArray`, up to 57x in example below
* processing seq elements cannot be optimized as well as processing array or malloc'd elements in some cases (eg when runtime conditions make the elements assigned but never read), causing `1e6x` slowdown

[2020-07-05 08:48] jibal commented on #13515
That's not a workaround for this ... `{.dirty.}` and #14332 aren't relevant here.

[2020-07-05 08:56] jibal commented on #6359
It's not a call ... you're trying to get a pointer to the proc.

[2020-07-05 14:38] liquidev opened #14911 "Stropped identifiers don't work as field names in tuple literals"
### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution

* This seems like a bug with the parser, as the compiler doesn't seem to be getting into any later stages.

### Additional Information
The same example works when you generate a tuple which needs a stropped identifier from a macro. The difference is that in a macro you usually don't construct the stro

[2020-07-05 14:43] ringabout commented on #14892
## Ideas

### Decouple `impl` and `data`

`Impl` represents `Impl Class` and `data` stands for `Data Class`.  `Impl Class` supplies all interfaces which should be satisfied. It shouldn’t be inherited. `Data Class` supplies all attributes that can be extended by users. It supports inheritance.

[code]

#### Impl Class

[code]

#### Data Class

[code]

#### Oriented-User Class

[code]

#### Usage

[

[2020-07-05 15:00] disruptek opened #14912 "the --useVersion:1.0 no longer works in devel"
...for the obvious reason...

[code]

[2020-07-05 15:07] nitely commented on #14468
@capocasa FWIW, you can probably copy/adapt the [nim-regex](https://github.com/nitely/nim-regex/blob/2e32fdcc85fe3a0ace83cd6f65e52ec136275ccf/src/regex.nim#L503) code

[2020-07-05 17:08] planetis-m commented on #14909
I have noticed the same issue when trying to auto-vectorise basic matrix [ops](https://github.com/b3liever/manu/blob/master/experiments/alignmat.nim). Basically whichever compiler I used (tried clang and gcc) using seqs wouldn't produce simd instructions as [advertised](https://gcc.gnu.org/projects/tree-ssa/vectorization.html). Only worked when using ``UncheckedArray[float]``

[2020-07-05 17:36] liquidev opened #14913 "Compiler crash when using a default parameter value for a parameter whose type is a concept"
### Example
[code]

### Current Output
[code]

### Expected Output
Successful compilation.

### Additional Information
I downloaded latest devel and ran `./koch temp c /tmp/in.nim`, here's the compiler stack trace:
[code]

* This issue is somewhat blocking [rapid](https://github.com/liquid600pgm/rapid), but I'm able to work around it by creating an overload.

[code]
commit hash: `af27e6bdea63bbf66

[2020-07-05 17:57] memoryhole commented on #11564
I'm seeing this same behavior in v1.2.4. This means we don't have real non-blocking file IO with async/await. It seems the documentation should be updated to explain this. I was expecting behavior similar to node.js as well.

[2020-07-05 21:27] ghost opened #14914 "(low priority) compiler crash when using a cyclic tree in a quote do block"
This code crashes with SIGSEGV due to stack overflow not showing any useful error messages.
### Example
[code]

### Current Output
<details>
<summary>koch temp c</summary>

[code]
</details>

### Expected Output
A compiler error message (such as "Error: macro produced a cyclic tree" which is emitted when not using quote do)

[code]

[2020-07-05 21:45] timotheecour opened #14915 "-d:danger gives different results (due to order of evaluation within a statement)"
-d:danger gives different results (order of evaluation changes)

### Example 1
[code]

### Current Output
[code]

### Expected Output
[code]

### Example 2
likewise with this, which has no templates:
[code]
nim r -d:danger main # 10
nim r main # 8

### Additional Information
* devel 1.3.5 af27e6bdea63bbf66718193ec44bc61e745ded38
* the bug seems to be there since at least 0.18.0 (but the flag was -

[2020-07-06 03:59] solo989 opened #14917 "Static seqs are turned into static arrays when passed through template."
### Example
[code]

### Current Output

[code]
### Expected Output
[code]
[code]

[2020-07-06 05:21] timotheecour commented on #14917
workaround: either of those would work:
template passSeq1(a) =
template passSeq1(a: typed) =
template passSeq1[T](a:T) =

[2020-07-06 08:21] Araq commented on #14830
This is a valid bug and I'm working on a fix.

[2020-07-06 09:45] Araq commented on #14906
Ok. How should we fix it?

[2020-07-06 09:49] Araq commented on #13870
Duplicate of other issues with configuration related problems.

[2020-07-06 09:49] #13870 closed, assigned to nobody

[2020-07-06 10:09] Araq commented on #11906
Yeah, I think so.

[2020-07-06 10:09] #11906 closed

[2020-07-06 10:28] ee7 opened #14918 "tables.nim: `smallest` and `largest` procs for `CountTableRef` return an anonymous tuple"
tables.nim:
- The `smallest` and `largest` procs for `CountTable` return a tuple with named fields.
- The `smallest` and `largest` procs for `CountTableRef` return an anonymous tuple.

It is surprising that e.g. `t.smallest.key` stops working if you change `t` from a `CountTable` to a `CountTableRef`.

### Example
[code]

### Current Output
[code]

### Expected Output
No error.

### Possible Solut

[2020-07-06 11:07] Araq commented on #14864
Yes, test case please.

[2020-07-06 11:43] #14830 closed, assigned to nobody

[2020-07-06 12:02] #14918 closed, assigned to nobody

[2020-07-06 12:15] deech opened #14920 "Passing a function pointer + env to a class constructor fails but works if applied directly"
When I create a C++ class that emulates a closure with function pointer and environment members and a member function that runs them I get a segfault. If I directly apply the closure in a standalone function it succeeds.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-06 17:49] Clyybber commented on #14472
Fixed on devel.

[2020-07-06 17:49] #14472 closed, assigned to nobody

[2020-07-06 23:22] solo989 opened #14923 "varargs[typed] isn't passed properly through template"
### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution
turn varargs[typed] into varargs[untyped] in passVarargsImpl

and if you have
[code]
do
[code]
instead as passing a varargs[typed] to a varargs parameter in a template
also obscures the output.

[code]

[2020-07-07 03:43] juancarlospaco opened #14925 "exceptions:goto Bug devel codegen lvalue NIM_FALSE=NIM_FALSE"
# Examples

[code]

# Current Output

[code]

# Expected Output

[code]

# Possible Solution

[code]

# Additional Information

- `devel` with ARC and ORC.
- Works OK with `--gc:refc`.

# System Information

<details>

[code]

</details>

# Proposed Labels

[code]

[2020-07-07 04:27] ringabout commented on #14892
Find `vTable` in [docs](https://raw.githubusercontent.com/nim-lang/Nim/de1ede77fe91170269d5bf54a01e61ff95f6dc56/doc/manual_experimental.rst) and close this issue.

[2020-07-07 04:27] #14892 closed, assigned to nobody

[2020-07-07 06:01] ghost commented on #14892
Vtables are not really implemented yet :)

[2020-07-07 07:11] c-blake commented on #14895
First and foremost, it bears mentioning that the main speed benefit of `rightSize` is to avoid successive rehashes growing the table up.  The penalty of always applying it and making the table 2x larger for po2 callers (or already calling-`rightSize`-callers) is just to spend 2x the RAM which could even make things faster if that RAM is available/cachable/things are not right at a cliff in the mem

[2020-07-07 07:24] Araq commented on #14895
That one is solvable, move ``rigthSize`` to its own module and have sets and tables re-export it then no ambiguities arise.

[2020-07-07 07:29] c-blake commented on #14895
Well, sure..you might have me on part 1 of A) :-)  But no symbol at all is even simpler.

Anyway, that module improvement is independent and could be done anyway, though for a deprecated symbol pointing to an inline identity function a whole module might be of questionable value. ;-)

[2020-07-07 08:08] c-blake commented on #14895
We probably don't *really* need to update any pre-sizing po2 inits unless we care about preserving such guesses exactly which may also preserve hash order **if** no resize happens, a fragile situation unlikely to be relied upon -- except in tests.

For the few cases that might matter just dividing the explicit po2 guess restores the exact guess which is an easier patch than other times we've chang

[2020-07-07 08:21] #14911 closed, assigned to nobody

[2020-07-07 08:28] capocasa commented on #14468
Not a bad idea! I'll have a look. Without having profiled it I suspect fixing the re code may still be the best option. It looks fast.

[2020-07-07 11:42] ghost commented on #14925
Minimized:
[code]

or
[code]

[2020-07-07 11:59] Clyybber commented on #14489
Fixed on devel.

[2020-07-07 13:55] #14893 closed, assigned to nobody

[2020-07-07 16:17] #13313 closed, assigned to nobody

[2020-07-07 16:24] ghost opened #14930 "Please revert my commit"
Hello,

due to the recent events in the Nim-lang community, I don't want to be associated with the project anymore.
As a small request, I would like the commit 3e843ab335817cd4a111b56574575c2c841b40ed, which I contributed, to be reverted.

Thanks in advance and have a nice day

[2020-07-07 17:02] HugoP707 commented on #14930
imho, having problems with some people of the community should not depend on wether you collaborate in a GitHub project like this, it’s a ahem you want to do it 😕

[2020-07-07 17:20] ghost commented on #14930
A former Nim-lang contributor was harrassed and attacked by community members. They were misgendered and deadnamed intentionally, which can hurt a lot.

Because of this, they asked politely for cosmetic changes they contributed to be removed from the project (reverted), which is their personal right according to section 6 of the berne convention. This started more hateful moves. The project lead r

[2020-07-07 17:36] Yardanico commented on #14930
@petabyteboy I'd like to correct you on something - discussions on IRC/Discord were not deleted at all, they're all still there.

[2020-07-07 17:56] ghost commented on #14930
Thanks for the correction @Yardanico, I thought I had seen something on IRC discussions in the distant past being deleted from the irc logs server.
However, many comments from the GitHub pull request were definitely removed by the nim-lang GitHub account, which seemed really shady to me.

[2020-07-07 18:13] dom96 commented on #14930
I am really sorry that you do not wish to be a part of this community anymore. I am happy to revert the commits you have referenced and will do so now.

Some things that I would like to clarify with regards to your points.

I have looked at the IRC logs and could not find any evidence of anyone intentionally misgendering or deadnaming Simula or other transgendered members of our community (I searc

[2020-07-07 18:19] #14930 closed, assigned to nobody

[2020-07-07 18:37] planetis-m commented on #14930
I have not taken any part in the brawl but I am hanging at the channel and read some of the exchanges.

...And I have completely different recollections of what happened. First of no one attacked that person! NO ONE.

Instead that person harassed another person in the community and started spamming. He who was attacked by them asked to ban them from discord. Rightfully so. Irc logs prove that.

Th

[2020-07-07 18:45] timotheecour commented on #14489
@Clyybber this needs a test case before closing

[2020-07-07 19:00] b3liever commented on #14930
I just want to add that we are all humans and sometimes we get pissed of at various things. Sometimes our anger is justified, sometimes we misjudge a situation. I have got into fights over nothing and accepted I was wrong. However I really dislike people who take it too far and are vengeful.

Disengage, forgive and forget is my advise to you and everyone else.

Bless your heart!

[2020-07-07 19:40] polypus74 commented on #8458
To compound this problem shell process substitution is broken because nimpretty renames input filepaths not ending in ".nim": `nimpretty --out:/dev/stdout <(cat)`

And complains cannot open /dev/fd/45.nim

Or `/dev/stdin -> /dev/stdin.nim`, for that matter.

[2020-07-07 20:43] #14864 closed, assigned to nobody

[2020-07-07 21:57] Clyybber commented on #14489
This is the same bug as #14864 for which I added a testcase here https://github.com/nim-lang/Nim/pull/14928 :)

[2020-07-07 21:57] #14489 closed, assigned to nobody

[2020-07-07 22:25] #14920 closed, assigned to nobody

[2020-07-07 22:39] FedericoCeratto commented on #8458
[nimfmt](https://github.com/FedericoCeratto/nimfmt) now implements a feature to fix casing with user-configurable parameters

[2020-07-08 05:28] ringabout commented on #12511
It also works if add `{.nimcall.}` pragmas to proc type in Nim 1.2.4
[code]
https://play.nim-lang.org/#ix=2raE

[2020-07-08 06:21] #14402 closed, assigned to nobody

[2020-07-08 06:25] ringabout commented on #10396
Works in 1.0.6.

Output:
[code]

[2020-07-08 06:28] ringabout commented on #10465
It works in 1.0.6

[code]

[2020-07-08 08:48] #14899 closed, assigned to nobody

[2020-07-08 09:41] Araq commented on #14865
Cannot reproduce either.

[2020-07-08 10:22] #14805 closed, assigned to nobody

[2020-07-08 10:22] #14878 closed, assigned to nobody

[2020-07-08 10:44] ghost commented on #14900
@Araq not sure if I should open a new issue, but this still gives `false` with arc (manually expanded sortedByIt)
[code]

or, with strings:
[code]

[2020-07-08 12:47] #14900 closed, assigned to nobody

[2020-07-08 13:24] hashbackup commented on #14895
Fixed by #14926, thanks!

[2020-07-08 13:24] #14895 closed, assigned to nobody

[2020-07-08 13:55] Vindaar commented on #5636
Just a heads up that I seem to have stumbled on the same / a similar bug while trying to make arc work with `ggplotnim` (at least in principle, meaning to get rid of `deepCopy` calls; `arraymancer` unfortunately is still blocked on that front anyways).

The related commit:
https://github.com/Vindaar/ggplotnim/pull/84/commits/0497d150ad4890f416f6785a3eb88e4a5fe129de

If I run (using the commented o

[2020-07-08 13:59] juancarlospaco opened #14936 "devel exceptions:quirky d:ssl httpclient error"
`--exceptions:quirky -d:ssl` always crash, I dont know how supported this is, but repro on devel and stable,
maybe it can add a `{.warning: "--exceptions:quirky is experimental and unstable".}` or similar,
the Traceback is always the same, so maybe can be patched to work correctly,  ...or not.

I dont understand if development on `--exceptions:quirky` stopped in favor of `--exceptions:goto`,
if so

[2020-07-08 14:12] juancarlospaco commented on #14925
Repro with `--exceptions:goto` without `--gc:arc` nor  `--gc:orc`.

[code]

So maybe the Bug is also related to `--exceptions:goto` ?.

[2020-07-08 14:15] ghost commented on #14925
@juancarlospaco well, yeah, it was clear that this is an exceptions: goto bug, not an arc/orc bug :) You can change the title of course

[2020-07-08 14:17] Araq commented on #14865
Oh never mind, can reproduce with ``--threads:on``.

[2020-07-08 15:38] ringabout commented on #12129
It works in 1.2.4.
[code]

[2020-07-08 16:59] #14865 closed, assigned to nobody

[2020-07-08 19:02] dawkot opened #14939 "compile-time `var Table` not getting initialized"
### Example
[code]

### Current Output
[code]

### Additional Information
* Tested with 1.2.4 and 4f6acf2

[2020-07-08 20:04] #12129 closed

[2020-07-08 20:14] awr1 opened #14941 "Can `static T` be used as a generic proc parameter?"
[The manual does not currently clarify this](https://nim-lang.org/docs/manual.html#special-types), so this might be a bug.

[code]
The signature of `bar` breaks, however:
[code]
both validate.

[2020-07-08 20:42] Clyybber commented on #14941
I'd say this is expected.
[code]
works.

I think the reason is that `[T: static int]` doesn't mean that `T` *is* the type `static int`, but means that `T` is of the type `static int` (I'm not entirely sure that this is the correct way to think about it, since `type static int` is `static int`).

[2020-07-08 21:26] Kartiku opened #14942 "Incorrect overloaded generic function called"
Overloaded generic function calls the wrong overload.  The last call to `f` should call the 2-argument `f[T](k: string, d: string): seq[T]` but it calls the single argument function `f[T](d: string): seq[T]` instead.  It fails to compile since the when clause in `g[T](d: string)` is not exhaustive.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Informati

[2020-07-08 23:51] #10465 closed

[2020-07-09 00:42] recloser commented on #13887
No need to get fancy with seqs, even the simplest code fails:
[code]

[2020-07-09 07:57] #11009 closed

[2020-07-09 08:04] ringabout commented on #4668
It works in Nim 1.2.4.

[code]
Fixed since 1.2.0.
https://play.nim-lang.org/#ix=2rfH

[2020-07-09 09:35] narimiran commented on #6053
July 2020 update:

- still crashes on 1.3.5 devel with the default GC
- it works with `--gc:arc`

[2020-07-09 09:39] narimiran commented on #4805
I cannot reproduce this with Nim devel v1.3.5.

@pyloor can you re-run your example on your machine with a newer version of Nim?

[2020-07-09 09:44] narimiran commented on #5671
....and Nim 1.3.5:
[code]

[2020-07-09 09:52] narimiran commented on #5626
@FedericoCeratto, I've tried your code example with Nim devel v1.3.5 and i couldn't reproduce the SIGSEGV. Can you confirm?

[2020-07-09 09:57] narimiran commented on #5299
No response for (almost) a year. Closing.

[2020-07-09 09:57] #5299 closed

[2020-07-09 10:01] ringabout commented on #5926
It works in Nim 1.0.6
[code]

https://play.nim-lang.org/#ix=2rfV

[2020-07-09 10:01] narimiran commented on #4682
Cannot reproduce it with Nim devel v1.3.5.

@pyloor can you confirm that it works now?

[2020-07-09 10:04] narimiran commented on #6411
July 2020 update:

[code]

which is the same as reported originally.

[2020-07-09 10:08] narimiran commented on #6834
July 2020 update:

[code]

@krux02, you worked on `int128.nim`, do you maybe know what's going on and why the assertion is failing?

EDIT: the same thing fails in https://github.com/nim-lang/Nim/issues/8141 too.
EDIT2: and a similar thing in https://github.com/nim-lang/Nim/issues/9326.

[2020-07-09 10:15] narimiran commented on #6786
Same here.

....unless I run it with `--gc:arc`, then I get SIGSEGV.

[2020-07-09 10:20] narimiran commented on #7008
It works for me on Nim devel v1.3.5.

@RedBeard0531, can you confirm?

[2020-07-09 10:23] narimiran commented on #7455
July 2020 update:

With Nim devel 1.3.5 it says:
[code]

[2020-07-09 10:24] ghost commented on #7008
@narimiran this fails:
[code]

[2020-07-09 10:29] narimiran commented on #8016
FWIW, it works with `--gc:arc`.

[2020-07-09 10:33] narimiran commented on #7865
FWIW, it still crashes with the default GC, but it works with `--gc:arc`.

[2020-07-09 10:35] Vindaar commented on #14449
Yep, just noticed that too.

[2020-07-09 10:53] #4668 closed

[2020-07-09 11:59] zah commented on #14941
I agree that there is a bug here. The following program should not compile:

[code]

Accessing the static generic param through the dot operator should work in the same way in any context and it should return a value, not a type:

[code]

Let's now imagine `bah` being instantiated with a concrete `Foo` type (e.g. `Foo[5]`). Its signature becomes:

[code]

... which should result in the error "type

[2020-07-09 12:37] narimiran commented on #9738
`nim js tests/closure/ttimeinfo.nim` works with Nim devel v1.3.5

[2020-07-09 12:37] #9738 closed

[2020-07-09 12:42] narimiran commented on #9636
I get different outputs with Nim devel v1.3.5.

@timotheecour can you re-run your examples and update the bug report accordingly? (Maybe even close some cases?)

[2020-07-09 12:47] narimiran commented on #9314
Nobody confirmed this is still problem on Windows in last 10 months. Closing.

(We can reopen if somebody reproduces)

[2020-07-09 12:47] #9314 closed

[2020-07-09 12:56] ringabout commented on #9314
In win10:
[code]

[code]

[code]

[2020-07-09 12:58] narimiran commented on #10090
July 2020 update:

with Nim devel v1.3.5 I get:
[code]

[2020-07-09 12:58] ringabout commented on #9314
It works in gc:arc.
[code]
Output:
[code]

[2020-07-09 13:35] zevv commented on #10090
Quick quick, close it before anyone notices!

[2020-07-09 13:35] #10090 closed

[2020-07-09 15:24] #14925 closed, assigned to nobody

[2020-07-09 17:17] Araq commented on #14936
The stdlib does not support "quirky exceptions". We could document that somewhere though...

[2020-07-09 17:17] #14936 closed, assigned to nobody

[2020-07-09 17:31] juancarlospaco commented on #14936
@Araq
I can send a PR to Document that as you say, but where should it be ?. (link it).

[2020-07-10 04:34] ringabout commented on #4722
This works in Nim 1.2.4.

[code]

https://play.nim-lang.org/#ix=2rjz

https://play.nim-lang.org/#ix=2rjC

[2020-07-10 07:21] awr1 opened #14950 "[low priority] [request] Always check assertions at compiletime?"
Are assertions *always* checked if they occur in the VM during compile time, in spite of compiler options?

As of right now the answer is "no." If `-d:danger` or `--assertions:off` are in the compiler options, both runtime and compiletime calls to `assert` are ignored, e.g.

[code]

compiles fine.

Is there a good reason, however, to disable compiletime assertions ever, if the purpose of `-d:dange

[2020-07-10 12:00] narimiran commented on #12008
The example produces the expected output with Nim devel v1.3.5 on my machine. @GordonBGood, can you confirm?

[2020-07-10 12:02] narimiran commented on #12046
The example produces the expected output with Nim devel v1.3.5 on my machine. @GordonBGood, can you confirm?

[2020-07-10 12:14] RokkuCode commented on #4682
i will check this as soon as i can

[2020-07-10 12:15] RokkuCode commented on #4805
i will check this as soon as i can

[2020-07-10 12:28] narimiran commented on #12571
The example successfully compiles with Nim devel v1.3.5 on my machine. @rinfz, can you confirm?

[2020-07-10 12:37] narimiran commented on #13815
This small example works on my machine with Nim devel v1.3.5.

[2020-07-10 13:03] narimiran commented on #14053
The example successfully compiles with Nim devel v1.3.5 on my machine. @GULPF, can you confirm?

[2020-07-10 13:27] GULPF commented on #14053
The original example now compiles, but attempting to use `value` inside `returnType` in a compile time context fails (but doesn't crash):
[code]
Output:
[code]
I can update the issue or create a new one

[2020-07-10 13:38] Clyybber commented on #12940
This has been implemented as `nim r file.nim`.

[2020-07-10 13:38] #12940 closed

[2020-07-10 14:01] valashko opened #14952 "Case statement incorrectly reported as not exhaustive"
Presence of double assignment inside the `case` statement incorrectly triggers compiler error _not all cases are covered_.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
[code]

[2020-07-10 14:04] rlsdevine commented on #13930
My Delphi variant interop code is now working again. Thanks all.

[2020-07-10 14:44] #14912 closed, assigned to nobody

[2020-07-10 14:54] Clyybber commented on #14952
The code is invalid: `result = dummy = "one"` <- this is not valid syntax.
The error message should point to that instead though.

[2020-07-10 15:02] #4722 closed

[2020-07-10 15:04] Clyybber commented on #13815
Original example compiles too now.

[2020-07-10 15:13] #12571 closed

[2020-07-10 15:16] Clyybber commented on #14952
The code is invalid, there exists no double assignment in nim.

[2020-07-10 15:31] #13815 closed, assigned to yglukhov

[2020-07-10 16:10] valashko commented on #14952
Well, I am quite surprised that `a = b` is not an l-value like in every other programming language. At the very least I would expect a proper error message.

[2020-07-10 16:10] #14383 closed, assigned to nobody

[2020-07-10 16:13] juancarlospaco commented on #14950
`static: doAssert` ?.

[2020-07-10 16:41] awr1 commented on #14950
You can do that, sure, but that is more explicit, and maybe slightly more verbose if you want the same check to exist on debug builds at runtime (plus the programmer has to be actually thinking about separate compile time checks instead of just getting them "for free" in all cases) e.g.

[code]

[2020-07-10 16:58] Clyybber commented on #10817
Closing as duplicate of #2614

[2020-07-10 16:58] #10817 closed

[2020-07-10 17:05] juancarlospaco commented on #14950
Yes, you can do a term rewriting template for that and forget about it, thats on the manual, it works.

[2020-07-10 17:17] awr1 commented on #14950
Why make that something for the user to have to implement though instead of just changing the behavior of `assert` to always check at compile time?

[2020-07-10 17:21] #2586 closed

[2020-07-10 17:21] #2703 closed

[2020-07-10 17:38] timotheecour commented on #14950
`static: doAssert x` is unrelated, and would not work here (static levels nest!).

however `assert2` below works:
[code]

enabling asserts has cost for VM code too; if you want to change behavior of assert to be always on at CT, it should at least be configurable

[2020-07-10 17:45] awr1 commented on #14950
Concerns about compiletime VM code optimization are a little more lax than runtime, but I agree. Maybe a compiler flag like `--assertions:vm`?

[2020-07-10 19:02] timotheecour commented on #14950
Yes

[2020-07-10 20:53] planetis-m opened #14961 "[ARC] segmentation fault when using implicit result"
### Example
[code]

### Current Output

[code]

### Additional Information
use ``result = Foo(data: s)`` as a workaround.

[code]

[2020-07-10 21:54] timotheecour commented on #14961
can't reproduce (but I tried on OSX), can you try:
* to git bisect
* on 1.2

[2020-07-11 00:06] ee7 commented on #14961
I can reproduce this issue on Linux/amd64 using the same commit (latest `devel` https://github.com/nim-lang/Nim/commit/425972c4e8bde84ff8b84a64f1e68356dc0a1a3a).

But it works on Nim 1.2.4.

(I won't `git bisect` right now - sorry).

[2020-07-11 01:07] alaviss commented on #14961
Bisect first bad: 112511084d61edc0bb748ff8c267fb54bc7e9716

[2020-07-11 06:08] genotrance commented on #14813
I see this failure even with `switch("gc", "orc")` or `arc` for that matter. I'm compiling with `--app:lib` if that makes any difference.

[2020-07-11 06:37] GordonBGood commented on #12046
@narimiran, yes, the issue example does now compile with Nim devel 1.3.5 as of 10 hours ago whereas it didn't before.

Since `--gc:arc` and --gc:orc` didn't yet exist when this issue was written, I also tested with them and it also compiles and runs for them, with the call to `shallow` acting as a no-op (just as a call to `shallowCopy` just does a copy).

However, as there is now no mechanism for

[2020-07-11 08:27] Clyybber commented on #14961
This is not arch specific. The transformation is wrong, the =destroy hook is inserted too early.

[2020-07-11 10:09] timotheecour commented on #14961
but I'm not getting SIGSEGV and OP is...

[2020-07-11 10:23] Clyybber commented on #14961
@timotheecour Are you sure you compiled with `--gc:arc`?

[2020-07-11 10:32] timotheecour commented on #14961
my bad, sorry for the noise; I do get SIGSEGV as well with --gc:arc

[2020-07-11 15:09] #5926 closed

[2020-07-11 18:24] timotheecour opened #14966 "wrong AST (RecList containnig RecList) generated in generic type, inconsistent edge case"
wrong AST (RecList containnig RecList) generated in generic type

### Example
[code]

### Current Output
[code]

### Expected Output
[code]
should be:
[code]

otherwise it's inconsistent with all the other cases and introduces weird edge cases in generic code or compiler code

### Additional Information
* devel 1.3.5 425972c4e8bde84ff8b84a64f1e68356dc0a1a3a
* this occurs for examples with options.

[2020-07-11 20:06] Clyybber commented on #14902
Can't reproduce (checked getOccupiedMem() and valgrind) and the generated code looks correct to me.

[2020-07-11 20:43] planetis-m commented on #14902
Another example:

[code]

C code generated at 1854d2978
[code]

At d409694b0
[code]

The memory leak is fixed, except the two tuples ``T6_``, ``T7_`` that are duplicate and don't get generated in the case of:
[code]

So it can be closed if we don't care about it :)

[2020-07-11 20:57] planetis-m commented on #14902
...or it isn't? it could be the fact that we use constant strings that there is no heap allocations and thus leak.

[2020-07-12 05:33] ringabout commented on #12759
It is caused by forward declaration.
The Code below works and `{.raise: [].}` works.
[code]

Failed case:
[code]

[2020-07-12 05:51] ringabout commented on #10396
Can someone check it?

[2020-07-12 07:31] #12759 closed

[2020-07-12 08:38] planetis-m commented on #14902
This one OOMs at 1854d29 but works at latest devel which proves the memory leak is fixed.

[code]

[2020-07-12 10:16] ringabout commented on #8212
Thanks @timotheecour. I made a new version of `procName`. My version of `procName` will crash when it is not in the function scope.

[code]
https://play.nim-lang.org/#ix=2rrj

[2020-07-12 12:20] ee7 opened #14968 "[ARC] segmentation fault with `now().utc`"
`now().utc` produces SIGSEGV with `--gc:arc`. This issue was reported in the forum: https://forum.nim-lang.org/t/6536

### Example
[code]

### Current Output
`$ nim c -f --gc:arc -r /tmp/foo.nim`
[code]

### Expected Output
[code]

### Possible Solution
Seems to be resolved by https://github.com/nim-lang/Nim/pull/14964 - I found that https://github.com/nim-lang/Nim/pull/14964/commits/8bdcbde070144

[2020-07-12 14:19] xflywind commented on #13973
@mantielero mantielero
This works.
[code]

https://play.nim-lang.org/#ix=2rs5
Output:

[code]

[2020-07-12 14:37] ringabout commented on #14339
@akavel
Workaround:

[code]

https://play.nim-lang.org/#ix=2rsd

[2020-07-12 18:46] planetis-m commented on #14968
~duplicate of~ #14961. At least the workaround is the same, append ``result =`` at the end of [inZone](https://github.com/nim-lang/Nim/blob/devel/lib/pure/times.nim#L1182) proc.

[2020-07-12 19:58] ghost commented on #14968
@planetis-m I think it's still a duplicate because the root cause is the same? :thinking:

[2020-07-13 02:48] hashbackup opened #14971 "OrderedTable del and pop are slow"
Below are some small test programs that add items to an ordered hash table then delete them in the same order as added, to understand a performance problem that was noticed while experimenting with tiny_sqlite's statement cache based on OrderedTable.

Compiles are with Nim 1.3.5 using --gc:arc.  With Nim 1.2, results will be very different & somewhat confusing because 1.2 used an identity hash fun

[2020-07-13 05:19] hashbackup commented on #14971
I made the simple modification mentioned above to OrderedTable:
[code]
It does reduce the test runtime for 100K items from 60s to 21s and reduces memory from 17M to 9M, but is still O(n) and nowhere near the better implementations' performance.

EDIT: removed ` dec t.counter` because `delImplIdx` does that.

[2020-07-13 12:15] khchen commented on #14961
There is a similar error (mabe, not sure) when compile https://github.com/yglukhov/kiwi/blob/master/tests/common.nim with --gc:arc.

[code]

[2020-07-13 16:28] hashbackup commented on #14971
The non-linear behavior of compactdict was bothering me, so I ran tests with 1M, 2M, 4M and 8M items for both compactdict and LruCache:
|Type|Items|Time|Ratio|Memory|Ratio|
|-|-|-|-|-|-|
|Compact|1M|0.25s||52M||
||2M|0.60|2.4|116|2.2|
||4M|1.24|2|238|2|
||8M|2.74|2.2|396|1.6|
|LRU|1M|0.40s||100M||
||2M|0.82|2|199|2|
||4M|1.64|2|397|2|
||8M|3.42|2.1|793|2|

I thought compactdict had a scalability p

[2020-07-14 06:14] hashbackup commented on #14909
I'm on an oldish Mac Mini with 10.9:
[code]
For the 1st 3 tests, I get:
[code]
In the generated C code, both 1b and 1c call bar with a constant 2nd argument (the array length, 50).  But in 1a, bar gets called with `(s ? s->Sup.len : 0)`, I'm guessing because the sequence could be unallocated.

The code generated for bar is identical for 1a (slow) and 1b (fast).  However, if bar is passed 50, `n =

[2020-07-14 06:24] hashbackup commented on #14909
The when stmts confused me a bit about bar assigning to a[].  Still, I think the same thing applies: when the 2nd arg to bar is 50, the compiler can easily track the value of result inside that loop and make a series of 50 assignments of constants to a[].

[2020-07-14 06:43] ringabout commented on #13253
It works in devel.

[code]

Output(`>nim c -r test.nim`)
[code]

[2020-07-14 06:52] hashbackup commented on #14909
When the constants are changed to `n=50_000` and `m=100_000`, things get a little more balanced, I'm guessing because the compiler decides that execute a short loop 50K times is smarter than inlining 50K lines of code.  But it still _really_ likes cases 1b and 1c!

Here's what I get with different constants:
[code]
With the original constants it was like this:
[code]

[2020-07-14 06:53] ringabout commented on #8426
It works since 1.0.0.

Output:
[code]

[2020-07-14 07:01] hashbackup commented on #14909
You can also add `echo s[31]` just before you echo the cpu time, and it defeats the optimizations in 1b and 1c.  This supports the point that without that echo, the compiler knows nothing is ever done with a[] and is likely eliminating the stores in bar.  That's why changing constants didn't make that slower: it wasn't inlining 50K stores; it wasn't doing anything with a[].

[2020-07-14 07:22] #6608 closed

[2020-07-14 07:59] timotheecour commented on #14909
but I'm using `tot` in `(cpuTime()-t, tot)` and `tot` is computed from `bar2`; somehow seq can't be optimized out but array or malloc'd elements (and even std::vector) can

[2020-07-14 09:48] Araq commented on #12046
Closing this for now, it works as it should. Documentation will improve.

[2020-07-14 09:48] #12046 closed

[2020-07-14 11:14] #14475 closed, assigned to nobody

[2020-07-14 11:19] Araq commented on #14952
Python lacks it too and is a very successful programming language.

[2020-07-14 11:40] c-blake commented on #14971
First I would say that these observations seem sound.  It indeed seems that the current stdlib impls of those removes are documented as inefficient.  That is likely only about allocating core dev work hours than any kind of opinion that it should be slow.

The compact dict from @LemonBoy  uses a suboptimal probe sequence for out of L3 cache tables.  I implemented one of these using linear probing

[2020-07-14 12:15] #14902 closed, assigned to nobody

[2020-07-14 12:15] #14961 closed, assigned to nobody

[2020-07-14 12:15] #14968 closed, assigned to nobody

[2020-07-14 13:03] hashbackup commented on #14909
In the array/malloc/toOpenArray cases, a constant is passed to bar, so `for i in 0 ..< n` becomes `for i in 0 ..< 50` and the compiler can execute the rest of the code at compile time *and* sees that `result` does not depend on the array because the `if i < 50` branch is always taken.  Combined with never referencing the array outside of bar, it doesn't do *anything* to the array.

When `echo s[31

[2020-07-14 13:15] Clyybber commented on #6407
Another manifestation of this bug:
[code]

Perhaps related: #13549

[2020-07-14 14:14] hashbackup commented on #14909
Here's what I think is happening with 1b and 1c.  First example is echoing a constant:
[code]
To see if it was actually executing 100M loops, change `tot = 0` to `tot = t` - something the compiler can't predict.  Running it gives:
[code]
This proves that no loops are executing in 1b and 1c.

[2020-07-14 14:22] nitely commented on #13252
Works in devel now. However, @hlaaftana code fails with: `Error: type mismatch: got <array[0..2, int]> but expected 'seq[int]'`, replacing `fb.type` by `type(fb)` compiles.

[2020-07-14 15:35] treeform opened #14980 "SetHandleInformation wrong 'int' to 'HANDLE' casts with VC++ using cpp mode."
### Repro case
[code]
[code]

### Current Output
[code]

### Expected Output
It compiles.

### Possible Solution

If you just do `c` it works fine:
[code]
[code]

Maybe a special case for cpp vs c when using --c:vcc is needed? Casting rules between C and C++ are more strict?

These PRs touched this area recently:
* https://github.com/nim-lang/Nim/pull/14550 @alaviss
* https://github.com/nim-lang/N

[2020-07-14 15:42] alaviss commented on #14980
It'd be easier if we can use `winlean` in `io` tbh. This bug is caused by the fact that we don't use the exact types as `HANDLE`. I do know a way around this though.

Can you try changing `io.nim` so that `setHandleInformation` take a `pointer` as the first parameter? Then change every usage of it to `cast` the argument to `pointer`. If that works then I'll try to make a PR for it.

[2020-07-14 15:51] treeform commented on #14980
I switched to nim 1.2.2 (most recent stable version) and it works fine there with `cpp`.

I can try making your changes but I don't feel confident working in that code base.

[2020-07-14 15:55] treeform commented on #14980
I did this in `io.nim`:

[code]

And it compiles and works fine. Could you make a PR that does that better?

[2020-07-14 17:16] hashbackup commented on #13500
I am trying to get my bearings on tables before contributing to them instead of just complaining. :-)

I recently posted a slight improvement to OrderedTables.del: https://github.com/nim-lang/Nim/issues/14971#issuecomment-657364119  It still is O(n) and that needs to be fixed, but it is 3x faster and uses half as much memory.  And with this change, del doesn't crash on duplicate keys.

I will work

[2020-07-14 17:27] Clyybber commented on #13500
Does it? I think it just takes a `var Table` and its implementation doesn't replace that table by a new one either AFAICT

[2020-07-14 17:50] #8426 closed

[2020-07-14 17:50] #10396 closed

[2020-07-14 17:50] #13253 closed, assigned to nobody

[2020-07-14 17:59] hashbackup commented on #13500
I'm new to Nim so might not understand what I'm looking at, but it:
* creates a new sequence the size of the existing table
* swaps that with t.data (I sort of get what that means)
* traverses the old table by the linked list
* ignores keys that match (the ones being deleted)
* call rawInsert on all other keys to move items to the new table
* I'm guessing the GC gets rid of the old sequence
[code]

[2020-07-14 18:05] Clyybber commented on #13500
Oh yeah, sorry you are right. I was looking at the wrong proc :D

[2020-07-14 18:45] hashbackup commented on #13500
I think the reason the table was copied is because there is potentially a backshift in Table.del().  If that occurs, the entry moves and the linked list of OT is no longer valid.  That's why the test program I have is hanging.  The test program adds 2 duplicate keys then a non-duplicate.  The 2 dups hash to the same slot.  When the dup key is deleted, the first one is deleted from slot 61 *and tha

[2020-07-14 19:20] hashbackup commented on #14971
The simple modification I wrote above to avoid creating a new table doesn't work: if a delete causes Table to do a backshift, it breaks the linked list that OT uses.  That's the reason OT.del was creating a new table.

The LruCache module doesn't have this problem because it stores its data outside the hash table and stores hash(node) in the hash table.  It also uses more memory because of this.

[2020-07-14 21:06] ghost opened #14983 "memory corruption for seq.add(seq) with gc:arc and d:useMalloc"
### Example
`nim c -d:release -d:useMalloc --gc:arc file.nim`
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution

* not using gc:arc and d:useMalloc together
* passing `s2` which is a `shallowCopy` of `s` as second parameter for `add`

### Additional Information
[code]

[2020-07-14 21:12] ghost commented on #14983
Maybe this is the same as here https://github.com/nim-lang/Nim/issues/14472, my nim version is from `2020-07-02`.

[2020-07-14 21:14] ghost commented on #14983
~~Can't reproduce on latest devel, I get same results with refc/arc/arc + useMalloc~~
Can see valgrind errors

[2020-07-14 21:21] ghost commented on #14983
It also happens with
[code]
and
[code]

[2020-07-14 21:37] ghost opened #14984 "segfault with toSeq(countdown(..)) and gc:arc and d:useMalloc"
### Example
`nim c -d:release -d:useMalloc --gc:arc file.nim`
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution

* not using gc:arc and d:useMalloc together
* using **`toSeq(65535u16..0u16)`** instead of `toSeq(countdown(65535u16, 0u16))`

### Additional Information
[code]

related https://github.com/nim-lang/Nim/issues/14983

[2020-07-14 22:12] timotheecour commented on #14980
no, winlean is large and would make it imported in all nim programs via system=>io=>winlean.
However, I'd be ok with a minimal `winlean_basics` such that system=>io=>winlean_basics and winlean=>winlean_basics to avoid code duplication

whatever's done for this issue, please make sure you read `incorrect types should be fixed` section in https://github.com/nim-lang/Nim/pull/14548#issue-426544097

[2020-07-14 22:30] timotheecour commented on #14909
or you can just check the assembly code; but the point from the OP remains:
somehow seq can't be optimized out (eg when compiler should be able to figure out that some code can be elided) but array or malloc'd elements (and even std::vector) can. So this prevents optimizations in generic code when conditions are such that code should be elided in certain contexts (eg a particular generic instantia

[2020-07-15 00:49] ghost opened #14985 "[ARC] proc with both explicit and implicit return results in a C compiler error"
This code works with refc, and doesn't work with arc. Is it supposed to work at all? Found in https://github.com/fox0430/moe

### Example
[code]

### Current Outputr).
[code]

### Expected Output
Not sure, either an error message if that is invalid Nim, or "hi"

[code]

[2020-07-15 01:26] timotheecour opened #14986 "{.global.} var calls destroy when goes out of scope (unlike {.threadvar.})"
{.global.} var calls destroy when goes out of scope (unlike {.threadvar.})

### Example 1
[code]

### Current Output
[code]

### Expected Output
works

### Example 2
see comments in this example:
[code]
### Additional Information
* devel 1.3.5 425972c4e8bde84ff8b84a64f1e68356dc0a1a3a
* found while working on https://github.com/nim-lang/Nim/pull/14976 (and affects its semantics)

[2020-07-15 06:13] ringabout commented on #12335
I don't know whether it should be fixed, just record some behaviours in other languages:

Python:
[code]

Output: ['a\n', 'b\n', 'c\n']

Dlang:
[code]

Output: ["a\n", "b\n", "c\n"]

Rustlang:
[code]

Output: ["a", "b", "c"]

[2020-07-15 07:46] #13086 closed

[2020-07-15 07:50] Araq commented on #14984
Well ``    s.add(s)`` is bad code fwiw. :-)

[2020-07-15 09:25] Clyybber commented on #14984
Duplicate of #14983, just that its crashing here due to the corruption.

[2020-07-15 09:25] #14984 closed, assigned to nobody

[2020-07-15 09:34] #14985 closed, assigned to nobody

[2020-07-15 10:07] jackhftang commented on #14971
The values are **not** duplicated. The keys is duplicated in a sense that it is kept inside both Table and LruCache internal node.
The key kept inside LruCache Node is used to remove the corresponding entry in table, when the cache overflow or shrink. In theory, I can store the hash of key and make the space usage independent of sizeof(key)

For your reference, here is the full list of types

[cod

[2020-07-15 10:27] c-blake commented on #14971
Sorry if I misspoke to keys & values instead of just values.  Keys can also be big, though.  You can't, in theory, store just the hash since that could collide for two keys and you would not know which to remove.  Right?  You can't quite store the slot numbers or a pointers to the slots unless you are sure to update them when things get moved around like during delete.  As long as collision cluste

[2020-07-15 10:57] jackhftang commented on #14971
FYI, LruCache 1.0.3 released, which is now storing the hashes of keys instead of keys.

Space usage become
[code]

[2020-07-15 11:08] jackhftang commented on #14971
right... forget key collision... then need another hash table for enumerating keys and use that ID in both table and list...

[2020-07-15 13:34] narimiran opened #14989 "[meta] failed asserts in int128.nim"
This is a meta-issue, which tries to collect all the issues that are open because some `assert` in `int128.nim` has failed. The idea is to have all of them in once place, because one fix might potentially close multiple issues.

1. ``int128.nim(68, 11) `arg.sdata(3) == -1` out of range [AssertionDefect]``

    * ---> for both issues, the value of `args.sdata(3)` is `low(int32)` (`-2147483648`)

[2020-07-15 15:16] Clyybber opened #14990 "Alias type forgets implicit generic params depending on order"
This doesn't compile:

### Example
[code]

Changing the order fixes it. It also works fine with explicit generic params.

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-15 17:00] #14990 closed, assigned to nobody

[2020-07-15 19:05] StefanSalewski opened #14993 "Channel API docs are uncomplete, very low priority"
I just visited again https://nim-lang.org/docs/channels.html

Without inspecting the example it is still hard to understand the API. The fact that TMsg has a field called msg is not obvious from API docs, only from example code "echo tried.msg".

And the fact that channels can transfer data only in one direction, and not bidirectional is still not mentioned. I can remember that I tried a bidirecti

[2020-07-15 20:04] ghost opened #14994 "[ARC] sequtils.insert has different behaviour between ARC/refc"
This code shows different results when compiled with ARC or refc. Found in one of the tests in https://github.com/fox0430/moe

### Example
[code]

### Current Output
With ARC:
[code]

refc:
[code]

### Expected Output
Not sure which one of these is correct.

[code]

[2020-07-15 20:09] ghost commented on #14994
Minified example without sequtils:
[code]

[2020-07-15 21:34] #14994 closed, assigned to nobody

[2020-07-16 03:52] danawoodman opened #14997 ""Hello World" JavaScript bundle size nearly 4kb"
I'm new to nim and was quite excited by the nim=>JS compilation but was a bit surprised at a ~4kb JS file on compilation of a hello world. Is this expected? Will this scale linearly or is this just the "bootstrapping" of the nim=>JS bindings?

### Example

[code]

### Current Output

A 3.9K JS file (see below)

### Expected Output

Something as close as possible to:

[code]

### Possible Solution

[2020-07-16 04:16] juancarlospaco commented on #14997
[code]

:arrow_down:  :arrow_down:  :arrow_down:

[code]

:arrow_down:  :arrow_down:  :arrow_down:

[code]

[2020-07-16 07:07] alaviss commented on #14997
This result is expected. The Nim compiler don't "transpile" (as in generating idiomatic code) to JS, but rather "compile" and preserve Nim semantics. This will result in boilerplate support code being injected to maintain compatibility with Nim semantics.

These support code are only injected once and will be reused if possible, so the size of the program won't grow crazily.

[2020-07-16 08:35] bung87 commented on #14807
this affect `asyncnet` lib, all interface has no timeout param compre to `net` lib

[2020-07-16 09:19] #13621 closed, assigned to nobody

[2020-07-16 10:24] ghost commented on #14807
There's withTimeout in asyncdispatch which should be used for most timeouts
https://nim-lang.org/docs/asyncdispatch.html#withTimeout%2CFuture%5BT%5D%2Cint

[2020-07-16 10:29] bung87 commented on #14807
hmm, easier, still need add some procs that accept a timeout param.

[2020-07-16 11:26] ghost commented on #14807
You think so? I think it's not worth duplicating code, but we should tell people to use withTimeout in all relevant docs

[2020-07-16 11:26] narimiran commented on #14891
Implemented in https://github.com/nim-lang/Nim/pull/14890

[2020-07-16 11:26] #14891 closed, assigned to nobody

[2020-07-16 11:36] bung87 commented on #14807
oh, that's definately easy, so basically fix the sync version and document `withTimeout` to relevant docs.

well, some sync proc using client.timeout its bound to client instance, I guess not that easy.

[2020-07-16 12:18] danawoodman commented on #14997
Thanks for the clarity, that is in line with what I was assuming. I guess people chain the nim compile to something like Uglify.js?

Thanks 🍺

[2020-07-16 12:18] #14997 closed, assigned to nobody

[2020-07-16 12:19] danawoodman commented on #14997
@juancarlospaco is this just a trick for console.log or is what you are showing helpful for all JS code?

[2020-07-16 12:36] juancarlospaco commented on #14997
It is actually usable for Frontend yes.

Having said that, you can always create Frontend-oriented Nim packages and publish them to Nimble!.
:)

[2020-07-16 13:38] juancarlospaco opened #15001 "JSON delete item from JArray"
### Summary

- Add 1 convenience proc to remove an item from a `JArray`.

[code]

Can be by index or by value or both, maybe like a template using `json.to(...,  seq[string])` or `json.getElems()`, etc.
:)

[2020-07-16 14:45] bung87 commented on #13602
[code]

else branch is empty , `v_1860219` unused.

[2020-07-16 17:17] bung87 commented on #13602
[code]
without for loop, same. when success it will call `reprEnum` in results js code
 without for loop it even generate no code for a pramerter of seq[enum]

[2020-07-16 18:39] snej opened #15003 "AsyncSocket is failing to send data under backpressure (Mac,Linux)"
`AsyncSocket.send` loses data in the presence of backpressure, i.e. when the receiver reads data more slowly than the sender sends it. At some point soon after the OS's send buffer fills up, some number of pending send calls are ignored: their data is never written to the actual socket, and their Futures are not completed.

This is quite reproducible on macOS 10.14 and 10.15; I don't have convenie

[2020-07-16 18:43] snej commented on #15003
Originally reported on https://forum.nim-lang.org/t/6548

[2020-07-16 21:46] #14971 closed, assigned to nobody

[2020-07-17 00:52] iffy opened #15004 "Presence of unused macro causes illformed AST error"
### Example
[code]

### Current Output
Compiling produces this error:

[code]

### Expected Output
[code]

### Possible Solution

If I remove the second `fn` macro, the program compiles as expected.

[code]

I've also tested with 1.2.4 locally and with the [latest playground](https://play.nim-lang.org/#ix=2rOJ).

[2020-07-17 00:57] khchen opened #15005 "[ARC] Global variable declared in a block is destroyed too early"
Following code works well before the update: **An optimizer for ARC (#14962)**.
Compiling with --gc:arc.

### Example
[code]

### Current Output
[code]

Thanks to @Yardanico, the simplified code is
[code]

[code]

[2020-07-17 04:44] ynfle commented on #15004
2 possible solutions that I found were:
1. switching the order of the arguments of the second macro
[code]
2. putting parentheses around the anon. proc
[code]

[2020-07-17 07:37] bung87 opened #15006 "existsDir deprecated but breaking `dir` undeclared"
https://github.com/nim-lang/Nim/blob/695154970d839add2fbbe9754e9e638511120729/lib/system/nimscript.nim#L144-L145

I assuming deprecated is warning level message.

[2020-07-17 08:53] #15006 closed, assigned to nobody

[2020-07-17 08:59] #14082 closed, assigned to nobody

[2020-07-17 09:01] #14822 closed, assigned to nobody

[2020-07-17 16:15] snej commented on #15003
Two forum users have now reproduced the same bug on Linux (see above thread.)

[2020-07-17 19:02] qqtop commented on #15003
I have the same issue as reported above , but if you change the code like so:

[code]
It seems to work as expected compiled with --gc:boehm  or --gc:MarkandSweep  .
I let it run to over 1,200,000 messages before I killed it and the memory usage stayed stable.

Compiled with --gc:arc it ran ok but memory usage moved towards 100%

The main change is not to use !=  and use inc to increment and not

[2020-07-17 19:06] ghost commented on #15003
@qqtop for async you need orc, not arc :)

[2020-07-17 19:16] qqtop commented on #15003
@Yardanico  obviously you are perfectly right and my test right now
shows that with --gc:orc the memory usage also is moving up towards 100% , whereas with boehm and MarkandSweep the
memory usage remained stable.

[2020-07-17 19:17] ghost commented on #15003
Well yes, orc (assuming you're on devel) still kinda leaks memory with async

[2020-07-17 21:09] snej commented on #15003
@qqtop:

That's just syntactic; it doesn't affect the meaning of the code

But you also changed the await in `runServer` to `await sleepAsync 1`! That makes the reader side run faster than the sender, which means it's no longer testing the same situation. The bug is triggered when the reader is _slower_, or at least lags the sender enough to cause backpressure. So I'm not surprised that the test n

[2020-07-17 21:19] disruptek commented on #7998
Any thoughts at all?  I don't want to implement something that will be obsoleted...

[2020-07-18 07:25] qqtop commented on #15003
I changed the code based on previous advise when I ran into exactly the same issue .
 Basically a little latency (as little as 1 ) in favour of the server may give the system enough
 time to execute correctly, aside of any issues with the gc used.
You also could try to add more more clients  or run server and client on  different machines and see what happens.
Maybe it is a subtle bug in async or

[2020-07-18 07:29] jangko commented on #12695
[code]

If the problem is triggered by `value: T.atomicType`, then this is a duplicate of #5540, or at least they have same syndrome. The `atomicType` template is evaluated too early by Nim compiler, it should be delayed until next pass when the `Atomic` instance is evaluated.

[2020-07-18 08:41] #14906 closed, assigned to nobody

[2020-07-18 13:07] pb-cdunn commented on #14194
Yes, it does make sense for `--passc` on the command-line to override this. But I still need this.

What's the hold-up? I really, really, really need this. Compile-time of the top `.c` file using **cligen** has become abysmal.

[2020-07-18 13:26] dom96 commented on #15003
Just tested it on Windows: doesn't reproduce. Reproduces for me on WSL though.

Edit: Fun bug. Thank you for the repro. Still looking into the cause.

Edit2: Fixed https://github.com/nim-lang/Nim/pull/15012

[2020-07-18 13:43] pb-cdunn commented on #10971
Nim already does it automatically, but only for the current module. The behavior is different when I module is used from another Nim module.

The reason this should work for dependencies is the same as the reason it was already made to work for the current (top) module.

[2020-07-18 13:44] exelotl commented on #8524
I just ran into this one myself. Very minimal example:

[code]

Output (using Nim 1.2.4 on the playground)

[code]

Note, I also get the same error if I use the more explicit syntax
[code]
And also if I try using a constant:
[code]

### Workaround

In my case, I was able to work around it by using a wrapper template:

[code]

[2020-07-18 14:28] dom96 opened #15013 "Testament: don't use the Nim in my PATH"
When running tests using koch, testament uses the Nim in my PATH which is not what I want (and I don't see why anyone would want this)...

[code]

Why not just use ./bin/nim?

[2020-07-18 14:39] ringabout commented on #15013
Isn't testament a exposed tool? I use testament heavily in my project.

[2020-07-18 14:40] dom96 commented on #15013
Really? That's the first time I hear of it being used for projects other than Nim.

Even so, it should check for the presence of bin/nim and use that instead of whatever is in the PATH. It's primary purpose is to test Nim.

[2020-07-18 14:44] ringabout commented on #15013
In `unittest` module, it said "instead of `unittest.nim`, please consider to use the testament tool which offers process isolation for your tests".

https://nim-lang.org/docs/unittest.html

[2020-07-18 14:46] ringabout commented on #15013
I agree that `testament` should first check the bin directory. But It also should check the path. Otherwise, testament shouldn't be documented as a test tool.

BTW, my use case:
https://github.com/iocrate/netkit/tree/master/tests
https://github.com/planety/prologue/tree/master/tests

[2020-07-18 15:33] ringabout commented on #15013
BTW, you can specify the path of Nim executable.
[code]

[2020-07-18 17:05] timotheecour commented on #15013
it should default to `--nim:bin/nim`, and users who want to use nim in PATH can use: `--nim:nim`

[2020-07-19 02:40] verbus opened #15015 "Test failed @ PASS: lib/packages/docutils/rstgen.nim C ( 4.40 sec)"
The build went ok but the test failed...

$ nim -v
Nim Compiler Version 1.3.5 [Linux: amd64]
Compiled at 2020-07-18
Copyright (c) 2006-2020 by Andreas Rumpf

git hash: ffe7b3a9bf1596e5016c8fcaf775f9261188d349
active boot switches: -d:release

verbus@ubuntu-s-4vcpu-8gb-nyc3-03:~/Nim$ time ./koch tests
.
.
.
.
.
PASS: lib/packages/docutils/rst.nim C                              ( 2.30 sec)
PASS: lib

[2020-07-19 06:41] #15003 closed, assigned to nobody

[2020-07-19 17:19] timotheecour commented on #15015
please change the title, I don't see how rstgen is related; you need to provide more details (give a link to full logs) otherwise this should be closed.
it's probably some prior test that failed (megatest?)

[2020-07-19 18:08] alaviss commented on #15013
Then this is a `koch` bug that has to be fixed.

[2020-07-19 18:47] sergiotapia opened #15019 "asyncCheck works fine on Linux and Windows - not on Mac."
@dom96 asked me to create a small sample illustrating the issue.

https://github.com/sergiotapia/async-check

The code runs well on Linux and Windows, the echos in the {.async} function are seen as expected.

On Mac, we see no echos, despite Jester serving responses.

[code]

I hope this is just an error in my code, but if it's a Nim bug I'm sure you guys will be able to tackle it. I love Nim so f

[2020-07-19 22:57] ringabout opened #15020 "how can I use testament to test all tests?"
`testament` is supposed to be a standalone tool. But `testament all` is an invalid command which makes it a bit unclear to use `testament`. I just use `testament cat /` as a workaround which works but is not documented well. I don't know other means.

https://github.com/planety/prologue/blob/973c8db9332448b57b74e8e40ad7e2d284b962d6/prologue.nimble#L23

https://github.com/iocrate/netkit/blob/3ac9ed

[2020-07-19 23:36] ringabout commented on #15020
I think `testament all` should run all tests in `test` directory for external projects. We should choose other commands to test the entire Nim compiler like `testament nimc` or we can document `testament cat /` as a start.

[2020-07-20 00:37] timotheecour commented on #15020
`testament cat /` seems wrong for starters; if that works, that's a bug IMO; `/` should point to the root, not PWD (`.`)

[2020-07-20 01:01] ringabout commented on #15020
As far as I'm concerned. `testament cat .` also works. Anyway there should be at least one way to run all tests and this way should be documented.

[2020-07-20 01:18] hashbackup opened #15021 "CountTable.smallest/largest() on empty table either asserts or gives bogus answer"
With a regular compile, calling smallest() or largest() on an empty CountTable asserts, with what could be argued is a confusing message `0 < t.len`.  With -d:danger, they return (different) bogus answers.

### Example
[code]
### Possible Solution

Use doAssert with a clearer message or raise an exception.  It wouldn't be too bad to always return 0 except that a key is also returned and since ther

[2020-07-20 01:59] n0bra1n3r commented on #9698
Hi guys, this seems to still be happening in NIm 1.2.4. My specific case is that I'm using a generic converter forward-declared with `importcpp("#")`. Here's the error:

[code]
Note that the first conversion (for the 2nd param) succeeds, but not for the 3rd (and 6th).

I guess I could use this opportunity to try and contribute if it's an actual bug and you guys think it's an easy fix. :)

[2020-07-20 03:09] alaviss commented on #15020
Works for my (WIP) library. What version of nim are you on?

[code]

[2020-07-20 03:12] xflywind commented on #15020
My Nim version is Nim 1.3.5(2020-7-17) and I'm in windows.

[2020-07-20 03:17] ringabout commented on #15020
Oh sorry, it's fixed since 1.2.2.

[2020-07-20 03:17] #15020 closed, assigned to nobody

[2020-07-20 04:17] #14980 closed, assigned to nobody

[2020-07-20 06:02] #15013 closed, assigned to nobody

[2020-07-20 06:59] treeform opened #15022 "AsyncSocket.getPeerAddr appears to not work."
I am getting this error even though it connects and can send and receive data otherwise.
[code]

### Example
[code]

### Non Async Example
Here is a non async example and it works without issues.
[code]
I correctly get:
[code]

[code]

[2020-07-20 09:02] Araq commented on #7998
Looks like a minefield and async locks cannot be implemented by Posix locks as @zielmicha noted.

[2020-07-20 12:21] Araq commented on #15005
Cannot reproduce.

[2020-07-20 12:28] #14194 closed, assigned to nobody

[2020-07-20 12:30] Araq commented on #15005
If you cannot minimize, please provide a different program that also fails for wNim, hopefully it crashes on my machine too then.

[2020-07-20 15:31] ghost opened #15024 "[ARC] Weird crash after the optimizer PR"
This code works with refc on latest devel and with ARC/ORC before the optimizer PR. Initially minimized from https://github.com/Nycto/RBTreeNim/blob/master/tests/t_rbtree.nim#L229

### Example
[code]

### Current Output (gdb)
[code]

### Expected Output
[code]

### Additional Information
I'm not sure, but it might be a cursorifier bug. I couldn't confirm that because there's no way to turn it off.

[2020-07-20 15:39] brentp opened #15025 "compiler error with json serialization (Error: internal error: invalid kind for lastOrd(tyLent))"
This code:
[code]

generates this error:
[code]

[2020-07-20 15:46] brentp commented on #15025
updated to simplify. it seems `seq[array...]` is the problem.

[2020-07-20 16:07] ghost opened #15026 "[ARC] Weird exception behaviour from doAssertRaises"
This code works fine with refc ~~or refc + exceptions: goto~~, but doesn't work with ARC/ORC. Found in https://github.com/LemonBoy/jstin tests

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-20 16:39] snej commented on #15003
Ah, EAGAIN strikes again... >_<
Thanks a million for the fix, @dom96 !

[2020-07-20 16:45] snej commented on #15003
✔️ Verified the fix on macOS 10.15.

[2020-07-20 17:11] snej commented on #15019
Reproduced this with Nim 1.2.2 on macOS 10.15.5.
Tried to reproduce with latest devel, but got a compile error in Jester. Is that library not compatible?
`/Users/snej/.nimble/pkgs/jester-0.4.3/jester.nim(704, 26) Error: undeclared identifier: 'initInterval'`

[2020-07-20 17:16] ghost commented on #15019
@snej you need jester devel for nim devel :) initInterval -> initDuration (due to removed deprecated stuff from stdlib)

[2020-07-20 17:17] snej commented on #15019
Looks like the main thread is blocked in `joinThread`, which is blocked in `pthread_join`, and not running any async tasks. Via the `sample` tool:
[code]

[2020-07-20 17:19] dom96 commented on #15019
Ooh, thanks for trying this out @snej. I didn't get a chance to yet.

My guess from looking at this though is that this may be a httpbeast bug. Can you try compiling with `-d:useStdlib`?

[2020-07-20 17:25] ghost commented on #15005
Can reproduce in Wine on latest devel :) Seems like it's not a cursorifier bug (crashes with cursorifier disabled)

[2020-07-20 18:40] c-blake commented on #13499
First, I think a better exhibition of this defect is simply:
[code]
I would also qualify (different from the issue title) that (key,value) pairs need to be repeated, not only keys.  I.e., `{1:2, 1:0, 3:4}.toTable != {1:2, 3:4, 3:4}.toTable` as expected.

Second, another way to go here that does not penalize any *other* operations is, during/after the `equalsImpl` membership comparison loop, to bui

[2020-07-20 19:57] hashbackup commented on #13499
@c-blake your test seems like an unrelated bug: .toTable() always creates tables w/o duplicates.  Shown with:
[code]
.toTable currently does `for key, val in items(pairs): result[key] = val` but could be changed to `for key, val in items(pairs): result.add(key, val)`

Making that change, it fails because of the original problem:
[code]
Seems like it would be a good idea to have a setting like t.du

[2020-07-20 20:24] c-blake commented on #13499
@hashbackup - Oops!  Good, catch.  Thanks! I think if we continue to support dup keys then we should change `toTable` as you mentioned, but that's a super easy patch.

If we wanted any kind of table constructor flags, then we should also be able to pass them to `toTable` as additional arguments, e.g. `{1:2,1:2,3:4}.toTable(dups=false)`, but right now the only relevant one is size and that's alread

[2020-07-20 20:38] hashbackup commented on #13499
One common use of hash tables / sets is to *eliminate* duplicates from a list.  Making the default no dups, like most other languages / hash tables, makes more sense to me.

[2020-07-20 21:11] genotrance commented on #14281
This isn't Nim related.

[2020-07-20 21:11] #14281 closed, assigned to nobody

[2020-07-20 23:38] hashbackup commented on #13499
@c-blake Can this be done with one count table each?  It seems like there are two different cases:
[code]
It seems like you'd need one count table for keys and another for values, for both tables, so 4.

[2020-07-20 23:42] c-blake commented on #13499
I may not have described it clearly but I was imagining two (one for each table being compared) `CountTable[tuple[key: K, val: V]]` where we defined an appropriate `hash(the tuple)` in terms of the already necessary `hash(K)` and the newly necessary `hash(V)`.

[2020-07-20 23:58] hashbackup commented on #13499
Ah, ok.  My way is dumb and won't work. :-)

For regular Tables (not OrderedTables) the hash tables are already a seq[tuple[key:K, val: V]].  We could make a copy of each seq, sort it, compare it.  OrderedTables could be copied, ot.sort() both, compare the two seqs.  Or, build two new seqs that don't have the hcode/linked list junk, sort and compare them.  Not sure this would be better than your w

[2020-07-21 01:39] sergiotapia commented on #15019
If I use `-d:useStdlib` would that avoid using httpbeast? We're trying to determine if the bug is in that application?

[2020-07-21 02:02] ghost commented on #15019
@sergiotapia yes, it'll avoid using httpbeast. dom96 is trying to determine if it's a nim async bug, jester bug or httpbeast bug

[2020-07-21 02:03] sergiotapia commented on #15019
Trying now.

[2020-07-21 02:06] sergiotapia commented on #15019
@dom96 @Yardanico @snej

Using this in my nim.cfg, the applications works fine on Mac now.

[code]

[2020-07-21 08:47] c-blake commented on #13499
Sorted seqs are another option.  My approach uses less memory (e.g. avg num dups = 3, uses 3x less memory) and less "operation" time at scale (linear), but the stdlib merge sort might be sufficiently more cache friendly to use less "wall" time in spite of being *O(n\*lg n)*.  So, as usual, which is better/faster "just depends". ;-)

As mentioned, the initial membership test makes `==` potentially

[2020-07-21 11:38] hashbackup commented on #13499
Good points

[2020-07-21 15:04] mildred opened #15029 "smtp module does not send HELO/EHLO after STARTTLS"
Using the provided example of the smtp module:

### Example
[code]

When STARTTLS is enabled, the smtp client fails to send EHLO once the secure connexion is established. Here is the protocol

### Current Output

log:

[code]
### Expected Output

EHLO after STARTTLS

### Additional Information

[code]

[2020-07-21 17:14] #2408 closed

[2020-07-21 21:52] HugoGranstrom opened #15033 "Using `^` from stdlib/math along with converters gives a match for types that aren't SomeNumber"
The `^` proc in stdlib/math doesn't restrict `T` to just floats and ints, and this gives problems when implementing `^` for custom types involving converters. In my case, it's when both operands need to be converted that I stumble upon this.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Possible Solution

The line that gives the error is [this](https://github.com/

[2020-07-21 22:33] ghost commented on #15024
Fixed by https://github.com/nim-lang/Nim/pull/15027

[2020-07-21 22:33] #15024 closed, assigned to nobody

[2020-07-21 22:52] ghost opened #15035 "[ARC] C compiler error when passing a var openArray to a sink openArray"
This code results in a C compiler error. Found in https://github.com/bung87/tim_sort. I don't know if this code is supposed to work or not :)

### Example
[code]

### Current Output
[code]

### Expected Output
Not sure, it should either compile (if that is valid code), or result in a compiler error message (if we can't sink openArray)

[code]

[2020-07-22 00:13] ghost commented on #14480
Works on devel, need to make a simpler test-case :)

[2020-07-22 00:14] ghost commented on #14325
Still crashes when compiled without stacktrace, runs forever with it

[2020-07-22 00:20] ghost opened #15036 "[ARC] C compiler error when creating a var of a const seq"
This code doesn't compile with ARC when it should. Found in https://github.com/jiro4989/nimtetris

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-22 01:45] ghost opened #15038 "[ARC] SIGSEGV when calling a closure as a tuple field in a seq"
This code works on refc, but doesn't work on ARC. As I presume the problem is that for some reason Nim doesn't detect that mCreator is captured by the ``add`` and it destroys the closure. Found in https://github.com/ftsf/nimsynth when trying to compile it with ARC :)

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-22 03:28] ghost commented on #15019
@dom96 What should I do here? Does this mean I can't ship my app with it using httpbeast until the bug is fixed in that project?

[2020-07-22 04:30] #15029 closed, assigned to nobody

[2020-07-22 05:36] ghost commented on #14224
An update on latest optimizer + cursorifier - right now I found that `nim-markdown` and `RBTreeNim` trigger some kind of Nim cursorifier bug which makes them crash (in tests).

`nimly` - some other ARC bug, not caused by the cursorifier.

Also `NiGui` example_04_msgboxes.nim crashes with ARC when clicking on a button and then clicking "ok" in the messagebox.

Any help in minimizing these so they'r

[2020-07-22 05:50] #14480 closed, assigned to nobody

[2020-07-22 07:37] andreaferretti commented on #15033
I guess the right type would be `T: Multiplicable`, where

[code]

or something like that. One can take powers of things that are not numbers, such as matrices or, as you mentioned, symbolic expressions

[2020-07-22 07:47] HugoGranstrom commented on #15033
Yeah that could make sense, but then we would have to rewrite the proc, right? Epically the case where y = 0. Then we would require the type to have some sort of x.zero/x.one or something, because x.default isn't always 0 or valid for that matter (take rationals for example: default is 0/0)

[2020-07-22 07:53] HugoGranstrom commented on #15033
But I think for custom types that one does most of the time want to implement `^` by oneself. For example, I just take the base and exponent and put them in a new SymbolicExpression, no repeated multiplication. And I imagine there are more efficient ways to do it for Matrices? So perhaps the stdlib should only be concerned about floats and ints?

[2020-07-22 08:30] #15033 closed, assigned to nobody

[2020-07-22 08:43] ghost opened #15039 "[ARC] Weird cursorifier bug with methods + doubly-linked lists"
This code doesn't work with ARC while it (probably) should. Extracted from https://github.com/soasme/nim-markdown. Works with cursorifier disabled

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-22 09:49] Araq commented on #15026
It's goto based exception handling, see

[code]

[2020-07-22 10:04] andreaferretti commented on #15033
Agreed, maybe it's easier like this

[2020-07-22 10:20] dom96 commented on #15019
Yep. What kind of app is this?

[2020-07-22 10:20] Araq commented on #15019
You can make your config conditional like so:

[code]

[2020-07-22 10:31] Araq commented on #15025
Fixed in commit 80d3ef995282ec2e37968feedf7914ade6f2e62f

[2020-07-22 10:31] #15025 closed, assigned to nobody

[2020-07-22 11:02] #15026 closed, assigned to nobody

[2020-07-22 13:53] teroz commented on #12381
Another issue as well is that the underlying socket file descriptor is no closed. I added a sleep in the loop and did a **lsof** of the running process.

![Screenshot from 2020-07-22 15-45-58](https://user-images.githubusercontent.com/853846/88184780-6a79ff80-cc33-11ea-8991-ad41ada3679b.png)

## Additinal info
[code]

[2020-07-22 13:55] ghost commented on #15019
Thanks @Araq and @dom96

This is a small app that is meant to always be running on your machine, and regularly crawl html websites and rss feeds, and import records into a sqlite database. A self-hosted torrent search engine.

https://github.com/sergiotapia/torrentinim

[2020-07-22 14:04] Araq commented on #15038
@Clyybber this one is for you.

[2020-07-22 19:24] khchen commented on #15005
After removing all macros and templates, the code looks like this. It works without --gc:arc, but crashes with --gc:arc.
[code]

However, these code always works:
[code]
[code]
In summary, the problem is related to `block` and `global`.
I hope someone can reproduce these results.

[2020-07-22 21:00] c-blake commented on #13499
The better algorithm here, which I should have thought of immediately, would be to work like the `allValues` iterator.  What I am thinking of is ***conceptually*** like:
[code]
but with a `zip` that takes two iterators instead of the `openArray`s of `sequtils.zip` and can indicate when one such iterator is exhausted via the `diffLens: bool` tuple member -- just so you get my notation.  The "real"

[2020-07-23 01:24] pb-cdunn commented on #14194
Works great!

[2020-07-23 06:59] Araq commented on #13499
There is consensus on phasing out the "multi" aspect of Tables aka deprecating ``table.add``. However, you can always simply use ``[]=`` instead of ``add`` and iirc Python does not support ``add`` on dicts anyway so I dunno why newcomers from Python stumble upon it.

[2020-07-23 07:16] ghost opened #15043 "[ARC] Compiler error with a closure proc in a macro"
This code doesn't work with arc while it should. Found in https://github.com/PMunch/macroutils. Maybe compiler forgets that this is compile-time? :P

### Example
[code]

### Current Output
[code]

### Expected Output
Successful compilation

[code]

[2020-07-23 08:04] ghost opened #15044 "[ARC] Compiler crash declaring a finalizer proc directly in 'new'"
This code makes the compiler crash when compiled with --gc:arc. Found in NimYAML

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-23 08:27] Araq commented on #14966
What's the problem? You need to use recursion to handle the object grapsh anyway.

[2020-07-23 10:10] ftsf commented on #13375
This workaround is not very useful when split over multiple modules.
I'm not sure if the original behaviour is intended to be able to work like this or not.

In Nim 1.2.4
`let nameToProcRT = static(nameToProc)`  raises a linker error
[code]

using instead:
`let nameToProcRT = nameToProc`

provider.nim
[code]

consumer.nim
[code]

expected output when running consumer
[code]

actual output
[code]

[2020-07-23 11:57] hashbackup commented on #13499
When I was first looking for the equivalent of a Python dict, Nim's syntax was different enough that I had to read the Tables docs a couple of times to understand how they worked vs Python's dict.  For example `map = {}` doesn't work, because it needs a type for keys and values.  I expected that, but it was unexpected to import a module to get dictionaries.  And "tables" is a new term for them I h

[2020-07-23 12:00] c-blake commented on #13499
There is?  Last I saw there was [a TC RFC](https://github.com/nim-lang/RFCs/issues/200) that literally no one even engaged with (no emojis even!) besides me and @hlaaftana's name suggestion where TC was at least partly misarguing performance implications.

Looking into other channels, as recently as 2019/02/10:12:55:09 @narimiran on IRC said on the topic: "it doesn't matter what somebody thinks, j

[2020-07-23 12:32] narimiran commented on #13499
Regarding the confusing `tables.add`, here's a new PR: https://github.com/nim-lang/Nim/pull/15047 :)

[2020-07-23 14:34] c-blake commented on #13499
Anyway, I'm happy to do some PR to fix `==` (as described in my final best idea), probably next week.  Unless, that is, we decide to drop the functionality completely and tell @disruptek and those like him to instead just use the `adix` tables (or whatever).  If we're dropping it then it doesn't make sense to fix `==`.

[2020-07-23 16:17] dawkot opened #15050 "Command calls don't work with a single named arg"
### Example
[code]

### Additional Information
* 1.2.4, 14d16c2174a4fcefd405f8c4eeaf57a6dcd2731d

[2020-07-23 18:27] #15036 closed, assigned to nobody

[2020-07-23 18:27] #15044 closed, assigned to nobody

[2020-07-23 19:57] uninhm commented on #8953
I have the same problem

[2020-07-23 20:00] ghost commented on #8953
@unihernandez22 can you elaborate?

[2020-07-23 20:06] ghost opened #15052 "[ARC] Crash when modifying a string with mitems iterator"
For some reason using ``mitems`` iterator on strings seems to result in a crash with ARC, even in simplest cases. Found in NimYAML. Works with refc.

### Example
[code]
or, in a proc:
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-23 20:10] uninhm commented on #8953
When I do `import json` in a NimScript file, I get the same error

[2020-07-23 20:12] uninhm commented on #8953
`/usr/lib/nim/pure/streams.nim(276, 9) Error: undeclared identifier: 'copyMem'`

[2020-07-23 20:13] ghost commented on #8953
@unihernandez22 what's your Nim version?

[2020-07-23 20:14] uninhm commented on #8953
[code]

[2020-07-23 20:20] ghost commented on #15052
Seems to be due to the fact that ARC optimizes constant strings to "static const" in C. If you replace "hello" with stdin.readLine() and input any string - it works with ARC just fine.
Related C code:
[code]

[2020-07-24 01:42] davidgarland opened #15054 "{.computedGoto.} with for loops not disallowed (causes a runtime range error)"
### Example

[code]

### Current Output

Without `-d:release`:
[code]

With `-d:release`:

[code]

So it doesn't seem to be optimization level dependent.

### Expected Output

[code]

### Possible Solution

Not a clue. It puzzles me that the error happens *after* it's already printed the right output.

### Version

[code]

I also tested with a devel version just to be sure:

[code]

Exact same out

[2020-07-24 01:54] ghost commented on #15054
Well maybe {.computedgoto.} shouldn't error here, but AFAIK it should only be used in a "while true" context, no?

[2020-07-24 01:56] ghost commented on #15054
You can for example translate your code into a while loop like this (or even with .pop)
[code]

[2020-07-24 01:59] davidgarland commented on #15054
Ahh, whoops. I didn't catch that. Odd that it wouldn't give a compile error saying I was misusing the pragma, though.

[2020-07-24 02:00] ghost commented on #15054
@davidgarland well, it's generally not a well-known pragma, so it has rough edges like that :)

[2020-07-24 02:29] ghost commented on #15005
@khchen thanks for the simplification, it allowed me to repro it without any dependencies, can you please rename the issue (to something like "[ARC] Global variable declared in a block is destroyed too early") and add the repro to the first post ? :)
[code]

expandArc:
[code]

The issue seems to be that the compiler doesn't recognize (or "forgets") about global pragma of a variable if it's in a bl

[2020-07-24 02:40] ghost commented on #14901
Updated the example for a more complex one, since the simple original case now works :P

[2020-07-24 02:51] ghost commented on #14604
Right now with ``--gc:arc``
[code]

[2020-07-24 10:02] Clyybber commented on #15005
This bug is caused by this line: https://github.com/nim-lang/Nim/blob/devel/compiler/injectdestructors.nim#L530
Changing it to remove the weird parent restriction makes this example work, but makes another test fail.
IMO `{.global.}` has extremely weird and underspecified semantics and should be deprecated; its easy to use them to create invalid C code simply by declaring a `{.global.}` in a proc

[2020-07-24 10:17] retsyo opened #15056 "code with named arguments in proc of winim/com can not been compiled"
I am dealing with Excel files via com. The [Workbooks.Open](https://www.oreilly.com/library/view/programming-excel-with/0596007663/re315.html) function has many parametes. For now, let's focus on the first three: optional `FileName`, optional `UpdateLinks` and optional `ReadOnly`.

# 1. working code
The following code can be compiled and run without problem. It can be read as: open file `fn` in `R

[2020-07-24 15:49] #15056 closed, assigned to nobody

[2020-07-24 20:16] atkinsonbg opened #15058 "Docker scratch + Static Compilation + SSL produces "could not load: libcrypto.so""
I'm trying to compile and place my executable into a Docker scratch container. It works fine until I introduce SSL. Running the container produces the following error: "could not load: libcrypto.so"

### Example

Compile command
[code]

Dockerfile:

[code]

### Current Output

Compiles fine, but when I try to run it gives the following error:
[code]

### Expected Output

SSL works as expected.

##

[2020-07-24 21:03] dom96 commented on #15058
Either ``apt-get install openssl`` (or libressl) or ``--dynlibOverride:openssl`` (the ``openssl`` part may need to be different) may also work.

[2020-07-24 22:15] alaviss commented on #15058
If you want to statically link with libssl, pass `--dynLibOverride:ssl` and `--passL:'-lssl -lcrypto'`

[2020-07-24 22:33] atkinsonbg commented on #15058
Hey! Thanks for the suggestions!

@dom96 openssl is already on the nimlang/nim:latest image, so good there. Using `--dynlibOverride:openssl` gave the same error. Checking the build container it's in there:
[code]

@alaviss Using those flags I get the following error:
[code]

[2020-07-24 22:36] dom96 commented on #15058
Hrm, maybe you need to set LD_LIBRARY_PATH to include ./usr/lib/x86_64-linux-gnu/?

[2020-07-24 22:45] Araq commented on #15054
Computed goto is for writing VMs and VMs do not use for loops.

[2020-07-24 22:58] alaviss commented on #15058
You don't have musl libc versions of those libraries, as such they can't be linked to your program. This is also why Nim couldn't catch `libcrypto.so.1.1`, since that version is linked against glibc, not musl libc.

[2020-07-25 02:09] rbucker opened #15062 "sqlite extensions"
I recently discovered SQLite extensions... and then I discovered that golang supported SQLite extensions in it's APIs. As I am starting to look for an alternative this seems to be a feature I'd like to have. What do you say? While I'm at it... sure would be great to have a chroot syscall.

[2020-07-25 07:52] #14534 closed, assigned to nobody

[2020-07-25 07:52] #14684 closed, assigned to nobody

[2020-07-25 09:36] StefanSalewski opened #15063 "proc t(s: var seq[uint8] | var seq[char]) ="
[code]

The two first lines do not make seq[char] a var parameter, only the third line works. I had that issue 4 years ago already, someone suggested to use the parentesis (), that works, but took me some time to remember.

I guess that is hard to guess for most people.

[2020-07-25 09:51] ghost opened #15064 "[strscans] scanf doesn't match a single character with $+ if it's the end of the string"
Self explanatory really.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-25 12:20] #15062 closed, assigned to nobody

[2020-07-25 12:21] ghost commented on #15062
?

[2020-07-25 13:04] hashbackup commented on #12070
It seems there are 2 issues raised here:

and

An easy way to solve the 2nd issue is to start iterating at a random slot instead of always starting at slot 0.  Something like:
[code]
I tried this in the tables.nim code - works fine.  It doesn't address the attack scenario, but does prevent users from relying on a specific iteration order, which could be a good thing to avoid perceived compatibilit

[2020-07-25 13:12] hashbackup commented on #5768
Check https://github.com/GULPF/tiny_sqlite.  It handles blobs, caches prepared statements, etc.

[2020-07-25 14:14] Araq commented on #15063
Why would the mutability aspect propagate upwards to "or" types? Not propagating it is more consistent, e.g. ``s: (var float) | int``. It's a type system, it's complex and creating adhoc rules for what you think is "intuitive" will bite back.

[2020-07-25 14:14] #15063 closed, assigned to nobody

[2020-07-25 14:29] adokitkat opened #15067 "Unify reading from STDIN in Nim and NimScript + Allow execution of .nim files via "nim e ...""
### Summary

a) Unify reading from STDIN in Nim and NimScript
b) Allow execution of .nim files (or any other text files without .nims extension) via `nim e`

### Description

a) Reading from STDIN in Nim and NimScript is slightly different:

- Nim: `readLine(stdin)`
- NimScript: `readLineFromStdin()`

and it breaks the "Uniform Syntax" mentioned in [docs](https://nim-lang.org/docs/nims.html).

b)

[2020-07-25 14:35] StefanSalewski commented on #15063
So

[code]

should compile fine but tell that argument of type seq[char]) is unmutable?

[code]

[2020-07-25 15:54] treeform opened #15069 "os.lastPathPart does not work with --gc:arc."
Function `lastPathPart ` outputs the wrong empty string when using VC++ and --gc:arc.

### Example
[code]

### Output with Arc
nim cpp --cc:vcc --gc:arc -r src/testarc.nim
[code]

### Output without Arc
nim cpp --cc:vcc -r src/testarc.nim
[code]

### Possible Explanations

* Arc some how frees the out put of folderPath.lastPathPart before it has chance to echo but only with VC++ function call orde

[2020-07-25 16:14] treeform opened #15071 "Defer and --gc:arc"
Can't compile the following code, in a more complex program it returns nil. I think the defer kind of kills the implicit return.

### Example
[code]

### Output with Arc:
`nim cpp --cc:vcc --gc:arc -r src/testarc.nim`
[code]
Or as a part of a larger program:
[code]

###Output without Arc:
`nim cpp --cc:vcc -r src/testarc.nim`
[code]

### Thoughts

I think defer and arc are just buggy together beca

[2020-07-25 16:33] atkinsonbg commented on #15058
Thanks again, I tried all sorts of combinations and nothing worked. I installed LibreSSL into the build image and still no luck.

Going to go with this: https://scripter.co/nim-deploying-static-binaries/

Either use this guy's setup entirely or steal the bits I need.

Thanks for the suggestions.

[2020-07-25 16:33] #15058 closed, assigned to nobody

[2020-07-25 16:47] ghost commented on #15022
Can't reproduce on Linux

[2020-07-25 17:39] ghost commented on #14883
Is this still an issue after https://github.com/nim-lang/Nim/pull/14782? Do we have a test-case for it?

[2020-07-25 18:16] ghost commented on #14727
Where is the "peek" defined?

[2020-07-25 18:17] ghost commented on #14727
Also - seems to work for me on devel with
[code]

[2020-07-25 18:29] ghost commented on #14196
"The Nim-generated C file stdlib_selectors.nim.c doesn't compile with VCC based compilers." Not sure what this means - are you using --cc:gcc and then trying to compile C files with vcc manually? Even if you use --genScript you should use --cc:vcc then.

[2020-07-25 18:35] #12990 closed

[2020-07-25 18:36] ghost commented on #13510
@disruptek Can't reproduce on latest devel:
[code]

[2020-07-25 18:48] Araq commented on #14113
No feedback, closing.

[2020-07-25 18:48] #14113 closed, assigned to nobody

[2020-07-25 19:08] Clyybber opened #15075 "Forward declaring proc produces symchoice in template/macro context"
This doesn't compile

### Example
[code]

### Current Output
[code]

This error occurs because the `loop` in line 8 is turned into an nkClosedSymChoice that lists the forward declared loop sym and the now defined loop sym as two seperate "overloads".

[code]

[2020-07-25 19:12] treeform commented on #15022
It must be a windows issue, Nim uses windows sockets they must have
different API or something.

On Sat, Jul 25, 2020, 9:47 AM Danil Yarantsev <notifications@github.com>
wrote:

[2020-07-25 19:19] ktamp commented on #14883
This should not be an issue any more.
Try the code above. Copy/paste "καλημέρα" or "안녕" as input.

For "καλημέρα" the output should be:
καλημέρα
CEBA κ
CEB1 α
CEBB λ
CEB7 η
CEBC μ
CEAD έ
CF81 ρ
CEB1 α

For "안녕" the output should be:
안녕
EC9588 안
EB8595 녕

[2020-07-25 19:55] Araq commented on #15038
I almost have a fix for this.

[2020-07-25 20:08] ghost opened #15076 "Tracking memory leaks under ORC (mostly with async)"
This code shows a much bigger getOccupiedMem() value with arc/orc than with refc. Very likely to be related to the memory leak by async with ORC (e.g. see https://forum.nim-lang.org/t/6584)

### Example (async)
[code]

### Example (standalone)
[code]

### Current behaviour (for standalone)
With refc: `62048` (varies a bit)
With orc: `4800048`
With orc + `GC_unref`: `96`

### Expected behaviour
Rou

[2020-07-25 20:35] rbucker commented on #15062
I was having trouble registering my SQLite extensions and frankly there were no examples in this project.  I was finally able to get it to work.  Here is my example code. (actually longer than this but this is the important parts)

I am far from an expert in `nim`... so this is a POC.

[code]

[2020-07-25 20:37] ghost commented on #15076
Checking how much times the destroy of FutureBase is called with a custom destructor apparently gives us the fact that it's only called _once_ (and we have 100 thousand iterations where we create it!). When you uncomment GC_unref it actually starts being called for each iteration like it should.

<details>
  <summary>Nim code</summary>

[code]

</details>

<details>
<summary>expandArc of mainNimAs

[2020-07-25 20:49] ghost commented on #15076
Further simplification, only one closure iterator left:
[code]

[2020-07-25 23:16] #15038 closed, assigned to Araq

[2020-07-25 23:16] #15052 closed, assigned to nobody

[2020-07-25 23:42] Keithcat1 commented on #14196
At the time when I posted the issue, I tried to compile a nim file that used the select module.
My nim.exe command looked something like this:
nim c --cc:vcc example.nim

[2020-07-26 00:39] Clyybber commented on #15075
Further simplified (recursive or not doesn't matter):
[code]
It is related to params, without any params it works fine.
Probably the params got gensymmed.

[2020-07-26 13:40] dom96 opened #15079 "getAppFilename returns (deleted) in the path"
### Example
[code]

Run this and then recompile it. (This is on Linux/WSL)

### Current Output

[code]

### Expected Output
[code]

### Additional Information
[code]

[2020-07-26 13:47] ghost commented on #15079
Proposed solution: handle it the same way it's handled for macOS/Windows and document that (return an emptry string on error)

[2020-07-26 16:24] atkinsonbg commented on #15058
**UPDATE**

I did end up using this: https://scripter.co/nim-deploying-static-binaries/

It was very easy to incorporate, just copy the `config.nims` file in and use the proper switches. This got me ssl, and a super small executable, so very happy!

Updated Dockerfile with the appropriate installs on the base Nim image:
[code]

[2020-07-26 17:00] Araq commented on #15079
Not our bug, we read ``/proc/self/exe``, nothing more, nothing less.

[2020-07-26 17:51] bung87 commented on #14185
the jsgen can actually make this work without awareness, but am not sure it is expected behivor , since it differs from c's code gen.

[2020-07-26 18:07] ghost commented on #14185
@bung87 well, the backends shouldn't implement features, if there's a language feature - it should be backend-agnostic

[2020-07-26 18:12] dom96 commented on #15079
I respectfully disagree.

[2020-07-26 18:14] bung87 commented on #14185
Yardanico  ok, I might add friendly message then.

[2020-07-26 18:16] ghost commented on #14185
@bung87 the problem is in the frontend or in stdlib - handling cases like that in the backend isn't the best, it's arbitrary :)

[2020-07-26 18:18] bung87 commented on #14185
in this case , it calls jsgen.genCopyForParamIfNeeded -> jstypes.genTypeInfo -> `else: internalError(p.config, "genTypeInfo(" & $t.kind & ')')`

[2020-07-26 19:49] stisa opened #15081 "Float to string causes SIGSEGV with --hotcodereloading:on"
Converting a float to string  causes a crash at runtime with `--hotcodereloading:on`.

### Example
[code]
compile and run with:
[code]
This will crash with `SIGSEGV: Illegal storage access.` at `strmantle.nim(94) addFloat`

### Current Output
[code]

### Expected Output
[code]

### Additional Information
Compiler version (`nim -v`):
[code]

Discovered this when working on the hcr branch of jupyter

[2020-07-26 22:46] ghost commented on #11984
Should this be closed? We now have unreachable code as a warning instead.

[2020-07-26 22:48] sschwarzer opened #15082 "unittest prints [OK] for failed test if `check` is outside `test` block"
Occasionally, I use a proc to avoid duplicated test code. I found the problem that if a `check` isn't inside a `test:` block, the assertion itself runs correctly, but a wrong status `[OK]` instead of `[FAILED]` is printed in the terminal.

This is confusing, both because of the wrong status and because it's not obvious which test the `check` output refers to. (In the example it's clear, but if the

[2020-07-26 22:51] #11984 closed

[2020-07-26 23:02] ghost commented on #14515
For the record: nimsuggest actually shows the error:
[code]

[2020-07-26 23:06] rbucker opened #15083 "asyncfile could use an "inprogress" feature"
actually I'm not sure why but the asyncXXX libs have different inprogress and callback implementations... so if this request is accepted then maybe making the implementation comm would be sensible?

[2020-07-26 23:36] ghost commented on #13861
Fixed by https://github.com/nim-lang/Nim/pull/14027

[2020-07-26 23:36] #13861 closed, assigned to nobody

[2020-07-26 23:56] ghost commented on #13101
@matkuki works on devel with arc for me (even without -d:working), can you confirm?

[2020-07-27 00:30] ghost commented on #12487
Short example to reproduce:
[code]

[2020-07-27 05:08] alaviss commented on #15079
It's not an error, the ` (deleted)` suffix is added if the link target no longer exist (this quirk applies to "special" file system like `procfs` only iirc). There isn't much that we can do about this since there aren't any way to atomically get both the file name and its existence status.

[2020-07-27 05:15] alaviss commented on #15079
We can try to "avoid" this by querying this data at the program start, though if the executable is deleted before the initialization code is run then we're out of luck :P

Of course, this also come with issues like the file name won't be updated if the file is renamed.

[2020-07-27 05:19] alaviss commented on #15079
Note that if this happens without the file being deleted, then it's WSL bug and not ours.

[2020-07-27 06:25] Araq commented on #15079
Respectfully disagreeing is not a reason for re-opening, you need to justify it somehow. And we don't fix OS bugs, we cannot.

[2020-07-27 06:42] #14883 closed, assigned to nobody

[2020-07-27 06:44] Araq commented on #14727
Yeah, I fixed that one on devel.

[2020-07-27 06:44] #14727 closed, assigned to nobody

[2020-07-27 07:10] Araq commented on #15063
No, that code should work. But that's a different bug. And a nasty one. :-)

[2020-07-27 08:28] Araq commented on #14604
Well then it works now as Timothee wants it to work.

[2020-07-27 10:01] dom96 commented on #15079
I would have thought that it would be obvious, but apparently not.

We need to at the very least document this behaviour. ``getAppFilename`` is not called ``readProcSelfExe`` so why are you closing this with the excuse that it's an OS bug? It's as if you created a ``getCPU`` proc that executed ``uname -p`` and then when someone complained that it doesn't always return a correct processor name you

[2020-07-27 10:18] serge-hulne opened #15090 "Building Nim from source (Git) with Mingw64 yields the error : ‘_O_BINARY’ undeclared (first use in this function);"
[code]

[2020-07-27 11:01] #12523 closed

[2020-07-27 11:01] #12576 closed

[2020-07-27 11:20] Yardanico commented on #15083
As far as I know current asyncfiles module is not really async :)

[2020-07-27 11:40] Araq commented on #15090
What does ``gcc -v`` say? Mine says "gcc version 8.1.0 (x86_64-win32-seh-rev0, Built by MinGW-W64 project)"

[2020-07-27 11:44] serge-hulne commented on #15090
Here is the complete output:
[code]

[2020-07-27 12:06] #14189 closed, assigned to nobody

[2020-07-27 12:35] alaviss commented on #15090
`msys` is not a supported environment for the same reason we don't support `cygwin`. Use the `mingw64` environment when building Nim instead (when msys is installed it also creates a shortcut to open it's mingw shell, use that instead).

[2020-07-27 12:45] serge-hulne commented on #15090
Thank you very much !
1- Does mingw64 have a package manager (like pacman or apt-get)?
2- Where should I get it (what URL)?

[2020-07-27 12:46] bung87 commented on #13736
workaround exchange if else branch, make first branch has concrete type

[2020-07-27 13:02] ghost commented on #15076
Another example (for when using async without -d:release)
[code]

[2020-07-27 13:23] Araq commented on #15079
Well yes, it's really not clear what and how to "fix" the bug. Are we supposed to parse "/proc/self/exe" ? But what if your exe is named "foo (deleted)" ? Your OS is buggy.

[2020-07-27 13:24] Araq commented on #15079
Exactly, now what should we do? Ask the BIOS instead of the OS? Never mind that user level programs cannot do that...

[2020-07-27 13:25] dom96 commented on #15079
I don't know what you should do. But closing this issue and pretending it's not your problem is not a solution I am okay with.

[2020-07-27 13:41] alaviss commented on #15090
MSYS2 comes with a MinGW environment. You should be able to access it using the shortcuts created by the MSYS2 installer in the Start Menu. MSYS2's pacman can be used to install packages for mingw (see [here](https://github.com/msys2/MINGW-packages/blob/master/README.md) for more information).

[2020-07-27 13:43] Araq commented on #15079
It's indeed not my problem. Adding " (deleted)" to strings returned by APIs nilly-willy is insanity. But ok, we can leave the issue open as "won't fix" for a year instead, I'm sure it'll help.

[2020-07-27 13:45] serge-hulne commented on #15090
Thank you!

[2020-07-27 17:25] serge-hulne commented on #15090
Here is a distrbution of Mingw 64 which does the trick:
[code]

[2020-07-27 17:25] #15090 closed, assigned to nobody

[2020-07-27 18:36] Araq commented on #6136
The hash function was changed.

[2020-07-27 18:36] #6136 closed

[2020-07-27 19:13] #11354 closed

[2020-07-27 19:53] Araq commented on #15090
You can also unzip the Windows version from here and run finish.exe:

https://nim-lang.org/install_windows.html

[2020-07-27 20:32] #14698 closed, assigned to nobody

[2020-07-27 20:35] serge-hulne commented on #15090
Thank you!

That's what I had done in the first place, but I was hoping that  a version of Nim built from source, via a Mingw, would make it easier for me to install Nimble packages which require external C libraries, such as Neo which requires blas.dll, for instance, or others which use gui libs like fltk, etc. I was hoping to be able to manage Nim, Neo, and all the required ext libs in one place

[2020-07-27 21:09] sschwarzer opened #15096 "Modification via a ref isn't detected with {.experimental: "strictFuncs".} with default GC"
A modification of a recursive structure via a ref isn't detected by the compiler.

### Example

[code]

(Thanks to @Yardanico for reducing my code example further. :-) )

### Current Output

[code]

### Expected Output

The modification *is* detected with `--gc:orc`.

[code]

### Additional Information

[code]

[2020-07-27 21:22] sschwarzer commented on #15082
@bung87 That was much faster than I had expected. Thank you! :-)

[2020-07-27 21:27] bung87 commented on #15082
@sschwarzer hah, NP, I walking through many issues these days, pick up what I can fix.

[2020-07-27 21:49] Araq commented on #15096
The problem here is that you enable the strict checking for your own code and not for ``delete``.

[2020-07-27 22:01] bung87 commented on #15096
with default GC `nimSeqsV2` not enabled , it will not call `setLen` in seqs_v2.nim which declared as `{.noSideEffect.}`

[2020-07-27 22:18] sschwarzer commented on #15096
Thank you.

Does that mean I should get the compiler error for
[code]
? I don't. :)

And according to what you said, `--gc:orc` shouldn't have given me an error either, if I understood correctly. :)

[2020-07-27 23:14] recloser opened #15097 "Compiler crashes when referring to an undeclared gensymmed proc/macro/template"
### Example
[code]

### Current Output
[code]

### Expected Output
A normal compilation error, `attempting to call undeclared routine :tmp1234`

### Additional Information
Fails on every version

[2020-07-28 09:47] #11352 closed

[2020-07-28 10:40] oakes opened #15101 "Nil check on each field fails in generic function"
### Example

Given any value with fields containing ref seqs of different types, such as:

[code]

You can successfully iterate over its fields and print them out like this:

[code]

However, if you try to turn that into a generic function...

[code]

You get an unexpected compile error due to the nil check:

[code]

### Current Output
Compile error shown above (tested on nim 1.2.2 and devel)

###

[2020-07-28 12:00] stisa commented on #15081
May be linked to #11974 ?

[2020-07-28 16:19] timotheecour commented on #14574
this was wrongly closed (see https://github.com/nim-lang/Nim/pull/15078#issuecomment-665136469), the bug is still there (eg https://github.com/nim-lang/Nim/issues/14574#issuecomment-640036557)

[2020-07-28 16:47] timotheecour commented on #14966
the current behavior is inconsistent and hard to explain and most likely explained by an implementation bug; when a `when` section contains both a generic type and a non-generic type, we introduce a double-nested RecList, but if it contains either only generic types or non-generic types, then it's a regular single-nested RecList. This special case doesnt' seem to make sense, at least I'm missing t

[2020-07-28 17:30] timotheecour commented on #15079
how about combining this: https://stackoverflow.com/a/39001204/1426932
with this: https://stackoverflow.com/a/1189582/1426932

[code]

[...]

other than that, a flag `splitDeleted` could be added for linux

[2020-07-28 18:22] alaviss commented on #15079
That's just `readlink` with extra steps, it won't make any difference.

I wish we could just detect when to split `(deleted)`, but the truth of the matter is that no matter how you do it you end up with a TOCTOU problem. It's better to just not do anything and document the issue instead.

[2020-07-28 19:21] timotheecour commented on #14604
bug 2 was fixed indeed but bug 1 is still there:

with default gc:
[code]

[2020-07-28 21:13] ghost commented on #14604
@timotheecour what if you add GC_fullCollect() ? Default GC needs that if you want to make sure it runs all destructors

[2020-07-28 21:47] timotheecour commented on #14604
I just tried adding `GC_fullCollect` at the end, it gives same results; but destructor should run deterministically in this case (GC_fullCollect should not be needed to get the desired results, ie what's shown in https://github.com/nim-lang/Nim/issues/14604#issuecomment-663324789).

see comment in top post:

[2020-07-28 23:10] bung87 commented on #14574
I can comfirm that all reported as "internal error: genAddr" now fixed , others dont.

[2020-07-28 23:37] ghost commented on #14604
I agree that the destructors should be called for refc too(e.g. after GC_fullCollect), but I don't agree that they should be called deterministically - how can that be possible (I mean refc giving the same results as arc here) with refc if it's not deterministic by itself? And refc is being deprecated anyway, issues about refc get a Low Priority label nowadays :)

[2020-07-29 09:12] #14616 closed, assigned to nobody

[2020-07-29 09:15] ghost opened #15110 "[ARC] SIGSEGV caused by cursor inference with a case object"
When run, this program crashes with a SIGSEGV, but not when cursor inference is disabled. Found in `combparser` Nimble package.

### Example
[code]

### Current Output
[code]

### Expected Output
No output

[code]

[2020-07-29 09:20] ghost commented on #15110
expandArc output of `plus` (a bit formatted so it's easier to see stuff):
[code]

[2020-07-29 10:22] tersec opened #15111 "internal error: compiler/semobjconstr.nim(324, 20) example"
A syntax error causes an internal compiler error.

### Example
[code]

### Current Output
please check whether the problem still exists in git head before posting,
see [rebuilding the compiler](https://nim-lang.github.io/Nim/intern.html#rebuilding-the-compiler).
[code]

### Expected Output
Not causing an internal error.

### Additional Information
It exists back to 1.0.4 at least:
[code]

[code]

[2020-07-29 11:59] ghost opened #15112 "[ARC] SIGSEGV when trying to swap in a literal/const string"
Doesn't work because the "true" string is assumed to be static. Found in `pykot` package from Nimble

### Example
[code]
or just
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-07-29 13:38] ringabout commented on #12327
Edited:
**It seems to be consistent with `posix` definitions. I don't know whether it is right?**
[code]

`winlean` defines `SockLen = cuint` but it should be cint.

https://nim-lang.org/docs/winlean.html#SockLen

[code]

In MSDN:
https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-accept

[code]

Another thing which can be improved, but it's ok for me.
It also uses `pointer` i

[2020-07-29 14:17] #13484 closed, assigned to nobody

[2020-07-29 14:17] #15075 closed, assigned to Clyybber

[2020-07-29 14:18] #14139 closed, assigned to nobody

[2020-07-29 21:17] cheatfate opened #15117 "Incorrect codegen for VCC compiler"
Nim compiler's codegen produces incorrect code for VCC.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
MinGW compiler works fine with produced c code.

[code]

[2020-07-29 21:35] zevv opened #15118 "Cgen error: genSym fails to make unique identifier for ref object types"
The following program defines two ref object types with a genSym()ed id, with different named members,
and accesses the members.

This is the nim equivalent of the generated code:

[code]

This is the actual code showing the error:

[code]

Result:

[code]

[code]

[2020-07-30 03:19] rockcavera opened #15119 "Wrong type inference"
The compiler is inferring the wrong type in this situation:

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
* In the [manual](https://nim-lang.org/docs/manual.html#lexical-analysis-numerical-constants) we have the following: "This integer type is `int` if the literal is in the range `low(i32)..high(i32)`, otherwise it is `int64`"
* `echo low(i

[2020-07-30 05:32] metagn commented on #15050
It only works when the first argument is unnamed.

[code]

[2020-07-30 09:15] JordyScript opened #15121 "Flutter bindings for Nim"
The development of Flutter bindings for Nim would in my opinion be a great boon for the Nim community and ecosystem, as Flutter is fast becoming the most widely supported, and most developer friendly framework for cross-platform GUI application development.

I am not sure if it's technically feasible, but from my limited newbie understanding of Nim and Dart, they have some similarities which would

[2020-07-30 09:19] ghost commented on #15121
It's really not possible to actually create real high-level Flutter bindings for Nim because all of Flutter is implemented in Dart. Of course you can make some kind of a Dart -> Nim converter, but that would be a major work.

Even moreso, Dart is mostly using OOP paradigm - "Dart is an object-oriented language with classes and mixin-based inheritance. ", so it would be hard mapping that to Nim's s

[2020-07-30 09:36] ghost opened #15122 "[ARC] Sequence "disappears" with a table inside of a table with an object variant"
Honestly I couldn't make a better tittle, but from my attempts at minimizing it is what it is :)
Found in https://github.com/FedericoCeratto/nim-bencode `bencode` Nimble package.

### Example
[code]

### Current Output
[code]

### Expected Output
No index error / assertion

[code]

[2020-07-30 09:37] ghost commented on #15122
Curious observation - there's no error (it works correctly) when you remove the tkDict branch:
[code]

[2020-07-30 09:46] ghost commented on #15122
Git bisect said that e6f0d4a5a59f8230133481d25ce1c3f6e8daf0a5 is the first bad commit and the code really seems to work with the commit before that one -  377f71676629d5621d052e662996d30323ea3bee

[2020-07-30 15:32] #15110 closed, assigned to nobody

[2020-07-30 15:32] #15096 closed, assigned to nobody

[2020-07-30 15:38] Araq commented on #15121
This is the wrong issue tracker, please see https://github.com/nim-lang/needed-libraries/issues

[2020-07-30 15:38] #15121 closed, assigned to nobody

[2020-07-30 15:53] Araq commented on #15039
This has been fixed in commit <mir_egal>.

[2020-07-30 15:53] #15039 closed, assigned to nobody

[2020-07-30 17:03] timotheecour commented on #15050
IIUC it's because of precedence rules, look at
[code]

[code]

EDIT: looks like a common gotcha, see this recent post: https://forum.nim-lang.org/t/8037

the question is: how can we improve things here without introducing parser ambiguties?

on possible rule is:
[code]
which does not sound ambiguous

[2020-07-30 17:20] #15112 closed, assigned to nobody

[2020-07-30 17:25] Araq commented on #15069
Cannot reproduce on devel, most probably because of the massive amount of bugfixes arc has received.

[2020-07-30 17:25] #15069 closed, assigned to nobody

[2020-07-30 18:58] StefanSalewski opened #15128 "proc t1(s: var (seq[uint8] | openArray[char])) ="
This is somehow related to a recently closed bug labeled wontfix.

I really assumed this notation would work :-(

[code]

[code]

[2020-07-30 19:14] StefanSalewski commented on #15128
Thinking about I get the feeling that proc t0 should give an error, as passing a string as var parameter to a proc that accepts a openArray[char] may result in an invalid string containing \x0? At least the fact that t0 compiles fine but t1 not is strange.

[2020-07-30 19:31] StefanSalewski commented on #15128
And is not only an issue for var parameters:

[code]

[code]

[2020-07-30 19:50] nitely commented on #15128
I'd expect `openArray[char or uint8]` to work too (it does not).

Workaround:

[code]

[2020-07-31 01:16] genotrance opened #15129 "Issue with --gc:arc at compile time"
[code]

Compiling this with Nim after and including commit [aae998feff6d0234ee02311d59b299adfee0b01c](https://github.com/nim-lang/Nim/commit/aae998feff6d0234ee02311d59b299adfee0b01c) created to fix #15038:
[code]

Compiling with Nim compiled without -d:danger:
[code]

If this is backported, it will break on 1.2.6 as well. This does NOT break without `--gc:arc`.

[2020-07-31 01:38] ghost opened #15130 "[ARC] SIGSEGV with tuple assignment caused by cursor inference"
The bug in https://github.com/nim-lang/Nim/issues/15110 was fixed, but turns out there's another ARC bug affecting https://github.com/PMunch/combparser.

### Example
[code]

### Current Output
[code]

### Expected Output
No SIGSEGV, assertions passed

[code]

[2020-07-31 01:43] ghost commented on #15130
Seems to work when cursor inference is disabled.
expandArc for p1
[code]

for ret:
[code]

[2020-07-31 10:13] #15071 closed, assigned to nobody

[2020-07-31 17:59] Araq commented on #15119
But it is unary operator '-' followed by the literal 2147483648 which does not fit into an int32. Works correctly.

[2020-07-31 17:59] #15119 closed, assigned to nobody

[2020-08-01 05:39] #15111 closed, assigned to nobody

[2020-08-01 16:04] #15130 closed, assigned to nobody

[2020-08-01 17:32] sschwarzer commented on #15082
More workarounds:
- Use a template instead of a proc (in my case a bit inconvenient because I use default arguments for the proc)
- If you have only a single condition to check, let the proc return a flag and check this flag with `check` inside the `test:` block

[2020-08-01 17:57] sschwarzer opened #15142 "`import strtabs` fails with `Error: '[]=' can have side effects` when `strictFuncs` is active"
If the `--experimental:strictFuncs` option is used, an import of `strtabs` causes a compile time error.

### Example
[code]

### Current Output

[code]

### Expected Output

The above snippet should compile without error.

### Possible Solution

The proc referenced by the compiler is
[code]
Note the `noSideEffect` pragma, which doesn't seem to make sense since the point of the proc is to modify th

[2020-08-01 18:40] ghost commented on #14675
Some examples not 32 bit safe here too.

Nim Compiler Version 1.2.6 [OpenBSD: i386]
Compiled at 2020-07-31
Copyright (c) 2006-2020 by Andreas Rumpf

active boot switches: -d:release

./koch docs

/home/agrellum/.cache/nim/times_d/runnableExamples/times_examples69.nim(6) times_examples69
/home/agrellum/Nim-1.2.6/lib/pure/times.nim(1504) initDateTime
/home/agrellum/Nim-1.2.6/lib/pure/times.nim(1495)

[2020-08-01 18:53] sschwarzer commented on #15142
I found a few other errors:
[code]

After removing the `noSeideEffect` pragma from `strtabs`, I get:
[code]

After removing `noSideEffect` from `xmltree.delete`, I see only errors from `pegs.nim`, `nre.nim` and `mimetypes.nim`, where it isn't obvious to me whether these are supposed to have side effects or not.

Edit: I tried to attach my script (created with `find` and some Vim macros) that found

[2020-08-01 19:24] alaviss commented on #14675
You can define `nimUse64BitCTime` as a walkaround atm. A permanent fix would be to create `posix_openbsd` with the change to make `Time` an `int64`. We couldn't do this for Linux since the switch to 64 bit `time_t` was recent, but it appears to me that OpenBSD has been doing this for quite a while now.

[2020-08-01 19:27] #9867 closed

[2020-08-01 20:03] #15129 closed, assigned to nobody

[2020-08-01 20:09] Araq commented on #14630
This has been fixed to the extend currently possible.

[2020-08-01 20:09] #14630 closed, assigned to nobody

[2020-08-01 21:42] D-Nice commented on #9867
don't mean to necro, but the reason I haven't posted anything is, since that message, is because I had pulled latest devel, and recompiled with stack tracing on etc... and it hasn't crashed since. I will probably recompile with the currently latest devel, and notify back if it runs into issues going forward.

[2020-08-01 21:51] alaviss commented on #9867
Please do :) And thanks for letting me know that previous patches does manage to prevent crashes in certain configurations. With the latest fix, at least for the kind of errors in the first post, is fully resolved. However only in real-world testing would we know if this is the case 100% of the time.

[2020-08-02 07:23] 60fov opened #15145 "Compiler crash when a value in enum is converted to the enum itself"
[code]

snippet at https://play.nim-lang.org/#ix=2sVy

Nim Compiler Version 1.2.6 [Windows: amd64]

[2020-08-02 07:57] nerdboy4200 opened #15146 "Missing installation/deinstallation option on download page"
Download page talks of using OS repository version or choosenim - but does not mention install.sh or deinstall.sh - which can be used for manual installing/deinstalling.

This is used for those who like to use it to install nim globally while not using a version from the OS.

I know that the install script is somewhat documented in the packaging doc file - but finding this took time and is not rea

[2020-08-02 08:52] ghost commented on #10849
Still an issue

[2020-08-02 12:06] ghost opened #15147 "[ARC] SIGSEGV with tuple unpacking caused by cursor inference"
Continuation from https://github.com/nim-lang/Nim/issues/15130, yet another bug from combparser :) Once all bugs fixed and it works with ARC we should probably test it in testament with ARC.

### Example
[code]

### Current Output
[code]

### Expected Output
No crash, successful execution

[code]

[2020-08-02 12:08] Yardanico commented on #15147
Doesn't seem to be caused by the cursor inference

[2020-08-02 12:11] ghost commented on #15142
@sschwarzer is this fixed by #15143 ?

[2020-08-02 13:18] ghost commented on #15122
@Araq another case of a very similar issue:
[code]

If you remove `bdec` or at least comment the `result` line in it - the example works, otherwise - doesn't

[2020-08-02 14:20] sschwarzer commented on #15142
Yes, and a similar bug in the `xmltree` module.

As mentioned, my script (linked above) tells me about more problems in module imports, but I don't know if the pragmas there are wrong or the compiler. Therefore I didn't make any changes to these other modules (`mimetypes.nim`, `nre.nim` and `pegs.nim`).

Note that if you fix one of the modules, you may see errors with *other* modules that were ori

[2020-08-02 16:20] pseudo-random opened #15148 "Writing an empty string to an AsyncFile raises an IndexDefect"
Attempting to write an empty string to an AsyncFile raises an IndexDefect.

### Example
[code]

### Current Output
**Note:** I replaced my username with the word "USER" and the path to the nim source file with the word "PATH" for privacy reasons.
[code]

### Expected Output
The empty string is correctly written to the given file and no exception is raised.

### Nim Version
[code]
**Commit:** https

[2020-08-02 23:09] ringabout opened #15150 "Reading zero or negative byte with asyncfile leads to different behavior in linux and windows"
Related: #15148

echo "123" >> test.txt
[code]

## Current Output

in linux
[code]
in windows
[code]

## Expected
[code]

[2020-08-03 08:32] nitely opened #15151 "JS closure compile time error cannot evaluate variable"
This only occurs when compiling with the js target.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information
* I tried it in Nim 1.0.8, 1.2.6, and devel; same result.

[code]

[2020-08-03 19:13] ghost opened #15154 "Internal compiler error when providing 'nil' for a proc argument in a generic procedure with two arguments"
Title describes most of it, the compiler probably wants to infer the T from the first argument but we pass `nil` so it crashes.

### Example
[code]

### Current Output
[code]

### Expected Output
No compiler crash, not sure if this is valid code - if it is => compiles successfully, otherwise an error message.

[code]

[2020-08-04 08:43] PMunch commented on #9616
Pretty sure this is still an issue. At least I can't see the code having changed to fix it..

[2020-08-04 09:02] PMunch commented on #10193
This is still an issue

[2020-08-04 09:51] Clyybber commented on #9509
Still an issue..

[2020-08-04 10:52] simonkrauter commented on #5743
Still reproducible with Nim 1.2.6.

[2020-08-04 10:55] simonkrauter commented on #5743
@jangko Why is it a closure proc? In my understanding there no closure procs, only regular procs.

[2020-08-04 11:03] simonkrauter commented on #5765
I think this issue is fixed and can be closed.

``setFilePos`` uses now ``_fseeki64`` under 64 bit Windows.

https://github.com/nim-lang/Nim/blob/version-1-2/lib/system/io.nim#L101

[code]

[2020-08-04 11:06] #5765 closed

[2020-08-04 11:13] PMunch commented on #5884
This issue still exists, for most of the discussion regarding it see #5884

[2020-08-04 11:43] alaviss commented on #9696
With scope-based destructors, I think this is solved.

[2020-08-04 11:43] #9696 closed

[2020-08-04 13:41] Clyybber commented on #4057
Still an issue.

[2020-08-04 14:10] jangko commented on #5540
It's still a valid issue.

[2020-08-04 14:11] jangko commented on #9778
This is still a valid issue.

[2020-08-04 14:17] alaviss commented on #644
With the introduction of ARC and move semantics, is this issue still relevant @Araq?

[2020-08-04 15:27] jxy commented on #6039
It still results in the wrong C code.

[2020-08-04 15:33] jxy commented on #6126
It still gives the same error.

[2020-08-04 17:15] jxy opened #15157 "proc capturing inside a macro breaks the macro"
The `proc` definition inside a macro makes the macro's parameter `NilLit`.

### Example
[code]

### Current Output
This is the output from the macros during the compilation.
[code]
The compilation also fails due to the malformed AST.

### Expected Output
during compilation
[code]
when executed
[code]

### Possible Workaround

Capturing a local var/let instead of the macro argument works, as

[code

[2020-08-04 17:57] bpr commented on #6786
On the latest devel, with `--gc:arc`, I get
[code]

I'm on a Mac.

[2020-08-04 17:59] ghost commented on #6786
Crashes on ARC with latest devel for me (on Linux).
[code]

[2020-08-04 20:50] D-Nice commented on #9867
Seems to be segfaulting on something else now, after using latest nightly compiler

[code]

gdb coredump backtrace doesn't yield anything useful, I may try another nightly, as this appears a seperate problem, but still adding here for posterity and in case I'm mistaken.

[2020-08-04 20:54] ghost commented on #9867
@D-Nice can you try with --gc:arc ?

[2020-08-04 23:46] D-Nice commented on #9867
@Yardanico the project imports `chronicles` package, which has a dependency on `chronos`, which apparently won't compile with arc/orc due to some unsupported cast from `chronos`.

EDIT: Forgot to mention, it just crashed again after 3ish hours.

[2020-08-05 00:09] D-Nice commented on #9867
I am attempting other GCs, and have previously run this app with boehm, without issues, but on latest devel, boehm now crashes very shortly after initialization.

First crash with boehm, compressed bin with upx
[code]

Second crash with boehm, uncompressed bin
[code]

gdb backtrace of second crash
[code]

The latest nightly I'm referring to is:
[code]

[2020-08-05 00:19] bung87 commented on #8473
https://play.nim-lang.org/#ix=2tgN should be closed

[2020-08-05 00:46] D-Nice commented on #9867
As a note, similar crash still in boehm, with 1.2.6. I could swear I ran it fine with some earlier nim 1.2.x, I'll investigate more there.

markAndSweep won't compile at all with nightly for my app, getting
`Error: system module needs: unsureAsgnRef`
compiles fine with stable 1.2.4 & 1.2.6

Running it for now with 1.2.6 and M&S gc to see how it fares over time.

[2020-08-05 10:57] Clyybber commented on #8473
@bung87 But it should *not* compile.

[2020-08-05 11:50] mratsim opened #15159 "[RFC] Stale bot"
It seems like Nim now has a stale bot.

Advantages:
- Less open issues

Disadvantages:
- Feeling of having issues "dismissed"
- Unaddressed issues

## Opinion

I don't think this is a right approach when there are so few core contributors to Nim:
- We don't have a large number of contributors dedicated to closing issues with proper fixes.
- Most issues are stale because of lack of time, not becaus

[2020-08-05 11:58] cheatfate commented on #4439
This should be documented properly somewhere.

[2020-08-05 15:44] zacharycarter commented on #5878
Closing this for a couple of reasons -

1) I don't use threadpool anymore
2) I'm not sure if this is still relevant at all
3) Overly complex example code

[2020-08-05 15:44] #5878 closed

[2020-08-05 17:23] disruptek opened #15160 "exceptions codegen broken inside macros"
I'm trying to write a test framework and I'd like to use exceptions to
signify tests that should be skipped. I'd also like to catch at least some
exceptions that should not prematurely terminate the test suite.

I may be doing something wrong, but I'd rather receive my error messages
from the Nim compiler than `clang`.

[code]

[code]

[2020-08-05 17:29] disruptek commented on #15159
Please make suggestions for a better bot.  I am happy to contribute it.

[2020-08-05 18:35] timotheecour commented on #15159
Stale bot optimizes for a vanity metric of minimizing number of opened issues, but does not actually contribute to fixing anything, and makes things harder / more confusing (eg increases likelyhood of duplicate issues since you're not going to check into closed issues before submitting an issue). Old issues can be still relevant even if the person who authored them is no longer an active contribut

[2020-08-05 20:08] genotrance commented on #15159
[tissue](https://github.com/genotrance/tissue) already can download and test issues with working snippets, post `nim_temp` stack traces as comments to Github and create `testament` test cases and PRs out of snippets once an issue is fixed. I know @narimiran used it off and on but it will be great to expand this method of root causing and fixing issues quickly. It can detect various flags mentioned

[2020-08-06 04:00] treeform opened #15162 "GC:Arc doesn't work in c++ mode for current stable nim release."
Initializing an empty seq by adding elements to it segfaults when compiled using C++ mode.

Example code:
[code]

Doing

[code]

works without issues.

But doing

[code]

resulting binary segfaults.

My setup:

[code]

[2020-08-06 05:31] #15162 closed, assigned to nobody

[2020-08-06 05:31] treeform commented on #15162
Some thing is up with my GCC install producing invalid binaries.

[2020-08-06 08:13] zolomatok opened #15163 "Arrow functions don't work as described"
The [Nim for Typescript programmers](https://github.com/nim-lang/Nim/wiki/Nim-for-TypeScript-Programmers#Arrow-Functions) wiki page says that this:

[code]

can be written as:

[code]

However, **that produces an error**:
`typedesc not allowed as tuple field`

---

Similarly, this
`let purr = () => echo "Purr Purr" # No arguments`

produces:
`found '=>' of kind 'unknown'`

---
**Nim Compiler Versi

[2020-08-06 10:41] alistairkeys commented on #15163
It should compile if you import the sugar module, which [defines](https://nim-lang.org/docs/sugar.html#%3D%3E.m%2Cuntyped%2Cuntyped) =>.
https://play.nim-lang.org/#ix=2tpf

If you've not imported 'sugar', please try (and presumably the wiki needs updated to reflect this if it doesn't mention it).  If you've imported it, the error might be specific to MacOSX (I tried on Windows 10 with Nim 1.2.6 an

[2020-08-06 11:00] zolomatok commented on #15163
@alistairkeys

Yepp, sorry, didn't notice the note about having to import `sugar`. Thank you!
Do arrow functions only work with single line expressions?

The following gives an `invalid indentation` error for the second echo:
[code]

[2020-08-06 11:15] alistairkeys commented on #15163
I can't say I've ever tried multi-line arrow procs to be honest but they didn't work for me either.  I tried a couple of things (like 'block:') but didn't have any success.  As a stop-gap, you could separate statements with [semi-colons](https://play.nim-lang.org/#ix=2tpk) on one line but that's ugly so please don't :).

The version [without arrows](https://play.nim-lang.org/#ix=2tpm) works with m

[2020-08-06 11:19] zolomatok commented on #15163
Thanks @alistairkeys!

Yeah, I wouldn't want to do that :D

[2020-08-06 15:18] treeform opened #15164 "Arc, field, table interaction case segfaults."
When using arc setting a thing into a table using its own field segfaults.

### Example
[code]

### Current Output

[code]

### Expected Output
[code]

no issues.

### Possible Solution

[code]

I think arc already moves thing into the table, so when its accesses its field its nil?

### Additional Information

[code]

[2020-08-06 15:37] treeform commented on #15164
Hmm installing `choosenim #d9ed816b10a67e802817daa07b5b823c79bcd13e` seem to have fixed my issue.

[2020-08-06 15:37] #15164 closed, assigned to nobody

[2020-08-06 18:23] Skrylar commented on #15159
Oh good, inbox zero bots. Why bother to solve anything when you can just #wontfix.

[2020-08-06 18:26] Skrylar commented on #5894
I have no idea if this was ever fixed but the test case doesn't even compile anymore.

[code]

i'll have to screw with it at some point this or next week.

[2020-08-06 18:32] hlaaftana commented on #15163
This works as a last ditch effort:

[code]

I have reordered the Nim for TypeScript page to where the `import sugar` disclaimer is more visible.

[2020-08-06 19:43] Clyybber commented on #15159
@Skrylar I think in this case upvoting this issue means being *against* Stale bot, at least thats how I interpreted it.

[2020-08-06 20:02] Skrylar commented on #15159
@Clyybber i received an auto response on an issue i bothered to box up a neat little test case for. on top of the code still doesn't work 3 years later (although hey, the error is different now!) a human couldn't even be bothered to #wontfix it by hand.
But then I haven't been able to use the forums due to a bug for about as many or more years, and that's never been fixed either, so I'm not really

[2020-08-06 20:54] Clyybber commented on #15159
@Skrylar To be clear, I hate stalebot and would like to see it removed :)
I think your issue shouldn't be #wontfix'ed. AFAICT stalebot is intended to close issues that even the author doesn't care about anymore, but I think its stupid regardless.

[2020-08-06 21:49] disruptek commented on #9488
Still present, as is #9509.
[code]

[2020-08-07 00:17] awr1 commented on #8446
Not stale

[2020-08-07 00:18] awr1 commented on #8799
Manual still needs to be fixed to help approach something worthy of a spec - not stale

[2020-08-07 12:20] shirleyquirk commented on #15163
For multiline lambdas, just use the "standard" way, without the sugar:
[code]

[2020-08-07 13:08] ghost opened #15165 "The nim compiler doesn't report the error lines properly after 65535 lines"
### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-08-07 13:16] ghost commented on #15165
But is this REALLY an issue? I would not consider files with more than 65535 lines (the previous limit was 32767 with `int16` but it was changed to `uint16`) to be useful

[2020-08-07 13:32] alehander92 commented on #15165
this should be specified and an error message for that should be printed

[2020-08-07 13:33] alehander92 commented on #15165
this can be a problem for autogenerated libs e.g. parsers or something

[2020-08-07 13:35] alehander92 commented on #5172
i think some kind of hint can be still useful at least for stdlib

[2020-08-07 13:46] ghost commented on #15165
This came up for us when we generated a big file and no, we don't want to split it because we don't have to do that in any other language, just like we don't have to workaround the case-insensitivity issues either.

[2020-08-07 13:53] Clyybber commented on #15165
I think the best course of action here is to render the line number as `???` or `>65535`. Changing the size of the lineinfo number would hurt performance and probably memory usage. I suggest using `include` or consuming AST via macros or something.
And I suppose you want to catch errors before the nim layer anyways if what you are working on is a language that compiles to Nim (is it?).

[2020-08-07 14:09] ghost commented on #15165
That would be still useless.

We are talking about a few bytes here. This is just pico-optimization.

Not really.

[2020-08-07 14:15] ghost commented on #15165
I still think that >65535 lines of code is a pretty okay limit for 99.99%, and otherwise you can always just use `include` :)

not sure which "case-insensitivity" issues you're talking about here, but this issue isn't about that, so okay :)

EDIT: Also I hope you know that if you combine different "pico-optimizations" you get real performance impact :)

[2020-08-07 14:24] ghost commented on #15165
It's a pointless limit because you *might* spare like 16 bits mid-compilation(with uint32).

Nim identifiers are case-insensitive and ignore underscores - really bad for C compatibility.

I also hope you know that it is not even worth to be called an optimization because it just wastes developer time. With the introduction of the `include` statements and their references we will still need to incr

[2020-08-07 14:24] disruptek commented on #15165
I generate files with >100k lines of real code.  The key word here is “generate”.  I don’t care what the error message says in the event of an error.

Also, the design responsible for this problem of tracking line numbers absolutely is silly and embarrassing, not least because it has real bearing on other design in the compiler (eg. IC).

[2020-08-07 16:38] alehander92 commented on #15165
trialism those 16 bits are part of each Node object: so they are much more than 16 bits , 16 * all the node objects : I think there is a miscommunication here, this isn't a single value!

[2020-08-07 21:01] sschwarzer opened #15167 "(Re-)raise exceptions from the spawned proc when a `flowVar` is queried with `^flowVar`"
### Summary

Exceptions occurring in spawn'ed procs should be re-raised when the `flowVar` is queried with `^flowVar`.

### Description

The [manual](https://nim-lang.org/docs/manual.html#threads-threads-and-exceptions) says:

I suggest that an exception raised in a spawn'ed proc should *not* stop the program, but instead should be (re-)raised when the `flowVar` is queried with `^flowVar` (or some

[2020-08-07 22:20] alaviss commented on #9867
This is interesting. Can you enable debug information (with `--debugger:native`) and use the default GC? It should give out coredumps with usable stacktrace then.

Also I'm seeing

in one of your logs. This is really odd as this bug should have been completely fixed in devel. Can you confirm your version with `nim -v`?

[2020-08-07 23:09] alaviss commented on #15163
Looking at the wiki, [this](https://github.com/nim-lang/Nim/wiki/Nim-for-TypeScript-Programmers#Arrow-Functions) statement is misleading:

The statement implies that:

[code]

is the same as

[code]

Which is wrong. The latter creates an anonymous `proc`, then assign the proc pointer to `foo`. This mean that when a stack trace is printed, you will see `:anonymous` as the proc name instead of `foo`

[2020-08-08 05:24] #15148 closed, assigned to nobody

[2020-08-08 06:47] StefanSalewski opened #15168 "Generics problem"
[code]

[code]

I try to add support for glists currently, and get a problem like the code above. Generally I would think it should work -- unfortunately all my small code modifications did not help, and a larger rewrite may generate problems elsewhere, as the whole code is autogenerated.

[2020-08-08 06:58] StefanSalewski commented on #15168
OK, this rewrite compiles:

[code]

But my problem is that I have in real code no value type like above PaperSize* = object but only refs.
At least this rewrite gives me the direction, maybe there is a solution with only refs types like typeof(PaperSize()[]). I tried ysterday evening already, but maybe I did something wrong.

[2020-08-08 07:01] StefanSalewski commented on #15168
Quatsch, does not compile, the intended new() command is of course

[code]

[2020-08-08 07:44] Araq commented on #15165
How exactly are you not wasting your developer time by creating such large files?

[2020-08-08 08:42] ghost commented on #15165
Sometimes we need to generate code and sometimes those source files are really big and are either hard to split up or there would be too much splits.

[2020-08-08 09:34] Araq commented on #15165
Yes, I understand, but compile-times are important too, so usually it matters to generate less code for reasons having nothing to do with Nim's line cap quirk. Maybe your generated code can generate procs or templates or something, code compression techniques usually work fine. The Nim compiler itself is only about 80_000 lines of code fwiw (not counting the stdlib it uses).

[2020-08-08 13:19] StefanSalewski commented on #15168
During testing many variants of above code I one get a message

[code]

This code which uses a "Constructor" compiles, so I think I will try to use something like that.

[code]

[2020-08-08 15:13] shirleyquirk commented on #15163
s/normal/anonymous/ ?
Incidentally, it's not necessary to surround anonymous procs with parens

I don't think the closure issue is relevant here, as it applies to both forms of syntax, and to named as well as anonymous procs.

The example could highlight that you're converting normal procs to anonymous ones,

By swapping the sections around you could first discuss 'this'/'self'
Then introduce anon

[2020-08-08 16:21] D-Nice commented on #9867
@alaviss

For that SSL error you've mentioned, I can confirm it was `d6161e7e9ea1f40ad734c6e811e8169fe24b5e9f` for the git hash of compiler used to compile that variant, albeit with boehm gc.

I'm looking to create a minimal reproducible example, and see if I can get same issues going there.

[2020-08-08 17:10] zevv opened #15170 "redefinition of 'X'; previous declaration here"
This is more of a question then a bug, but I'd like to understand the underlying mechanics better: why is it not possible to rewrite a proc with a typed macro?

[code]

This results in

[code]

[2020-08-08 18:08] Araq commented on #15142
Well this is not very actionable. Please create PRs that remove the ``.noSideEffect`` annotation and then we can discuss it in detail.

[2020-08-08 20:03] timotheecour commented on #15165
@trialism you can as suggested above split your generated code in several includes. This should not affect CT performance.

[code]

but most likely you should be able to make better use of macros/templates to avoid generating so much code.

[2020-08-08 21:08] #15101 closed, assigned to nobody

[2020-08-08 21:24] D-Nice commented on #15076
Still getting memory leaks with ORC + Async + SSL. Here's a fairly minimal example

[code]

refc output:
[code]

ORC output:
[code]

using a pretty recent, august 2nd nightly devel build
[code]

[2020-08-08 21:37] Clyybber commented on #15170
Because of this issue: https://github.com/nim-lang/Nim/issues/5691
I'm working on a fix :)

[2020-08-09 05:54] guzba commented on #12507
https://forum.nim-lang.org/t/5390

[2020-08-09 07:30] Araq commented on #15146
These scripts are for Linux package creators and not for the general public. If you want installation to /usr/bin, use your Linux package manager.

[2020-08-09 07:30] #15146 closed, assigned to nobody

[2020-08-09 14:14] doongjohn commented on #11553
Any update?

[2020-08-09 14:19] Clyybber commented on #11553
The spec changed, the compiler will now use `=sink` whenever possible, and if its not defined delegating to a combination of `=destroy` and copyMem. See https://github.com/nim-lang/Nim/blob/devel/doc/destructors.rst#sink-hook

[2020-08-09 15:38] StefanSalewski commented on #15168
OK, I have used new procs like

[code]

to avoid the problem, so I can close this issue.

[2020-08-09 15:38] #15168 closed, assigned to nobody

[2020-08-09 15:58] D-Nice commented on #15076
With nim -v `2a8bf470af995f4e7d5bb8a0f49bb2226f95c311` I still get what appear to be memory leaks with ORC and async by monitoring two processes, one built with REFC the other with ORC. After 12 hours of running, the REFC proc's RES tops at 8720 while ORC keeps growing, and its latest number is 163892.

It's a simple continuous GET request, with an intermittent pinging healthcheck optional, which

[2020-08-09 16:12] ghost commented on #15076
@D-Nice I know there are still some kind of leaks (I tried with asynchttpserver  for example), but they require more investigation to try to minimize like I did in this issue. async libs count in a lot of lines of code, so if you can, please try to minimize the code to trigger the leak :)

[2020-08-09 16:16] D-Nice commented on #9867
Compiled with recent devel: `2a8bf470af995f4e7d5bb8a0f49bb2226f95c311`

Compile flags for the code: `--gc:refc --stackTrace:on --debugger:native --skipProjCfg:on -d:chronicles_log_level:TRACE -d:danger --opt:size -d:ssl`

backtrace with native debugger flag:
[code]

logs
[code]

[2020-08-10 01:24] timotheecour commented on #15159
so what's the conclusion? can we safely ignore the warning `This issue has been automatically marked as stale because it has not had recent activity. If you think it is still a valid issue, write a comment below; otherwise it will be closed. Thank you for your contributions.` ?

[2020-08-10 22:27] stisa commented on #15081
More info and possible workaround:
moving [writeFloatToBuffer](https://github.com/nim-lang/Nim/blob/devel/lib/system/formatfloat.nim#L19) from `formatfloat.nim` to strmantle (exporting the other two procs and using `from formatfloat import nil` to avoid some ambiguous calls) *seems* enough to fix this.

[2020-08-11 00:34] disruptek commented on #12241
[code]

[2020-08-11 00:35] disruptek commented on #12241
Definitely the same as #13662.

[2020-08-11 04:05] alaviss commented on #9867
This seems to be caused by a double close. I've PR-ed a (hack?) fix in #15174. A proper fix will be done once I got some insight into some weird design within `asyncnet`.

[2020-08-11 06:06] mratsim commented on #15159
Another thing is that, we strongly request issue raisers to give us a minimal reproducing example. It may takes a couple hours to get one in complex codebases or when it touches complex parts of Nim.

Closing those after 3 months is not respectful to people hard work (point raised by @arnetheduck)

[2020-08-11 07:15] nitely opened #15176 "[docgen] runnableExamples causes subsection to be rendered as a section"
Maybe this is intended, or the right way is to use `.. code-block:: nim` with `:test:`. If that's the case close this.

### Example
[code]

### Current Output

"Subsection 2" is rendered as `<h1>Subsection 2</h1>`

### Expected Output

"Subsection 2" is rendered as `<h2>Subsection 2</h2>`

### Additional Information

Using a code block works as expected:

[code]

[code]

[2020-08-11 09:05] zah commented on #15159
The list of open issues on Github is a useful database. When you start working on particular sub-system in Nim, it's often useful to take a look at the list of ***open*** issues that might be related. This helps you understand the overall requirements better and sometimes leads to more comprehensive fixes, closing several issues at once.

Now, if we really want to reduce the number of Github issue

[2020-08-11 11:06] dom96 commented on #15159
I wonder how many commenters here also keep hundreds of tabs open in their browser because they are afraid that one of them might come in handy in the future? Then after years of this they end up with the same tabs opened over and over again, the old tabs long lost but there to give you comfort.

Unlike tabs, when an issue is closed it is not lost forever, so I don't buy the "it's useful to see is

[2020-08-11 11:38] arnetheduck commented on #15159
the tissue tool, while valuable, is a little bit too far away from sight - it would be more useful that issues that have a clear automated repro should be included in the test suite and counted as "known broken" - this helps keep an eye on a statistic that is in many ways more important than the number of tests that worked: the number of tests that fail and are known to fail - in particular, this

[2020-08-11 12:50] #5688 closed

[2020-08-11 12:50] #8473 closed

[2020-08-11 15:17] Techno-Fox opened #15177 "smtp.nim(161, 40) Error: type mismatch: got <typeof(nil)> but expected 'SslContext = void'"
I am trying to use smtp without ssl (I know security, but since staticly compiling ssl is still a pain im not. I've tried.). However, without -d:ssl the error appears about a type mismatch. If I'm not using ssl then why does this error appear. To be a bit more specific I'm trying to cross compile from linux to windows without needing ssl.

### Example
[code]

### Current Output

[code]

### Expect

[2020-08-11 18:32] Clyybber commented on #8745
Fixed in #14398 afaict

[2020-08-11 18:32] #8745 closed

[2020-08-13 05:51] jibal commented on #15165
@disruptek

How does it affect incremental compiling? (I'm not questioning that, I seriously would like to understand the issue.)

[2020-08-13 05:59] jibal commented on #15165
@alehander92

There's no need for both the column number and the line number to take 16 bits; the column number could be cut down, say to 10 bits to be generous, allowing for 4194304 lines before overflow. Unfortunately, making such a change isn't quite trivial because of all the uint16 casts rather than using proper accessors.

[2020-08-13 06:28] jibal commented on #15159
I don't see any value at all to auto-closing issues.  There's a Low Priority tag--why not use that? Close means something very different. (And if a bot started closing my browser tabs on me I would be quite unhappy ... not that I think that analogy is valid).

Lack of a recent comment _does not mean_ that nobody cares about it.

[2020-08-13 06:41] jibal commented on #15128
There's nothing invalid about strings containing NULs. They won't play well with C, but they're valid Nim. From the manual: "Strings in Nim may contain any 8-bit value, even embedded zeros. However some operations may interpret the first binary zero as a terminator."

[2020-08-13 06:49] jibal commented on #14952
There are quite a few languages where it is not an l-value.

That's a very legitimate complaint. And if it's changed to

[code]

then the error message is "tst.nim(7, 18) Error: invalid indentation" which is Nim's favorite obscure fallback error message. At least it gives the correct column number for the error.

[2020-08-13 07:24] ghost commented on #14952
@jibal your code is invalid anyway, in Nim assignments don't return a value, they're statements, so you can't do "double assignment" like that

[2020-08-13 07:36] jibal commented on #14952
I'm well aware that the code is invalid (which was already discussed above), but that has absolutely nothing to do with the point, which is about the error message.

[2020-08-13 07:50] ghost commented on #14952
@jibal well I know, that's why I marked my message as off-topic so you wouldn't reply to it, but you still did :)

[2020-08-13 07:58] jibal commented on #14952
Better to delete it, since it's completely irrelevant and pointless. It doesn't matter how you marked it; that you posted it resulted in sending an annoying message to my mailbox.

[2020-08-13 09:05] not-lum opened #15181 "Any command of the Nim compiler changes the terminal language (from Russian to English)"
I am from Russia so the language in my system is russian too. But when I write in the terminal any Nim compiler's command(for example `nim secret` or `nim -v`) language in my terminal changes to English. If I restart my terminal language turns into russian again. In GIF you can see how the terminal language changes.

![Windows-Terminal-2020-08-13-12-00-16](https://user-images.githubusercontent.com

[2020-08-13 16:34] disruptek commented on #15165
When caching nodes, we have a trivial encoding optimization that is,
nonetheless, still relatively expensive when it comes to recording so very
many values. Nim's extensive metaprogramming makes the problem worse.

[2020-08-14 07:46] ghost commented on #15165
@Araq @timotheecour no, macros won't work because the generated code is for type definitions, function declarations etc. `include` won't help either because there are recursive types and nim doesn't support the forward declaration of types(?). Unfortunately, nim's underscore quirks and other naming issues provide a really bad C compatibility which is why we dropped nim support.

[2020-08-14 11:44] sschwarzer commented on #15142
I have made the following commits:

https://github.com/nim-lang/Nim/compare/devel...sschwarzer:strictfuncs_errors2

With these commits, my script (linked above) no longer reports side effect errors with `experimental: "strictFuncs"` enabled.

Should I create a single pull request, one per file or something else? Please let me know.

[2020-08-14 15:16] timotheecour opened #15182 "raised exceptions should show parent exception(s) for context"
raised exceptions should show parent exception(s) for context

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

### Example 2
`proc `$`(s: seq[StackTraceEntry]): string =` in excpt.nim should be exported or, preferably (to avoid clash with regular $ or even with asyncfutures.$) at least have an exported alias, eg `toString`, to at least allow client code to print exceptio

[2020-08-14 18:23] juancarlospaco opened #15183 "Documentation regression jsre module missing"
- https://nim-lang.github.io/Nim/jsre.html
- https://github.com/nim-lang/Nim/blob/devel/lib/js/jsre.nim
- I can confirm it was there some time ago, but it is 404 now.

[2020-08-14 18:49] C-NERD commented on #15183
You can generate the documentation by typing "Nim doc fullpath to the module"

[2020-08-14 18:58] wiremoons opened #15184 "Blank first Nim documentation tag ('##') causes text to be quoted in HTML output"
A blank first Nim documentation tag ('##') causes text to be fronted by a grey bar (quoted?) in the resulting HTML output.

### Example
When using Nim documentation tags, if a blank first line is used, and the `nim doc <file.nim>`  is run, the resulting output has grey bar in front it the text block - as though it is being quoted:

[code]
See full examples and addtional comments here: https://play

[2020-08-14 19:32] StefanSalewski opened #15185 "Assignment does not work with with macro"
[code]

[code]

Restriction is not mentioned in API docs.

Full story:

http://ssalewski.de/gtkprogramming.html#_gtkbox

[2020-08-14 22:37] alaviss commented on #15185
Support pending in #14484.

[2020-08-14 23:33] Clyybber commented on #15185
#14484 has been merged

[2020-08-14 23:33] #15185 closed, assigned to nobody

[2020-08-14 23:33] Clyybber commented on #13967
Fixed by #14484

[2020-08-14 23:33] #13967 closed, assigned to nobody

[2020-08-15 00:23] Jjp137 commented on #15183
Seems to be caused by 4b93c61f0d783cbc1ce35d4494b533186595cdbd. For some reason, jsre was added to the list of modules to be ignored in an attempt to fix a problem with nightly builds. Removing the added line at line 163 of tools/kochdocs.nim and recompiling koch works for me locally, though. I'm not sure what the problem exactly was, though.

[2020-08-15 13:56] juancarlospaco commented on #15183
Thanks @Jjp137 !; Maybe @narimiran knows best the reason,
is Ok to disable if it was a Blocker, but should be Fixed on the long run anyways.
:)

[2020-08-15 14:10] juancarlospaco commented on #15165
How other programming languages do it?, Nim cant be the only one in the world that has line numbers.
All programming languages have limits too, I remember Python has a limit of 255 function arguments.

[2020-08-15 14:33] juancarlospaco commented on #15163
Wiki explicitly says "Disclaimer: Everything on the Wiki is Unofficial".

I did not know how to make it more explicit than "Arrow Functions requires import sugar".

Everyone is welcome to help improving it.
:)

[2020-08-15 14:47] davidbruce opened #15186 "Compiler Seg faulting when using "object" instead of "ref object" for nested object"
Originally from: https://forum.nim-lang.org/t/6679

I ran into a incredible frustrating issue where my compiler was seg faulting due to missing a ref in a type declaration. In the below code just swapping Node[T] = object to Node[T] = ref object stops the seg fault and compiles and runs as expected. In fact on MacOS I don't even get the segfault error, Segmentation fault (core dumped), instead the

[2020-08-15 14:48] zolomatok commented on #15163
So? You are not being useful here with that comment. Plus, it's resolved.

Well, that disclaimer is hidden as hell.
Plus, _hlaaftana_ made the note about importing sugar more visible because it was woefully hidden as well.

[2020-08-15 15:20] juancarlospaco commented on #15163
Bug status is not resolved, maybe close this bug then ?.

I think of making it **Bold**, but too much Bold kinda stops having the visual significance, next time well use `<marquee>`.

:)

[2020-08-15 23:43] JDragan opened #15188 "Extra backtick added in the function params on JS backend"
### Example
https://github.com/andreaferretti/react.nim/blob/master/example/app.nim

### Current Output

[code]

### Expected Output
[code]

[code]

[2020-08-16 00:29] JDragan commented on #15188
I just tested the example from the latest commit, it compiles ok, therefore closing this issue.

[2020-08-16 00:29] #15188 closed, assigned to nobody

[2020-08-16 02:30] Techno-Fox commented on #15177
The error also persists when not cross compiling.

[2020-08-16 15:51] StefanSalewski opened #15190 "for i, l in "Nim Rust ZIG".split:"
[code]

[code]

May there exist a trick to make it work? All may attempts fail, but I guess it may work?

[2020-08-16 17:13] wltsmrz commented on #15190
[code]

[2020-08-16 18:41] zupat opened #15191 "Regex with multiple quotes(") not compiling (Error: invalid character constant)"
I can't get my regex to compile. It's a valid string as soon in the test variable but it's not a valid regex.

### Example
[code]

[code]

[2020-08-16 18:42] bung87 opened #15192 "async with tags:XXEffect cause Error: can have an unlisted effect: RootEffect"
async with tags:XXEffect cause Error: can have an unlisted effect: RootEffect

### Example
[code]

### Current Output

[code]

### Expected Output
compile without error

[code]
### playground:
https://play.nim-lang.org/#ix=2umq

[2020-08-17 03:38] ghost commented on #15192
https://nim-lang.org/docs/asyncdispatch.html#limitationsslashbugs

[2020-08-17 03:45] bung87 commented on #15192
hi yardanico , what's the relationship between `tags:[XXEffect]` and `raises:[]` ?

[2020-08-17 03:51] ghost commented on #15192
@bung87 well, they're both a part of the effect system

[2020-08-17 03:52] ghost commented on #15192
Also see https://github.com/nim-lang/Nim/issues/6639, but keep this issue open :)

[2020-08-17 03:54] bung87 commented on #15192
ok , thanks! I'll leave it as is.

[2020-08-17 05:05] Skrylar commented on #5894
No longer replicates as of 1.2.6.

[2020-08-17 05:05] #5894 closed

[2020-08-17 06:10] StefanSalewski commented on #15190
Interesting, thanks. Overhead seems to be 4k bytes, a lot indeed:

[code]

[code]

And with your solution:

[code]

[2020-08-17 06:16] Araq commented on #15190
No bug here and 4K of "overhead" is noise on machines where 4K is a single page of memory.

[2020-08-17 06:16] #15190 closed, assigned to nobody

[2020-08-17 06:17] ringabout commented on #15190
Workaround:
[code]
or
[code]

[2020-08-17 06:23] StefanSalewski commented on #15190
@xflywind

Yes, both of your suggestions are great, no overhead in program size!
Maybe you should tell araq about it :-)

[2020-08-17 06:30] Araq commented on #15191
This works.

[code]

In general the easiest way is to use ``"""..."""`` then you don't have to escape ``\`` nor ``"``

[2020-08-17 06:30] #15191 closed, assigned to nobody

[2020-08-17 07:12] Araq commented on #15163
I can see the updates to the wiki page, closing.

[2020-08-17 07:12] #15163 closed, assigned to nobody

[2020-08-17 07:17] narimiran commented on #15159
The stale bot now only works on pull requests, notifying the authors of the PRs which haven't had any activity in last two years to please rebase on the latest devel.

[2020-08-17 07:18] narimiran commented on #15183
Yes, it was causing problems and we have disabled it on purpose.

[2020-08-17 07:21] Araq commented on #15165
@juancarlospaco LLVM uses a dedicated structure based on file offsets (int32) that are translated into (line, col) pairs on demand. So that it uses little memory like Nim, but without the 65000 limit. It's much work to implement though.

[2020-08-17 07:41] ghost opened #15194 "Dynamic loading of libraries broken on NixOS"
Nim binaries run on NixOS give an error when loading libraries that look similar to this:
`could not load: libcrypto.so(.1.1|.1.0.2|.1.0.1|.1.0.0|.0.9.9|.0.9.8|.47|.46|.45|.44|.43|.41|.39|.38|.10|)`.

This is because NixOS does not have a system-wide directory that libraries can be loaded from by name (`libcrypto.so`). Normally a binary while have a RUNPATH/rpath set in the ELF header that contain

[2020-08-17 07:44] Araq commented on #15159
One minor addition to the discussion: We don't know how many bugs remain unreported because there are 1700 open issues and reporters cannot be bothered to check for a duplicate of their bug. That would mean we care more about preserving history than about bugs newcomers actually encounter.

[2020-08-17 08:46] Araq commented on #15142
Single pull request suffices. However, it looks like most of these indicate "strictFuncs" bugs, not stdlib problems.

[2020-08-17 08:58] Araq commented on #15181
Please bootstrap via ``koch boot -d:release -d:nimDontSetUtf8CodePage`` and see if it helps.

[2020-08-17 09:04] Araq commented on #15165
Oh, I like this idea! :-)

[2020-08-17 09:12] sschwarzer commented on #15142
Indeed I was wondering if just the side effect analysis for `strictFuncs` didn't work correctly. That was also a reason why I didn't include these changes in my first pull request. I can't tell whether the analysis is ok because I don't know what the intended semantics for the analysis are. :-)

*If* the annotations are correct - once the side effect analysis is improved - wouldn't it be better *n

[2020-08-17 09:32] Araq commented on #15142
Yes, exactly.

[2020-08-17 09:48] not-lum commented on #15181
@Araq It did not help.

[2020-08-17 09:52] arnetheduck commented on #15159
If good (reproducible) issues were automatically added to a known-fail test-suite, duplicates wouldn't matter: the fix would make all relevant tests pass, thus resolve all duplicates.

[2020-08-17 10:07] #5172 closed

[2020-08-17 10:08] Araq commented on #5172
Nobody is working on this.

[2020-08-17 10:33] Araq commented on #15181
Are you sure you used the right ``nim.exe`` for testing afterwards?

[2020-08-17 11:13] sschwarzer commented on #15142
Ok, what do we do with this ticket now? Strictly speaking, the wrong annotations (in `strtabs` and `xmltree`) have been fixed, so we can close this ticket.

However, it might still be worth to act on this ticket by adding test cases to Nim to be triggered by the faulty `strictFuncs` analysis. But maybe this should go into a new ticket.

Anyway, make up your mind and feel free to close this ticket

[2020-08-17 12:32] #15177 closed, assigned to nobody

[2020-08-17 12:37] Araq commented on #15142
I'm leaving this open since I'm working on a fix.

[2020-08-17 12:57] #11553 closed

[2020-08-17 13:01] Araq commented on #10193
Well, that's not how template expansion works though.

[2020-08-17 14:00] Clyybber commented on #10193
Maybe we should convert/bind unnamed breaks into named ones in sem.

[2020-08-17 14:40] not-lum commented on #15181
I have 2 `nim.exe`. I set Nim from `.choosenim` to my PATH and now that's working! Thank you! But some packages(like inim) which I installed via nimble have to be in the PATH and they are in `.nimble\bin` folder. So how can I set them in PATH?

It is problem because another `nim.exe` in `.nimble\bin` folder and it may conflict with `.choosenim\toolchains\nim-1.2.6\bin\nim.exe`. And there is no `ko

[2020-08-17 14:46] disruptek commented on #10193
I like this idea, but the current behavior is not at all surprising.

[2020-08-17 17:19] royneary opened #15197 "IOVec.iov_len should be unsigned on all platforms"
When using ``IOVec`` from the ``posix`` module on some posix platforms (``linux+amd64``, ``nintendoswitch``), its ``iov_len`` field is declared as unsigned integer. On the other posix platforms (``macos+amd64``, ``openbsd+amd64`` and ``other``) it's declared as signed integer. So I can't compile the code below on all posix platforms.

### Example
[code]

### Current Output
I am able to compile the

[2020-08-17 18:15] Araq commented on #644
Indeed.

[2020-08-17 18:15] #644 closed

[2020-08-17 18:59] KittyTechnoProgrammer opened #15198 "Error: SMTP module compiled without SSL support"
Function `echo` outputs the wrong string.

### Example
[code]

### Current Output

[code]

### Expected Output
[code]

### Possible Solution

* Don't require ssl if the programmer doesn't want to use ssl with smtp.

[code]

[2020-08-17 19:31] disruptek commented on #13510
Here's my repro, which still demonstrates the problem:

https://github.com/disruptek/nimph/blob/master/src/nimph/group.nim#L131

[2020-08-17 20:46] 2HgO opened #15200 "sslv3 alert handshake failure when using db_msql.open and httpclient.HttpClient.request in the same project"
An `sslv3 alert handshake failure` is gotten when performing an http request and creating a connection to mysql in the same project.

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

However, the snippet below outputs the desired result:
[code]

### Additional Information

Might I be doing something wrong?

[code]

[2020-08-17 21:22] Skrylar commented on #15159
there isn't much automatic about this; someone has to fit the test in to a
framework and spot check it isn't trying to compile abuse code.

[2020-08-17 21:51] dom96 commented on #15159
I think the general consensus is:

* community doesn't want this
* core devs do

I think this *may* be a result of things that only the core devs have experienced, but I also believe that listening to the community is a good way to develop Nim so I support the decision to follow what appears to be the community consensus.

I think we can close this now.

[2020-08-17 21:51] #15159 closed, assigned to nobody

[2020-08-18 10:47] Araq commented on #15142
Fixed as far as I can tell.

[2020-08-18 10:47] #15142 closed, assigned to nobody

[2020-08-18 12:26] krux02 commented on #13510
@disruptek the comment I made about not being reproducable means that the issue should contain a code listing according to the issue template that can be compiled without any further change to reproduce the problem.

[2020-08-18 17:25] disruptek commented on #13510
It's a nice idea but I'm loathe to release a broken version of nimph just to satisfy the issue template.  The fact that I'm currently unable to reduce the bug doesn't make the bug any less real.

[2020-08-18 18:05] genotrance opened #15202 "--gc:arc segfaults if dll modifies object owned by main executable"
Consider main program:
[code]

It loads a library:
[code]

This works fine for `--gc:boehm` and default gc but not for `--gc:arc`. Can test with this nims script:

[code]

Stack trace for arc crash is:
[code]

[2020-08-19 05:17] demotomohiro commented on #13804
When 2 "`_`" are used in tuple unpacking in a template, it generate compile error.

[code]

[2020-08-19 10:23] krux02 commented on #13510
Well then you should at least mention in the issue that you were unable to reduce the bug to a small example. The problem here is, back when I worked on bugs I skipped issues that don't bother to put in a reproducable example. And how should I distinguish from "you tried really hard to reduce the problem but couldn't" from "You didn't bother to put in a reproducable example", if you don't explain

[2020-08-19 14:48] disruptek commented on #13510
If I knew why I couldn’t reduce the bug then we wouldn’t be having this conversation.

If you want to help without working on this vague bug, I’m working on a tool to reduce bugs.  It’s very crude and has grown less ambitious as I’ve run up against problems in the compiler, but it’s arguably a better place to type than GitHub comments:

https://github.com/disruptek/dust

It doesn’t yet attempt to

[2020-08-19 15:26] HugoP707 opened #15203 "Compile time float64 are silently converted to float32"
Either allow compile time floats to be 64 bit also, or raise an error/warning telling the user about this.

[code]
Output:
[code]

[2020-08-19 17:19] al6x opened #15204 "Compiler should catch bug of adding wrong object to sequence at compile time"
### Summary

Improve compile time inspection and catch adding wrong type to the sequence at the compile time.

Compiler fails to catch that bug and it causes runtime exception.

### Additional Information

This code should fail at compile time, not runtime

[code]

[2020-08-19 17:23] al6x opened #15205 "Catch invalid variant object usage at compile time."
### Summary

Improve compile time inspection and catch wrong usage of variant object at compile time.

Currently compiler fails to catch that bug and it causes runtime exception.

### Additional Information

This code should fail at compile time, not runtime

[code]

[2020-08-20 13:16] whiterock commented on #2684
Has this been fixed by now? Just encountered the same error in my code on 1.2.0

[2020-08-21 08:28] cheatfate opened #15207 "Crash and incorrect return values when using readPasswordFromStdin on Windows."
### Example
[code]
On Windows you can get:
[code]

On Linux you will get:
[code]

Also `readPasswordFromStdin()` on Linux always returns `true`, while on Windows it is always returns `false`.

[2020-08-21 10:01] mratsim opened #15209 "var_t_return.html wrong link for stdlib modules"
The var_t_return link is linking to the wrong place **for standard library proc only**.
See https://github.com/nim-lang/Nim/pull/15208/checks?check_run_id=1011793080#step:10:77
![image](https://user-images.githubusercontent.com/22738317/90878372-b5f40a80-e3a5-11ea-9ee8-df17ab7ccf53.png)

From: https://github.com/nim-lang/Nim/pull/15208/commits/7e1d2e41d51439927fa3821eec686a35b97d1ba4

Note, an ext

[2020-08-21 14:44] tersec opened #15210 "Inconsistent unsigned -> signed RangeDefect usage across integer sizes"
Converting `uint8`, `uint16`, and `uint32` to, respectively, `int8`, `int16`, and `int32` values out of range of the target type results in a `RangeError`, but converting a `uint64` outside of signed 64-bit range to `int64` behaves differently, apparently reinterpreting the bit pattern in place, with no error. This seems a less-than-optimal level of internal consistency.

This comes up in https://

[2020-08-21 20:28] HymanZHAN commented on #13104
@Araq This issue hasn't been fully fixed yet. I just tried to install nim with choosenim today and the nim-gdb is still missing from there.

![Screenshot from 2020-08-21 16-23-54](https://user-images.githubusercontent.com/26806995/90931736-409b3080-e3cb-11ea-83d7-d7a99cba3551.png)

[2020-08-22 06:40] ghost commented on #15194
This can be fixed downstream.

[2020-08-22 06:40] #15194 closed, assigned to nobody

[2020-08-22 06:50] jibal opened #15213 "Doesn't removing enum values in options.nim break binary compatibility?"
options.nim has the comment

``GlobalOption* = enum        # **keep binary compatible**``

yet optNimV019, optOldAst, and possibly others were removed rather than stubbed, shifting later values.

[2020-08-22 09:15] hackwaly opened #15214 "[Feature request] Make asyncdispatch easy to integrate with other event loop in main thread"
### Summary

Currently `asyncdispatch` provides `poll`, `drain` to give ability to drive event loop manually. But both `poll` and `drain` process events in calling thread. Make it hard to wait events in background thread and process them in main thread. So hard to integrate with other event loop (Such as Cocoa NSApplication) in main thread.

I propose that `asyncdispatch` to give an optional param

[2020-08-22 09:59] dom96 opened #15215 "net.connect with timeout parameter broken for SSL sockets"
Reported in #15206. This issue is to track it and to have a point of reference for the docs.

[2020-08-22 10:06] dom96 commented on #15214
I don't understand this proposal. There is no getting around having to call `poll` in the thread that you want to process the events in. You cannot access the dispatcher for that thread otherwise.

Furthermore, you can integrate with another event just fine. I've done it for Cocoa and for SDL's.

[2020-08-22 10:06] #15214 closed, assigned to nobody

[2020-08-22 15:26] hackwaly commented on #15214
Hello @dom96

Where I can see your code about integrate with another event loop? I'd love to study how to achieve that.

[2020-08-22 16:14] dom96 commented on #15214
There are different ways you can do it. Most event loops have a way to run things every x miliseconds, then you can call asyncdispatch.poll in that callback.

Another way is to do it the way I did it in this library https://github.com/dom96/notifications

[2020-08-23 00:25] exelotl opened #15218 "Const variant object fields are incorrectly set to zero"
When a variant object is bound to a `const`, the latter fields are initalised to 0, which *overwrites* the former fields.

### Example

[code]

### Current Output
[code]

### Expected Output
[code]

### Additional Information

This only seems to happen when using `const`
i.e. the following are fine:

[code]

---

[code]

[2020-08-23 07:59] tauplus opened #15219 "SQL escape in db_mysql is not enough"
SQL injection is possible because proc [`dbQuote`](https://github.com/nim-lang/Nim/blob/v1.2.6/lib/impure/db_mysql.nim#L117) in [`db_mysql`](https://nim-lang.org/docs/db_mysql.html) doesn't escape backslash`\`.

### Example
[code]

### Output
[code]

### Possible Solution

- When [`NO_BACKSLASH_ESCAPES`](https://dev.mysql.com/doc/refman/5.6/en/sql-mode.html#sqlmode_no_backslash_escapes) is disable

[2020-08-23 12:43] vieruuuu opened #15220 "OpenSSL static linking on Windows"
Can't static link OpenSSL on windows

### Used command
[code]

### Solution
[code]

### Additional Information
@alaviss on the discord server helped me fix this
[code]

someone fix this my head hurts

[2020-08-23 15:16] deech opened #15221 "Possible capture error with fieldPairs and genericParams"
`int` is echoed 3 times

### Example
[code]

### Current Output
[code]

### Expected Output
[code]

[code]

[2020-08-23 15:55] shirleyquirk commented on #15218
Duplicate of #13081, link #8007 #8015
See https://forum.nim-lang.org/t/6530 for workarounds

[2020-08-23 16:10] ghost commented on #15218
Closing as a duplicate of #13081 :)

[2020-08-23 16:10] #15218 closed, assigned to nobody

[2020-08-23 17:38] boyanl commented on #14449
Sorry for the newbie question, but is there a way to work around this, apart from re-declaring accessors for the `distinct` type? (it's not too bad, but I'm wondering if there's something shorter)

[2020-08-24 08:21] mratsim commented on #14449
Working around type bugs is not a newbie question but an art. I use though mutable parameters requires some tricks with casts to raw addresses:

https://github.com/mratsim/trace-of-radiance/blob/99f7d85dec857f0efa0c9b0eafd339871599c0e1/trace_of_radiance/scenes_animated.nim#L71-L88

[code]

[2020-08-24 09:43] boyanl commented on #14449
Thanks, but unless I'm missing a subtler point, it seem like it's a different issue?
I'll just do without the generic type for now, it's easy enough

[2020-08-24 09:50] mratsim commented on #14449
Ah right it was https://github.com/nim-lang/Nim/issues/14440, my bad. I created many distinct issues at that time.

[2020-08-24 20:22] wltsmrz commented on #15197
@royneary

[2020-08-24 21:13] #15197 closed, assigned to nobody

[2020-08-24 21:13] Clyybber commented on #15197
Fixed in #15216

[2020-08-24 23:52] doongjohn commented on #11572
I can still find full path in a binary file with `-d:release` `--excessiveStackTrace:off` is this intended? or am I missing something?

![](https://i.imgur.com/C62Ew01.png)

[2020-08-25 01:07] disruptek commented on #4319
Still a problem and still hard to reason about.

[2020-08-25 03:00] alaviss commented on #11572
It doesn't come from Nim, but from the miniz C source code:

https://github.com/h3rald/nim-miniz/blob/b47edf871f2c780b72dcce7da232ef5afee57d56/src/libminiz.c#L1907

You can compile with `--passC:-DNDEBUG` to disable assertions within miniz.

[2020-08-25 07:45] billziss-gh commented on #15064
Please note that I have stumbled onto a similar issue.

The following program:

[code]

Outputs:

[code]

[2020-08-25 07:57] #15064 closed, assigned to nobody

[2020-08-25 13:31] narimiran commented on #15064
@billziss-gh with the now-merged PR the output is:

[code]

[2020-08-25 15:38] billziss-gh commented on #15064
Thank you for the quick turn around.

[2020-08-25 17:25] disruptek commented on #15160
My fault; cannot use the same `as` symbol in multiple clauses.

[2020-08-25 17:54] zevv opened #15225 "Generic converter: cannot instantiate"
The snippet below does not compile:

[code]

but instead gives this error:

[code]

Isn't this something that should work, given that the whole reason of converters is that they are dispatched on return type?

[2020-08-25 18:06] Clyybber commented on #15160
Illegal symbol reuse should probably be catched before codegen.

[2020-08-26 08:12] Araq commented on #15198
Is this really a good idea?

[2020-08-26 08:24] Araq commented on #15202
Why does the program call into Nim's ``listRemove`` at all? ``-d:useMalloc`` is supposed to use C's malloc internally.

[2020-08-26 11:48] Araq commented on #15213
This comment is a lie since incremental recompilations has not been completely implemented / tested.

[2020-08-26 11:48] #15213 closed, assigned to nobody

[2020-08-26 12:24] genotrance commented on #15202
Looks like the test script doesn't really add useMalloc. So the above can be treated as an issue without useMalloc.

I'll try again with it and see what the results are.

[2020-08-26 13:27] #15207 closed, assigned to nobody

[2020-08-26 14:42] genotrance commented on #15202
I tried with -d:useMalloc and it worked without crashing. So the issue is only with `--gc:arc` but without `-d:useMalloc`.

[2020-08-26 14:44] ghost commented on #15202
@genotrance you might also run valgrind on the program compiled with -d:useMalloc since malloc/free won't always report some errors if you have them.

[2020-08-26 15:01] genotrance commented on #15202
I tried with valgrind, realized I wasn't unloading the library at the end. Once I added that code, valgrind had no problems. Updated the snippet.

[code]

[2020-08-26 17:27] mratsim commented on #8231
Fixed by #15070

[2020-08-26 17:27] #8231 closed

[2020-08-26 18:03] tauplus commented on #15219
In order to escape SQL properly, it is necessary to check whether `NO_BACKSLASH_ESCAPES` is enable.
But it is not easy because there are some differences between C struct and Nim object.
For example, [`MYSQL`](https://dev.mysql.com/doc/dev/mysql-server/latest/structMYSQL.html) and [`St_mysql`](https://nim-lang.org/docs/mysql.html#St_mysql), [`NET`](https://dev.mysql.com/doc/dev/mysql-server/latest

[2020-08-27 09:25] #15221 closed, assigned to narimiran

[2020-08-27 10:09] al6x commented on #13051
Maybe it would be better to rename `stats` into something like `running_stats` or `online_stats` that would host limited set of memory efficient algorithms?

And let the `stats` module to have basic things like `median` and `percentile/quantile`?

[2020-08-27 10:57] narimiran commented on #15209
This is fixed in devel and it points to https://nim-lang.github.io/Nim/var_t_return.html

This was the PR where it was changed: https://github.com/nim-lang/Nim/pull/14477/files#diff-dc05830f41a222a0b826e05a04ebd1e0R16-R18

[2020-08-27 10:57] #15209 closed, assigned to nobody

[2020-08-27 13:51] #5691 closed

[2020-08-27 13:51] #15170 closed, assigned to nobody

[2020-08-27 14:53] alaviss opened #15231 ""Most of the winlean declarations are incorrect or non stable.""
This issue is created to track the [feedback](https://github.com/status-im/nim-stew/pull/53#issuecomment-681850810) regarding `winlean` from @cheatfate

[2020-08-27 15:28] pietroppeter commented on #8901
Since this is apparently staying with us, we might as well think of it as a feature. 😄

This would allow e.g. keys of a table to be used directly as a sequence (see also #13595), as one creative user did [here](https://stackoverflow.com/questions/63616493/is-it-safe-to-use-proc-with-the-same-name-as-iterator-in-nim):

[code]

[2020-08-27 18:10] al6x commented on #8901
Hi guys, as @pietroppeter mentioned I discovered this issue today :).

I tried `table.keys.sorted` and was surprised it didn't work, that was especially strange as I saw `keys` in the docs of `tables` module.

+1 for keeping this feature until there will be a better way to support function composition like chaining etc. Being able to compose functions is important feature, would be sad to loose it

[2020-08-28 00:59] ephetic commented on #12782
FWiW, I'm new to Nim, I had exactly the reaction described above, and `testament` does not appear to have been installed with Nim (at least there is not a binary in `/usr/local/Cellar/nim/1.2.6/bin`).  After 15 minutes trying to get Google to not return results about the Bible, I found myself here.

[2020-08-28 06:03] 2HgO commented on #15200
This was an openssl issue, I have fixed that now and will close this.

[2020-08-28 06:03] #15200 closed, assigned to nobody

[2020-08-28 09:53] Araq commented on #8901
I still prefer a unification of procs and iterators but ok, you have a point.

[2020-08-28 10:07] Araq commented on #13051
@al6x I'm not a fan of renames but we can add a ``FullStat`` object that offers quantiles etc and is not constrainted to O(1) memory requirements.

[2020-08-28 12:29] tauplus commented on #15219
I think  that leave `dbQuote` as it is and create a new proc (which escape backslash as https://github.com/bung87/Nim/commit/f4a7cd9eaab4a615a308ef20ea08946273c3b7ee) is better.
It is because we don't need to escape backslash when `NO_BACKSLASH_ESCAPES` is enable.
- call the new proc in `dbFormat` when `NO_BACKSLASH_ESCAPES` is disable.
- call `dbQuote` in `dbFormat` when `NO_BACKSLASH_ESCAPES` is

[2020-08-28 14:30] tauplus commented on #15219
## FYI  (You can ignore)
When`NO_BACKSLASH_ESCAPES` is enable, `real_escape_string()` returns `-1`.
If you want to know whether `NO_BACKSLASH_ESCAPES` is enabled by any means necessary, you can do it by following code.

[code]

### Output
[code]

[2020-08-28 17:14] cooldome opened #15238 "Arc sink arg crash"
Compile with `--gc:arc -d:danger`
### Example
[code]
Should crash

The issue caused by the fact that in generated c code the sinkArg argument is passed by value not by pointer/reference

[2020-08-28 17:21] cooldome commented on #15238
Another interesting question.
Do you expect output to be ` @["a", "b"]`  or `@[]` ?

[2020-08-28 17:24] Clyybber commented on #15238
I think `@["a", "b"]`, since we didn't explicitly do `sinkArg(move lst)`

[2020-08-28 17:31] cooldome commented on #15238
@Clyybber, your answer is surprise for me.

var param into sink should produce copy. Is this your the statement?

[2020-08-28 17:38] alaviss commented on #15238
This is how that should work from what I can tell:

[code]

I'm not too familiar with how Nim actually does the analysis, so this might not be the desired result, though IMO it's the least surprising.

[2020-08-28 17:42] cooldome commented on #15238
If Nim will pass `lst` at line `sinkArg(lst)` it will be destroyed and you should get `@[]` in the end.
If Nim will pass a copy of `lst` at line `sinkArg(lst)` you will get `@["a", "b"]`.

Question: what is the correct behavior according to our spec? to copy or not to copy.